  <div class="product_preview" style="width: 750px">
    <div class="product_preview_thumb">
        <img src="images/one/brother/pages/MFC-L6900DW.jpg" alt="MFC-L6900DW">
    </div>
    <div class="product_preview_info">
      <p>Weight: <strong>xx</strong></p>
      <p>Price: <strong>$2137.20</strong></p>
      <p>Additional freight charge:: <strong>$xxx.xx</strong></p>
      <form method="post" action="/basket.asp">
        <input type="hidden" name="action" value="addtobasket">
        <input type="hidden" name="id" value="39435">
        <input type="text" size="2" maxlength="4" name="quantity" value="1">
        &nbsp;<input type="submit" name="Buy" value="Buy">
      </form>
    </div>
    <div class="product_preview_details">
      <p><strong>Download Brochure:</strong> <a href="#">mfc-l6900dw.pdf</a></p>
      <p>New MFDs range from the $749 MFC-L5755 (similar features to the low-end printers, plus duplex scanning with a 50-page automatic document feeder) to the MFC-L6900DW (similar features to the high-end printers, plus duplex scanning with an 80-page ADF.</p>
    </div>
  </div>
