<head>
  <meta charset="UTF-8">
  <title>Docuprint P355 D</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee" target="_self" title="INKMAN’S BEST PRICE GUARANTEE" style="position:relative; display:inline-block;text-decoration:none;">
        <img src="/images/one/printers/beat-10.png" width="68" height="68" style="position:absolute; top: 8px;left:16px">
        <img src="/images/one/printers/banner-pricebeat-base.jpg" width="638" height="83">
        <span style="position:absolute;top:11px;left:14%;width:82%;text-align:center;font-size:19px;color:#0B2F8C">Fuji Xerox Docuprint P355 D BEST PRICE GUARANTEE</span>
      </a>
    </div>

    <!-- end product_cta -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">

     <p>The Fuji Xerox DocuPrint P355 D delivers brilliant performance for any small or medium sized business, combining speed, efficiency and excellent networking capabilities in one compact unit.</p>
     <p>With the features of a large enterprise machine yet at a price you can afford, the DocuPrint P355 d is the ideal choice for busy work groups.</p>
     <h4>Quick Facts:</h4>
     <ul>
       <li>Print up to 35 ppm</li>
       <li>Powerful 533 MHz processor</li>
       <li>Resolution up to 1200 x 1200 dpi</li>
       <li>Automatic duplex</li>
       <li>Gigabit ethernet</li>
     </ul>
     
    </div>

    <br><br>
    <!-- features  -->
    <div>
      <h2 style="text-align:center">Main Features</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <h4>A powerful performer that keeps pace with your demands</h4>
      <ul>
        <li><strong>Keeps up with your busy work environment</strong>. With print speeds of 35 pages per minute you won’t be kept waiting for your print job.</li>
        <li><strong>Superb image clarity</strong>. The speedy 533 MHz processor and 256 MB memory together with genuine PostScript® 3™ ensures your image output is crisp, sharp and exactly how you intended.  </li>
        <li><strong>Fast off the mark</strong>. It takes just 6 seconds for your first page to appear in the output tray.</li>
        <li><strong>Print in a variety of media and sizes</strong>. From thick paper, card stock, envelopes or labels; this versatile printer gives you crisp print performance every time.</li>
        <li><strong>High yield toner means fewer pit stops</strong>. With 10,000 pages from one toner cartridge, it keeps you printing for longer without the need to stop and change cartridges.</li>
        <li><strong>Fast Networking</strong>. Gigabit Ethernet capability enables faster communication between the printer and the network.</li>
      </ul>

      <h4>Secure networking and effortless print management</h4>
      <ul>
        <li><strong>Confidential printing</strong>. Advanced security features such as Secure Print, Control Panel Lock, IPsec data encryption and IP filter ensures confidential and sensitive work can be encrypted for transmission over a network and hides it from prying eyes by only printing it when a password is entered on the control panel.</li>
        <li><strong>Easy setup and monitoring</strong>. The Centreware Internet Services (CWIS) function allows for easy configuration and access to the job status of the printer on the network. The software also generates email alerts that notify of events that require attention, such as low toner levels.</li>
        <li><strong>Take total control</strong>. The Fuji Xerox Auditron function is a comprehensive management tool for network administrators. It puts an end to internal squabbles over print budgets by allowing an administrator to control who uses the printer and set limits on print volume.      </li>
      </ul>
      
      <h4>Enterprise-wide operations</h4>
      <ul>
        <li><strong>Extend your LAN to WAN</strong>. The DocuPrint P355 d and M355 df are both supported for wide-area network printing in enterprise business applications, providing the same feature-rich environment as when printing over the office local-area network.</li>
        <li><strong>Expanded Citrix printing</strong>. The print utility for XenApp has a number of new features and provides enhanced usability and improved administration for Citrix printing.</li>
        <li><strong>Good news for SAP users</strong>. The ApeosWare Device type enables the DocuPrint P355 d to be used in SAP R/3 or mySAP environments, helping create beautifully formatted reports, forms and barcodes, and simplifying administrative chores.</li>
      </ul>
    </div>
    <!-- /features  -->

    <br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>

      <div>
        <h4>Performance</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Print Speed</span>
              </td>
              <td>
                <span>
                  Up to 35ppm</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>First Page Out</span>
              </td>
              <td>
                <span>
                  6 seconds or less (ready mode)</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Memory Standard/Maximum</span>
              </td>
              <td>
                <span>
                  256MB/768MB</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Print Language or PDL (Page Description Language)</span>
              </td>
              <td>
                <span>
                  PCL5/PCL6/Adobe Genuine PostScript ® 3™</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Duty Cycle</span>
              </td>
              <td>
                <span>
                  Maximum monthly: 69,000 pages</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Print Resolution (dpi)</span>
              </td>
              <td>
                <span>
                  Up to 1200 x 1200dpi</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Image Processing</span>
              </td>
              <td>
                <span>
                  533MHz</span>
              </td>
            </tr>

          </tbody>
        </table> 

        <h4>Paper Handling</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Auto 2-sided Printing (Duplex)</span>
              </td>
              <td>
                <span>
                  Standard</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Media Size</span>
              </td>
              <td>
                <span>
                  Main Tray: A4, B5, A5, Legal (8.5 × 14"), Folio (8.5 × 13")
                  Letter (8.5 × 11"), Executive
                  Custom: (Width: 139.7 – 215.9mm, Length: 210 – 355.6mm)
                  Multipurpose Tray: A4, B5, A5, Legal (8.5 × 14"), Folio (8.5 × 13")
                  Letter (8.5 × 11"), Executive, C5, Com-10, DL, Monarch
                  Custom (Width: 76.2 – 215.9mm, Length: 127 – 355.6mm)
                  Optional Tray: A4, B5, A5, Legal (8.5 × 14"), Folio (8.5 × 13")
                  Letter (8.5 × 11"), Executive, Custom(Width: 139.7 – 215.9mm
                  Length: 210 – 355.6mm)</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Paper Input Capability</span>
              </td>
              <td>
                <span>
                  Plain (60 – 80 gsm), Plain Thick (81 – 105 gsm)
                  Light Card (106 – 163 gsm), Heavy Card (164 – 216 gsm)
                  Envelope, Labels, Letterhead, Hole Punched, coloured

                  2 sided printing: 60 – 163 gsm plain paper

                  Media Input Capacity Main Tray and Optional Tray: 250 sheets
                  Multipurpose Tray: 50 sheets</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Paper Output Capability</span>
              </td>
              <td>
                <span>
                  150 sheets face down</span>
              </td>
            </tr>

          </tbody>
        </table>

        <h4>Network / Software</h4>
        <table cellspacing="0" style="font-size: 13px;width:100%">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Connectivity</span>
              </td>
              <td>
                <span>
                  USB2.0 (Hi-Speed)
                  10Base-T/100Base-TX/1000Base-T
                  IEEE802.11b/g/n (Optional)</span>
              </td>
            </tr>

          </tbody>
        </table>
         

        <h4>Special Features</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Printer Features</span>
              </td>
              <td>
                <span>
                  Toner Save Mode, Duplex, Print Cancel (from panel), N-up, Poster Watermarks, Collate, Image Rotation (180degree)</span>
              </td>
            </tr>

          </tbody>
        </table>

        <h4>Operation</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Operating</span>
              </td>
              <td>
                <span>
                  Microsoft Windows XP (32bit / 64bit), Server 2003 (32bit / 64bit)
                  Vista (32bit / 64bit), Server 2008 (32bit / 64bit)
                  Server 2008 R2 (64bit), Windows 7 (32bit / 64bit)
                  Mac OS X 10.3.9, 10.4, 10.5, 10.6, 10.7
                  Red Hat Enterprise Linux 5/6 (x86)
                  SUSE Linux Enterprise Desktop 10/11 (x86)</span>
              </td>
            </tr>

          </tbody>
        </table>

        <h4>Warranty</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Standard Warranty</span>
              </td>
              <td>
                <span>
                  One-year on-site warranty</span>
              </td>
            </tr>

          </tbody>
        </table>

      </div>

    </div>
    <!-- /specs -->

    <br>
    <br>

  </div>
</body>
