<head>
  <meta charset="UTF-8">
  <title>G-B-RJ4030</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- end product_cta -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <p>RJ mobile printers are Brother&apos;s most rugged and fastest, printing at up to 127 mm/sec. Designed with a tough construction, it comes with IP54 certification and 1.8 metre drop protection ensuring use under rugged conditions. The RJ-4030/40 mobile printers support ZPL II emulation and utilise direct thermal printing so no ink or toner is required. Printing wide 102mm labels at 203 DPI resolution, the RJ is available in either a Bluetooth or Wi-Fi model. The RJ mobile printers are ideal for markets such as field service and sales, public safety, warehousing and logistics/ delivery.</p>
    </div>

    <br><br>
    <!-- features  -->
    <div>
      <h2 style="text-align:center">Main Features</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br>
      <ul>
        <li>Fast print speed 127mm/sec (5 ips)</li>
        <li>Tough construction – IP54 certification and 6 ft. drop protection</li>
        <li>102mm sized paper and label printer</li>
        <li>ZPL II emulation</li>
        <li>Direct thermal technology for low maintenance costs</li>
        <li>USB, Serial, Bluetooth (RJ-4030) connectivity</li>
        <li>203 DPI resolution</li>
        <li>Up to 3M print length</li>
        <li>Supplied with Belt Clip, Shoulder Strap, Power adaptor and Li-ion battery. Optional accessories available.</li>
      </ul>
    </div>
    <!-- /features  -->

    <br><br>

    <!-- property -->
    <div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <img src="images/one/brother/truly-rugged-solution.jpg" alt="Truly Rugged Solution">
        </div>
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h3>Truly Rugged Solution</h3>
          <p>Mobile IT equipment is rated according to international standards for ingress protection (IP). IP Codes classify the degrees of protection provided by electrical enclosures from dust, water and impact. IP54 means that the equipment will operate in dusty conditions, and will resist splashing water. In addition to the above, the machine has also undergone 1.8m drop tests to provide extra credibility in terms of toughness and reliability.</p>
          <p>Due to the nature of many mobile applications, printers may be exposed to a range of outdoor conditions which can affect the print operation or cause damage e.g. traffic warden printing in the field. However, RJ carries IP54 certification offering that extra piece of mind for such outdoor applications subject to damp/moisture or maybe indoor environments where dust is present i.e. warehouse applications. The Brother RJ accessory options can also offer further protection.</p>
          <p>The very nature of thermal print technology also adds value to the general reliability of New RJ series. Customer feedback would suggest that thermal print technology is the only feasible solution for mobile workers because it is less susceptible to fluctuating seasonal temperatures and humidity extremes than inkjet technologies.</p>
        </div>
      </div>
      <br><br><br>
      <div style="display: table; width: 100%">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px; width: 100%; text-align:center">
          <img src="images/one/brother/rj-series.jpg" alt="RJ Series">
          <h3>RJ Series</h3>
          <p>The two new RJ-3 Models complement the existing Brother mobile print line up, which also includes the PJ700 Series (compact A4 thermal printer). With its growing commitment to mobility, Brother can now offer a full product range to address a wide range of mobile print applications requiring up to 118mm rolls, cut sheet output and full page A4 output in many different environments.</p>
          <p>Again, like the other printers in the Brother mobile portfolio, the RJ range uses direct thermal printing technology, which provides several benefits including higher reliability &amp; lower maintenance cost due to fewer moving parts and no ink toner/ribbon to replace.</p>
          <p>With a staggering print speed of 5ips/127mm, the RJ series can provide the ultimate solution which not only meets but exceeds industry expectations where efficiency of field professionals is paramount. This impressive print output can mean less wasted time, higher productivity, and increased customer satisfaction.</p>
        </div>
      </div>
    </div>
    <!-- /property -->

    <br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>
      <ul>
        <li>
          General
          <ul style="display: table;">
            <li>
              <strong>Model</strong>RJ-4030</li>
            <li>
              <strong>Print Engine</strong>Direct Thermal</li>
            <li>
              <strong>Functions</strong>104mm Mobile Printer with USB and Bluetooth interface</li>
            <li>
              <strong>Standard Memory</strong>Ram: 32Mb, Flash: 16Mb</li>
            <li>
              <strong>Drop Protection</strong>Drop protection to 1.8m to concrete<br>
              IP54 certified for dust and water</li>
            <li>
              <strong>Keyboard</strong>Power Key (On/Off), Bluetooth Key(On/Off), Paper Feed</li>
          </ul>
        </li>
        <li>
          Display
          <ul style="display: table;">
            <li>
              <strong>Display Type</strong>LED Power, Status, Battery, Connectivity Indicator</li>
          </ul>
        </li>
        <li>
          Printer
          <ul style="display: table;">
            <li>
              <strong>Emulation</strong>4 commands (Brother raster command, ESC/P command, P-touch template printer command, BPL)</li>
            <li>
              <strong>Print Speed</strong>Ave: 5ips or 127mm/sec (under Brother standard environment)</li>
            <li>
              <strong>Printer Resolution</strong>203 dpi</li>
            <li>
              <strong>Printer Driver Functions</strong>-</li>
            <li>
              <strong>Max Print Area</strong>104mm wide x 3m</li>
          </ul>
        </li>
        <li>
          Paper Handling
          <ul style="display: table;">
            <li>
              <strong>Standard Paper Capacity</strong>Non-coated Thermal paper, Coated thermal pape, Direct Thermal die cut labels, Weather Proof</li>
            <li>
              <strong>Media Size General</strong>51mm to 118mm(W), (max 58mm dia roll)<br>
              Thickness of Receipt: 0.051mm to 0.090mm<br>
              Thickness of Label: 0.080mm to 0.170mm<br>
              Core Dia of Receipt:12.7mm<br>
              Core Dia of Label: 25.4mm</li>
          </ul>
        </li>
        <li>
          Software
          <ul style="display: table;">
            <li>
              <strong>Software Development Kit</strong>Pocket PC2002/2003, Windows Mobile 5 / 6, Android 2.2, Windows XP/Vista/7/8</li>
            <li>
              <strong>Template Transfer to Machine</strong>Yes (also ZPLII via template)</li>
          </ul>
        </li>
        <li>
          Connectivity
          <ul style="display: table;">
            <li>
              <strong>Interface</strong>USB 2.0 Full Speed<br>
              Bluetooth Ver.2.0+EDR Class2, SPP, OPP, BIP PortProfile<br>
              RS232C</li>
            <li>
              <strong>Operating System</strong>Windows XP, Vista, 7, 8<br>
              SDK: Windows CE 5.0 or later, Windows Mobile 5 and later, Android 2.2 or later</li>
            <li>
              <strong>Mobile Operating System</strong>Software Development Kit for Pocket PC2002/2003, Windows Mobile 5 / 6, Android 2.2, Windows XP/ Vista/ Windows7</li>
          </ul>
        </li>
        <li>
          Networking
          <ul style="display: table;">
            <li>
              <strong>Wireless Interface</strong>NA</li>
            <li>
              <strong>Wireless Security</strong>NA</li>
          </ul>
        </li>
        <li>
          Options
          <ul style="display: table;">
            <li>
              <strong>Optional Power</strong>Rechargeable Li-ion Battery (PA-BT-4000)<br>
              AC Adapter/charger (PA-AD-600AUS)<br>
              Car Adapter, Wired, 15inch (PA-CD-600WR)<br>
              Car Adapter, CigPlug, 10inch (PA-CD-600CG)</li>
            <li>
              <strong>Optional Car Mount</strong>Yes - Fast Release RAM mount (PA-CM-4000)</li>
            <li>
              <strong>Optional magnetic card reader</strong>Yes (PA-MCR-4000)</li>
            <li>
              <strong>Optional Carry Case</strong>Vynil case (PA-WC-4000)</li>
          </ul>
        </li>
        <li>
          Consumable
          <ul style="display: table;">
            <li>
              <strong>Consumables</strong>RD Rolls, Custom rolls (receipt, pre print, fanfold)</li>
          </ul>
        </li>
        <li>
          Weight and Measures
          <ul style="display: table;">
            <li>
              <strong>Size</strong>162(W) x 77(D) x 176(H)mm</li>
            <li>
              <strong>Weight</strong>approx. 610g (excluding Battery: 240g)</li>
          </ul>
        </li>
        <li>
          Environment
          <ul style="display: table;">
            <li>
              <strong>Auto Power Off</strong>Yes</li>
            <li>
              <strong>Humidity</strong>Operating Humidity: 20 to 80%</li>
            <li>
              <strong>Temperature</strong>Temperature: -20 to 60deg C</li>
          </ul>
        </li>
        <li>
          Others
          <ul style="display: table;">
            <li>
              <strong>Warranty</strong>12 Months Return To Base<br>
              <a href="/service-and-support/standard-warranty.html" target="_blank">Warranty Information</a></li>
            <li>
              <strong>Carton Contents</strong>RJ Printer (RJ-4030 or RJ-4040), Li-ion battery, Shoulder strap, Power Adaptor, Belt clip, Quick Set up Guide, CD-ROM (printer driver and user manual)<br>
              includes Barcode &amp; Label Design Software</li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /specs -->

  </div>
</body>
