<head>
  <meta charset="UTF-8">
  <title>G-B-PJ773</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- end product_cta -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <p>Printing directly from mobile devices via Wi-Fi, the Brother PJ-773 A4 portable thermal printer provides your mobile workers with the tools to implement timely service and continuous workflow for greater efficiency and customer satisfaction. Compatible with various operating systems (including iOS via AirPrint), its advanced thermal technology and lightweight and compact size takes up little space in your mobile toolkit. With an optional 1.2m drop protection (IP54 rated) roll printer case providing the ability to print in extreme and rugged environments while offering high quality print capabilities, the PJ-773 is a breath of fresh air.</p>
    </div>

    <br><br>
    <!-- features  -->
    <div>
      <h2 style="text-align:center">Main Features</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br>
      <ul>
        <li><strong>A4 size thermal printing</strong> – for a variety of different applications</li>
        <li><strong>Small &amp; light weight</strong> – can carry with you anywhere</li>
        <li><strong>USB 2.0 and Wi-Fi Interfaces</strong></li>
        <li><strong>Direct thermal technology</strong> – no ribbons, ink or toner required</li>
        <li><strong>Software Development Kit (SDK)</strong> - iOS/Android/Windows(b-Pac) for seamless integration</li>
        <li><strong>Durable and rugged</strong> – 1.2m drop protection (IP54 rated) with optional roll printer case</li>
        <li><strong>High quality printing</strong> - 300 dpi print resolution</li>
        <li><strong>Fast print speed</strong> - 8ppm print speed</li>
        <li><strong>Resistant to extreme environments</strong> - Resistance from -10C to 50C temperatures</li>
        <li><strong>Inbox standard rechargeable</strong> Li-ion Battery, AC adapter and A4 thermal paper</li>
        <li><strong>Paper options</strong> - Direct thermal paper available in A4 cut sheets or perforated roll</li>
      </ul>
    </div>
    <!-- /features  -->

    <br><br>

    <!-- property -->
    <div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <img src="images/one/brother/truly-rugged-solution.jpg" alt="Truly Rugged Solution">
        </div>
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h3>Truly Rugged Solution</h3>
          <p>Mobile IT equipment is rated according to international standards for ingress protection (IP). IP Codes classify the degrees of protection provided by electrical enclosures from dust, water and impact. IP54 means that the equipment will operate in dusty conditions, and will resist splashing water. In addition to the above, the machine has also undergone 1.8m drop tests to provide extra credibility in terms of toughness and reliability.</p>
          <p>Due to the nature of many mobile applications, printers may be exposed to a range of outdoor conditions which can affect the print operation or cause damage e.g. traffic warden printing in the field. However, RJ carries IP54 certification offering that extra piece of mind for such outdoor applications subject to damp/moisture or maybe indoor environments where dust is present i.e. warehouse applications. The Brother RJ accessory options can also offer further protection.</p>
          <p>The very nature of thermal print technology also adds value to the general reliability of New RJ series. Customer feedback would suggest that thermal print technology is the only feasible solution for mobile workers because it is less susceptible to fluctuating seasonal temperatures and humidity extremes than inkjet technologies.</p>
        </div>
      </div>
      <br><br><br>
      <div style="display: table; width: 100%">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px; width: 100%; text-align:center">
          <img src="images/one/brother/rj-series.jpg" alt="RJ Series">
          <h3>RJ Series</h3>
          <p>The two new RJ-3 Models complement the existing Brother mobile print line up, which also includes the PJ700 Series (compact A4 thermal printer). With its growing commitment to mobility, Brother can now offer a full product range to address a wide range of mobile print applications requiring up to 118mm rolls, cut sheet output and full page A4 output in many different environments.</p>
          <p>Again, like the other printers in the Brother mobile portfolio, the RJ range uses direct thermal printing technology, which provides several benefits including higher reliability &amp; lower maintenance cost due to fewer moving parts and no ink toner/ribbon to replace.</p>
          <p>With a staggering print speed of 5ips/127mm, the RJ series can provide the ultimate solution which not only meets but exceeds industry expectations where efficiency of field professionals is paramount. This impressive print output can mean less wasted time, higher productivity, and increased customer satisfaction.</p>
        </div>
      </div>
    </div>
    <!-- /property -->

    <br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>
<ul><li>General<ul style="display: table;"><li><strong>Model</strong>RJ-3050-Bundle-Pack</li><li><strong>Engine</strong>Direct Thermal</li><li><strong>Functions</strong>72mm Mobile Printer with USB, Bluetooth and Wireless interface</li><li><strong>Standard Memory</strong>Ram: 32Mb, Flash: 32Mb</li><li><strong>Drop Protection</strong>Drop protection to 1.2m to concrete<br>IP54 certified for dust and water</li><li><strong>Keyboard</strong>Power, Bluetooth, Wi-Fi, Paper Feed</li><li><strong>Display Type</strong>LED Power, Status, Battery, Wi-Fi and Bluetooth Indicator</li></ul></li><li>Printer<ul style="display: table;"><li><strong>Emulation</strong>1.Raster<br>2.ESC/P<br>3.PTouch template<br>4.ZPLII<br>5.CPCL</li><li><strong>Print Speed</strong>Ave: 5ips or 127mm/sec (under Brother standard environment)</li><li><strong>Printer Resolution</strong>203 dpi</li></ul></li><li>Printer<ul style="display: table;"><li><strong>Max Print Area</strong>72mm wide x 1m</li><li><strong>Standard Paper Capacity</strong>Non-coated Thermal paper, Coated thermal paper, Direct Thermal die cut labels, Weather Proof, Tags</li><li><strong>Media Size General</strong>25.4mm to 81mm(W), (max 66mm dia roll)<br>Thickness of Receipt: 0.051mm to 0.090mm<br>Thickness of Label: 0.080mm to 0.170mm<br>Core Dia of Receipt:12.7mm<br>Core Dia of Label: 25.4mm</li></ul></li><li>Software<ul style="display: table;"><li><strong>Software Development Kit</strong>Windows Mobile 6.x Professional / Classic / Standard<br>Windows Mobile 5.0 for Pocket PC Phone Edition /for Pocket PC<br>Windows CE 5.0 / 6.0<br>Windows XP /Vista /7 /8 /8.1<br>Android 2.2 or later<br>IOS 5.0 or later</li><li><strong>Template Transfer to Machine</strong>Yes (also ZPLII via template)</li></ul></li><li>Connectivity<ul style="display: table;"><li><strong>Interface</strong>USB 2.0 Full speed<br>Wireless 802.11 b/g/n<br>Bluetooth Ver.2.1+EDR Class2, SPP, OPP</li><li><strong>Bluetooth</strong>Bluetooth Ver.2.1+EDR Class1, SPP, OPP</li><li><strong>Wi-Fi Direct</strong>Yes</li><li><strong>Direct USB</strong>Yes - For barcode scanner</li><li><strong>Operating System</strong>Windows Vista / 7 / 8/ 8.1 / 10<br>Windows Server 2003, Windows Server 2008 / 2008 R2, Windows Server 2012 / 2012 R2</li></ul></li><li>Mobile / Web Printing<ul style="display: table;"><li><strong>Mobile Operating System</strong>Windows Mobile: WM5 / WM6<br>Android 2.2 or later via App<br>IOS 4.3 or later via App or Airprint</li><li><strong>AirPrint</strong>Yes</li></ul></li><li>Networking<ul style="display: table;"><li><strong>Wireless Interface</strong>IEEE802.11b/g/n (Infrastructure Mode)<br>IEEE802.11b/g/n (Adhoc Mode)<br>IEEE802.11g/n (Wireless direct)</li><li><strong>Wireless Security</strong>Encryption: WEP(64 /128), TKIP, AES<br>Authentication: OPEN, WPA-PSK, WPA2-PSK, LEAP (CKIP), EAP-FAST (TKIP/AES), PEAP (TKIP/AES), TLS (TKIP/AES), TTLS (TKIP/AES)<br>WiFi Direct: WPA2-PSK (AES)</li></ul></li><li>Power Supply<ul style="display: table;"><li><strong>AC Adaptor</strong>Included (AC Adapter 15 V/ Charger (PA-AD-600))</li><li><strong>Battery Life</strong>Li-ion battery: approximately 5300 labels @76x33mm (printing 8.5% and using fully charged new Li-ion battery via USB @ 23deg C)<br>Approx 500 charge/discharge cycles<br>Charge time approx 2 hours</li></ul></li><li>Options<ul style="display: table;"><li><strong>Optional Power</strong>Rechargeable Li-ion Battery (PA-BT-001-B)<br>AC Adapter (PA-AD-600)<br>Battery Charger (PA-BC-001)<br>Battery Charger Cradle (PA-CR-001)<br>Car Adapter, Wired, 4267mm (PA-CD-WR)<br>Car Adapter, CigPlug, 3048mm (PA-CD-CG)</li><li><strong>Optional Other</strong>Shoulder Strap (PA-SS-4000)</li></ul></li><li>Consumable<ul style="display: table;"><li><strong>Consumables</strong>RD Rolls, Custom rolls (receipt, pre print, fanfold)</li></ul></li><li>Weight and Measures<ul style="display: table;"><li><strong>Size</strong>112(W) x 80(D) x 186(H)mm</li><li><strong>Weight</strong>750g (with battery)</li></ul></li><li>Environment<ul style="display: table;"><li><strong>Auto Power Off</strong>Yes</li><li><strong>Humidity</strong>Operating Humidity: 10 to 90%</li><li><strong>Temperature</strong>Operating Temperature: -10 to 50deg C</li></ul></li><li>Others<ul style="display: table;"><li><strong>Warranty</strong>12 Months Return To Base</li><li><strong>Carton Contents</strong>RJ-3050, Quick Set up Guide, CD-ROM (printer driver and user manual) includes Barcode &amp; Label Design Software, AC adaptor, Battery, Belt clip</li></ul></li></ul>
    </div>
    <!-- /specs -->

  </div>
</body>
