<head>
  <meta charset="UTF-8">
  <title>G-B-RJ3150</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- end product_cta -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <p>RJ mobile printers are Brother’s most rugged and fastest, printing at up to 127 mm/sec. Designed with a tough construction, it comes with IP54 certification and 1.8 metre drop protection ensuring use under rugged conditions. The RJ-3050/3150 mobile printers support ZPL II emulation and utilise direct thermal printing so no ink or toner is required. Printing wide 80mm labels at 203 DPI resolution, the RJ is available in either a Bluetooth or Wi-Fi model. The RJ mobile printers are ideal for markets such as field service and sales, public safety, warehousing and logistics/ delivery.</p>
    </div>

    <br><br>
    <!-- features  -->
    <div>
      <h2 style="text-align:center">Main Features</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br>
      <ul>
        <li>Fast print speed of up to 5 ips</li>
        <li>Tough Construction with IP54 certification and 6 ft. drop protection mean that water, dust, or drops won't affect the printer's operation under normal conditions</li>
        <li>Emulations – ZPLII</li>
        <li>Wide variety of optional accessories - AC adapter, DC vehicle adapter, expandable battery charger, charging cradle, shoulder strap, and much more</li>
        <li>Wide range of connectivity options – USB, Bluetooth, and Wi-Fi (802.11 b/g/n)</li>
        <li>AirPrint Certification; - Enables printing directly from an iOS device without loading drivers. Printing support is built right into the operating system making printing easy.</li>
      </ul>
    </div>
    <!-- /features  -->

    <br><br>

    <!-- property -->
    <div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <img src="images/one/brother/truly-rugged-solution.jpg" alt="Truly Rugged Solution">
        </div>
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h3>Truly Rugged Solution</h3>
          <p>Mobile IT equipment is rated according to international standards for ingress protection (IP). IP Codes classify the degrees of protection provided by electrical enclosures from dust, water and impact. IP54 means that the equipment will operate in dusty conditions, and will resist splashing water. In addition to the above, the machine has also undergone 1.8m drop tests to provide extra credibility in terms of toughness and reliability.</p>
          <p>Due to the nature of many mobile applications, printers may be exposed to a range of outdoor conditions which can affect the print operation or cause damage e.g. traffic warden printing in the field. However, RJ carries IP54 certification offering that extra piece of mind for such outdoor applications subject to damp/moisture or maybe indoor environments where dust is present i.e. warehouse applications. The Brother RJ accessory options can also offer further protection.</p>
          <p>The very nature of thermal print technology also adds value to the general reliability of New RJ series. Customer feedback would suggest that thermal print technology is the only feasible solution for mobile workers because it is less susceptible to fluctuating seasonal temperatures and humidity extremes than inkjet technologies.</p>
        </div>
      </div>
      <br><br><br>
      <div style="display: table; width: 100%">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px; width: 100%; text-align:center">
          <img src="images/one/brother/rj-series.jpg" alt="RJ Series">
          <h3>RJ Series</h3>
          <p>The two new RJ-3 Models complement the existing Brother mobile print line up, which also includes the PJ700 Series (compact A4 thermal printer). With its growing commitment to mobility, Brother can now offer a full product range to address a wide range of mobile print applications requiring up to 118mm rolls, cut sheet output and full page A4 output in many different environments.</p>
          <p>Again, like the other printers in the Brother mobile portfolio, the RJ range uses direct thermal printing technology, which provides several benefits including higher reliability &amp; lower maintenance cost due to fewer moving parts and no ink toner/ribbon to replace.</p>
          <p>With a staggering print speed of 5ips/127mm, the RJ series can provide the ultimate solution which not only meets but exceeds industry expectations where efficiency of field professionals is paramount. This impressive print output can mean less wasted time, higher productivity, and increased customer satisfaction.</p>
        </div>
      </div>
    </div>
    <!-- /property -->

    <br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>
<ul><li>General<ul style="display: table;"><li><strong>Model</strong>RJ-3150-Bundle-Pack</li><li><strong>Engine</strong>Direct Thermal</li><li><strong>Functions</strong>72mm Mobile Printer with USB, Bluetooth and Wireless interface</li><li><strong>Standard Memory</strong>Ram: 32Mb, Flash: 32Mb</li><li><strong>Drop Protection</strong>Drop protection to 1.8m to concrete<br>IP54 certified for dust and water</li><li><strong>Keyboard</strong>Power, Back, Navigate, OK, Menu, Paper Feed</li><li><strong>Display Type</strong>Colour LCD 3.3''</li></ul></li><li>Printer<ul style="display: table;"><li><strong>Emulation</strong>1.Raster<br>2.ESC/P<br>3.PTouch template<br>4.ZPLII<br>5.CPCL</li><li><strong>Print Speed</strong>Ave: 5ips or 127mm/sec (under Brother standard environment)</li><li><strong>Printer Resolution</strong>203 dpi</li></ul></li><li>Printer<ul style="display: table;"><li><strong>Max Print Area</strong>72mm wide x 1m</li><li><strong>Standard Paper Capacity</strong>Non-coated Thermal paper, Coated thermal paper, Direct Thermal die cut labels, Weather Proof, Tags</li><li><strong>Media Size General</strong>25.4mm to 81mm(W), (max 66mm dia roll)<br>Thickness of Receipt: 0.051mm to 0.090mm<br>Thickness of Label: 0.080mm to 0.170mm<br>Core Dia of Receipt:12.7mm<br>Core Dia of Label: 25.4mm</li></ul></li><li>Software<ul style="display: table;"><li><strong>Software Development Kit</strong>Windows Mobile 6.x Professional / Classic / Standard<br>Windows Mobile 5.0 for Pocket PC Phone Edition /for Pocket PC<br>Windows CE 5.0 / 6.0<br>Windows XP /Vista /7 /8 /8.1<br>Android 2.2 or later<br>IOS 5.0 or later</li><li><strong>Template Transfer to Machine</strong>Yes (also ZPLII via template)</li></ul></li><li>Connectivity<ul style="display: table;"><li><strong>Interface</strong>USB 2.0 Full speed<br>USB Host<br>Wireless 802.11 b/g/n<br>Bluetooth Ver.2.1+EDR Class2, SPP, OPP</li><li><strong>Bluetooth</strong>Bluetooth Ver.2.1+EDR Class1, SPP, OPP</li><li><strong>Wi-Fi Direct</strong>Yes</li><li><strong>Direct USB</strong>Yes - For barcode scanner</li><li><strong>Operating System</strong>Windows Vista / 7 / 8/ 8.1 / 10<br>Windows Server 2003, Windows Server 2008 / 2008 R2, Windows Server 2012 / 2012 R2</li></ul></li><li>Mobile / Web Printing<ul style="display: table;"><li><strong>Mobile Operating System</strong>Windows Mobile: WM5 / WM6<br>Android 2.2 or later via App<br>IOS 4.3 or later via App or Airprint</li><li><strong>AirPrint</strong>Yes</li></ul></li><li>Networking<ul style="display: table;"><li><strong>Wireless Interface</strong>IEEE802.11b/g/n (Infrastructure Mode)<br>IEEE802.11b/g/n (Adhoc Mode)<br>IEEE802.11g/n (Wireless direct)</li><li><strong>Wireless Security</strong>Encryption: WEP(64 /128), TKIP, AES<br>Authentication: OPEN, WPA-PSK, WPA2-PSK, LEAP (CKIP), EAP-FAST (TKIP/AES), PEAP (TKIP/AES), TLS (TKIP/AES), TTLS (TKIP/AES)<br>WiFi Direct: WPA2-PSK (AES)</li></ul></li><li>Power Supply<ul style="display: table;"><li><strong>AC Adaptor</strong>Included (AC Adapter 15 V/ Charger (PA-AD-600))</li><li><strong>Battery Life</strong>Li-ion battery: approximately 5300 labels @76x33mm (printing 8.5% and using fully charged new Li-ion battery via USB @ 23deg C)<br>Approx 500 charge/discharge cycles<br>Charge time approx 2 hours</li></ul></li><li>Options<ul style="display: table;"><li><strong>Optional Power</strong>Rechargeable Li-ion Battery (PA-BT-001-A)<br>AC Adapter (PA-AD-600)<br>Battery Charger (PA-BC-001)<br>Battery Charger Cradle (PA-CR-001)<br>Car Adapter, Wired, 4267mm (PA-CD-WR)<br>Car Adapter, CigPlug, 3048mm (PA-CD-CG)</li><li><strong>Optional Other</strong>Shoulder Strap (PA-SS-4000)</li></ul></li><li>Consumable<ul style="display: table;"><li><strong>Consumables</strong>RD Rolls, Custom rolls (receipt, pre print, fanfold)</li></ul></li><li>Weight and Measures<ul style="display: table;"><li><strong>Size</strong>116(W) x 82(D) x 189(H)mm</li><li><strong>Weight</strong>750g (with battery)</li></ul></li><li>Environment<ul style="display: table;"><li><strong>Auto Power Off</strong>Yes</li><li><strong>Humidity</strong>Operating Humidity: 10 to 90%</li><li><strong>Temperature</strong>Operating Temperature: -10 to 50deg C</li></ul></li><li>Others<ul style="display: table;"><li><strong>Warranty</strong>12 Months Return To Base</li><li><strong>Carton Contents</strong>RJ-3150, Quick Set up Guide, CD-ROM (printer driver and user manual) includes Barcode &amp; Label Design Software, AC adaptor, Battery, Belt clip</li></ul></li></ul>
    </div>
    <!-- /specs -->

  </div>
</body>
