<head>
  <meta charset="UTF-8">
  <title>G-B-PJ763MFi</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- end product_cta -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <p>Printing directly from mobile devices via Bluetooth, the Brother PJ-763MFi A4 portable thermal printer provides your mobile workers with the tools to implement timely service and continuous workflow for greater efficiency and customer satisfaction. Compatible with various operating systems (including iOS via SDK APP), its advanced thermal technology and lightweight and compact size takes up little space in your mobile toolkit. With an optional 1.2m drop protection (IP54 rated) roll printer case providing the ability to print in extreme and rugged environments while offering high quality.</p>
    </div>

    <br><br>
    <!-- features  -->
    <div>
      <h2 style="text-align:center">Main Features</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br>
<ul>
  <li>A4 size thermal printing – for a variety of different applications</li>
  <li>Small &amp; light weight – can carry with you anywhere</li>
  <li>USB 2.0 and Bluetooth Interfaces</li>
  <li>Direct thermal technology – no ribbons, ink or toner required</li>
  <li>Software Development Kit (SDK) - iOS/Android/Windows(b-Pac) for seamless integration</li>
  <li>Durable and rugged – 1.2m drop protection (IP54 rated) optional roll printer case for hardy environments</li>
  <li>High quality printing - 300 dpi print resolution</li>
  <li>Fast print speed - 8ppm print speed</li>
  <li>Resistant to extreme environments - Resistance from -10C to 50C temperatures</li>
  <li>Inbox standard rechargeable Li-ion Battery, AC adapter and A4 thermal paper</li>
  <li>Paper options - Direct thermal paper available in A4 cut sheets or perforated roll</li>
</ul>

    </div>
    <!-- /features  -->

    <br><br>

    <!-- property -->
    <div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: top; padding: 0 10px; width: 33.3%">
          <img style="width: 100%" src="images/one/brother/mobile-sales-teams.jpg" alt="Mobile Sales Teams">
          <p><strong>Mobile Sales Teams</strong></p>
          <p>Busy sales professionals can now print documents at their client’s premises, increasing productivity that results in more time to visit other clients.</p>
          <p>Applications include:</p>
          <ul>
            <li>Invoices</li>
            <li>Quotes</li>
            <li>Financial plans</li>
            <li>Contracts</li>
          </ul>
        </div>
        <div style="display: table-cell; vertical-align: top; padding: 0 10px; width: 33.3%">
          <img style="width: 100%" src="images/one/brother/mobile-service-teams.jpg" alt="Mobile Service Teams">
          <p><strong>Mobile Service Teams</strong></p>
          <p>Service teams, including mobile engineers, can now leave hard copies of documents at the job just completed, increasing ef ciency, accuracy while adhering to legislation requirements.</p>
          <p>Applications include:</p>
          <ul>
            <li>Invoices</li>
            <li>Service reports</li>
            <li>Maintenance reports</li>
            <li>Replacement part orders</li>
          </ul>
        </div>
        <div style="display: table-cell; vertical-align: top; padding: 0 10px; width: 33.3%">
          <img style="width: 100%" src="images/one/brother/logistics-deliveries-2.jpg" alt="Logistics / Deliveries">
          <p><strong>Logistics / Deliveries</strong></p>
          <p>Drivers can now print from their vehicle or from the customer’s premises, increasing productivity every day.</p>
          <p>Applications include:</p>
          <ul>
            <li>Invoices</li>
            <li>Delivery notes</li>
            <li>Order sheets</li>
            <li>Stock taking data</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: top; padding: 0 10px; width: 33.3%">
          <img style="width: 100%" src="images/one/brother/public-safety-2.jpg" alt="Healthcare Professionals">
          <p><strong>Public Safety/Emergency Services</strong></p>
          <p>With the ability to print on-the-go, those who work in this industry can avoid clerical errors as well as unnecessary paperwork once back in the of ce.</p>
          <p>Applications include:</p>
          <ul>
            <li>Citations/Fines</li>
            <li>Patient reports</li>
            <li>Incident reports</li>
            <li>Warning notes</li>
          </ul>
        </div>
        <div style="display: table-cell; vertical-align: top; padding: 0 10px; width: 33.3%">
          <img style="width: 100%" src="images/one/brother/healthcare-professionals.jpg" alt="Healthcare Professionals">
          <p><strong>Healthcare Professionals</strong></p>
          <p>Home healthcare workers can now print documents onsite. This helps them avoid delays in distributing care plans and instructions whilst minimising errors by avoiding handwritten documents.</p>
          <p>Applications include:</p>
          <ul>
            <li>Medication lists</li>
            <li>Care plans</li>
            <li>Teaching guides</li>
            <li>Status reports</li>
            <li>Contracts and waivers</li>
          </ul>
        </div>
        <div style="display: table-cell; vertical-align: top; padding: 0 10px; width: 33.3%">
          <img style="width: 100%" src="images/one/brother/logistics-deliveries-2.jpg" alt="Logistics / Deliveries">
          <p><strong>Pest Management Services</strong></p>
          <p>Pest Control team members can now print documents in small crawl spaces and in extreme conditions. This reduces downtime and errors and increases the overall ef cacy of the business.</p>
          <p>Applications include:</p>
          <ul>
            <li>Log book binder reports</li>
            <li>Inspection reports</li>
            <li>Rodent bait station locations</li>
            <li>Compliance documents</li>
            <li>Guarantees</li>
            <li>Certi cates</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /property -->

    <br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>
           <ul>
        <li>
          General
          <ul style="display: table;">
            <li>
              <strong>Model</strong>PJ-763MFi-Bundle-Pack</li>
            <li>
              <strong>Engine</strong>Direct thermal</li>
            <li>
              <strong>Functions</strong>A4 Mobile Printer with USB and Bluetooth interface - 300dpi</li>
            <li>
              <strong>Standard Memory</strong>32MB</li>
            <li>
              <strong>Drop Protection</strong>70cm (unit only), 1.2m (with PA-RC-001)</li>
            <li>
              <strong>Keyboard</strong>Power, Feed and Bluetooth Button</li>
            <li>
              <strong>Display Type</strong>LED Power Indicator: Green, Orange, Red<br>
              LED DATA Indicator: Green, Orange, Red<br>
              LED ERROR Indicator: Green, Orange, Red<br>
              LED Bluetooth Indicator: Blue</li>
          </ul>
        </li>
        <li>
          Printer
          <ul style="display: table;">
            <li>
              <strong>Emulation</strong>1.Raster<br>
              2.ESC/P<br>
              3.PTouch template</li>
            <li>
              <strong>Print Speed</strong>8PPM</li>
            <li>
              <strong>Printer Resolution</strong>300 x 300 dpi</li>
            <li>
              <strong>Printer Driver Functions</strong>Page size: A5, A4, Letter, Legal, Infinite<br>
              Custom size: min. 105 mm x 25.4 mm ~ max. 216 mm x 5.49 m</li>
            <li>
              <strong>Max Print Area</strong>Configure with printer driver (min. 105 mm x 25.4 mm - max. 216 mm x 5.49 m)</li>
            <li>
              <strong>Standard Paper Capacity</strong>A4 (100 sheet / pack)<br>
              A4 width x 30M Roll Paper ( 6 pcs / box)</li>
            <li>
              <strong>Media Size General</strong>210mm x 297mm (A4), 210mm(W) Roll</li>
          </ul>
        </li>
        <li>
          Software
          <ul style="display: table;">
            <li>
              <strong>Software Development Kit</strong>Windows Mobile 6.x Professional / Classic / Standard<br>
              Windows Mobile 5.0 for Pocket PC Phone Edition /for Pocket PC<br>
              Windows CE 5.0 / 6.0<br>
              Windows XP /Vista /7 /8 /8.1<br>
              Android 2.2 or later<br>
              IOS 5.0 or later</li>
            <li>
              <strong>Template Transfer to Machine</strong>Yes</li>
          </ul>
        </li>
        <li>
          Connectivity
          <ul style="display: table;">
            <li>
              <strong>Interface</strong>USB 2.0 Full Speed<br>
              Bluetooth Ver.2.1+EDR SPP, BIP,OPP, HCRP and iAP(Mfi) supported</li>
            <li>
              <strong>Bluetooth</strong>Bluetooth Ver.2.1+EDR SPP, BIP,OPP, HCRP and iAP(Mfi) supported</li>
            <li>
              <strong>Operating System</strong>Windows Vista / 7 / 8/ 8.1 / 10<br>
              Windows Server 2008 / 2008 R2, Windows Server 2012 / 2012 R2<br>
              Mac OSX 10.8 to 10.10<br>
              Linux deb, rpm</li>
            <li>
              <strong>Citrix</strong>Xen App/ Xen Desktop/ Citrix Ready Certification</li>
          </ul>
        </li>
        <li>
          Mobile / Web Printing
          <ul style="display: table;">
            <li>
              <strong>Mobile Operating System</strong>Windows Mobile: WM5 / WM6<br>
              Android 2.2 or later via App<br>
              IOS 4.3 or later via App</li>
          </ul>
        </li>
        <li>
          Networking
          <ul style="display: table;">
          </ul>
        </li>
        <li>
          Power Supply
          <ul style="display: table;">
            <li>
              <strong>AC Adaptor</strong>Included (AC Adapter 15 V/ Charger (PA-AD-600))</li>
            <li>
              <strong>Battery Life</strong>Li-ion battery: approximately 600 sheets (printing duty 1.9% and using fully charged new Li-ion battery via USB @ 23deg C)<br>
              Approx 300 charge/discharge cycles<br>
              Charge time approx 3 hours</li>
          </ul>
        </li>
        <li>
          Options
          <ul style="display: table;">
            <li>
              <strong>Optional Power</strong>Rechargeable Li-ion Battery 10.8V 1750mAh (PA-BT-002)<br>
              AC Adapter 15 V/ Charger (PA-AD-600)<br>
              Car Adapter, Wired, 4267mm (PA-CD-WR)<br>
              Car Adapter, CigPlug, 3048mm (PA-CD-CG)</li>
            <li>
              <strong>Optional Car Mount</strong>Permanent Car Mount (PA-CM-500)</li>
            <li>
              <strong>Optional Carry Case</strong>PocketJet Vynil Carrying case (PA-CC-500)<br>
              Roll Printer Case, 1.2m drop resistant and IP54 rated (PA-RC-001)<br>
              Rubber Case, 1.2m drop resistant (PA-RB-001)</li>
            <li>
              <strong>Optional Other</strong>Paper Roll Holder (PA-RH-600)<br>
              Paper Guide (for 3 button model) (PA-PG-001)</li>
          </ul>
        </li>
        <li>
          Consumable
          <ul style="display: table;">
            <li>
              <strong>Consumables</strong>A4 thermal paper sheets (100 sheets), 75gsm, 3 years (PA-C-411)<br>
              A4 thermal paper sheets (100 sheets), 75gsm, 20 years (PA-C-411-20YR)<br>
              A4 width thermal paper roll x (15m) or approx 50 sheets, 6 pack, 64gsm, 3 years (PA-R-411B)<br>
              A4 size perforated roll paper (6 rolls per box) 100 pages per roll (A4-Perforated-Roll)</li>
          </ul>
        </li>
        <li>
          Weight and Measures
          <ul style="display: table;">
            <li>
              <strong>Size</strong>255(W) x 55(D) x 30(H) mm (machine only)</li>
            <li>
              <strong>Weight</strong>480g (excluding Battery, paper) (machine only)</li>
          </ul>
        </li>
        <li>
          Environment
          <ul style="display: table;">
            <li>
              <strong>Auto Power Off</strong>19 settings( 0,1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15 = default, 20, 25, 30, 40, 50, 60, 90, 120 minutes) After this time no signal, power is off automatically.</li>
            <li>
              <strong>Humidity</strong>Operating Humidity: 20 to 80%<br>
              Storage Humidity: 20 to 80%</li>
            <li>
              <strong>Temperature</strong>Operating Temperature: -10 to 50deg C<br>
              Storage Temperature: -20 to 60deg C</li>
          </ul>
        </li>
        <li>
          Others
          <ul style="display: table;">
            <li>
              <strong>Warranty</strong>12 Months Return To Base</li>
            <li>
              <strong>Carton Contents</strong>PJ-763MFi, Quick Setup Guide, CD-ROM (Including users guide, printer driver), USB cable, Head cleaning sheet, Li-ion battery, AC Adaptor, A4 thermal paper</li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /specs -->

  </div>
</body>
