<head>
  <meta charset="UTF-8">
  <title>G-B-PJ662</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- end product_cta -->
    <div class="product_overview">
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <p>PocketJet offers a true A4 mobile solution. At just 25.5 cm wide and weighing 473g, PocketJet fits easily into a briefcase or computer bag, and can be mounted in vehicles or other work areas. Because PocketJet prints in A4, it's considered ideal for printing documents where more detailed information is required, such as invoices, service reports and delivery notes. There is also a full range of accessories available, making PocketJet a truly customised print solution. Includes: AC Adaptor, Rechargeable Ni-MH Battery, Thermal A4 paper sheets.</p>
    </div>

    <br><br>
    <!-- features  -->
    <div>
      <h2 style="text-align:center">Main Features</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br>
      <ul>
        <li>A4 size thermal printing</li>
        <li>Small &amp; light weight</li>
        <li>Durability and easy maintenance: (No ink)</li>
        <li>6ppm fast print speed</li>
        <li>Various solution support: (JPEG printing/ SDK etc.)</li>
        <li>High quality 203 dpi print resolution</li>
        <li>Direct thermal – no ink or toner needed</li>
        <li>Powered by recharageable batteries or AC adapter/ vehicle power adapters</li>
        <li>Various accessories available to provide the ideal mobile printing solution</li>
      </ul>
    </div>
    <!-- /features  -->

    <br><br>

    <!-- property -->
    <div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 20px" >
          <img src="images/one/brother/field-sales.jpg" alt="field sales">
        </div>
        <div style="display: table-cell; vertical-align: middle;">
          <p><strong>Field Sales</strong></p>
          <p>Exceed customer expectations by using PocketJet while on the move or on site. Busy  eld sales professionals are able to print whatever is required at the their customers’ premises without having to communicate back to the of ce, giving more time to visit other customers.</p>
          <p>Applications include:</p>
          <ul>
            <li>Invoices</li>
            <li>Financial plans</li>
            <li>Price quotations</li>
            <li>Contracts</li>
          </ul>
        </div>
      </div>
      <div style="display: table; text-align: right">
        <div style="display: table-cell; vertical-align: middle;">
          <p><strong>Field Service</strong></p>
          <p>Mobile engineers are able to increase ef ciency and accuracy by leaving hard copies of documents while on the move, and reduce the risk of any future queries.</p>
          <p>Applications include:</p>
          <ul style="list-style-position: inside">
            <li>Invoices</li>
            <li>Service reports</li>
            <li>Maintenance reports</li>
            <li>Replacement part orders</li>
          </ul>
        </div>
        <div style="display: table-cell; vertical-align: middle; padding: 20px" >
          <img src="images/one/brother/field-service.jpg" alt="field service">
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 20px" >
          <img src="images/one/brother/logistics-deliveries.jpg" alt="Logistics/Deliveries">
        </div>
        <div style="display: table-cell; vertical-align: middle;">
          <p><strong>Logistics/Deliveries</strong></p>
          <p>Print a wide range of documents while on the road, in the truck or at your customer’s premises. The fast print speed is ideal for busy delivery drivers with hectic workloads.</p>
          <p>Applications include:</p>
          <ul style="list-style-position: inside">
            <li>Invoices</li>
            <li>Delivery notes</li>
            <li>Order sheets</li>
            <li>Stock taking data</li>
          </ul>
        </div>
      </div>
      <div style="display: table; text-align: right">
        <div style="display: table-cell; vertical-align: middle;">
          <p><strong>Public Safety/Emergency Services</strong></p>
          <p>PocketJet printers have become increasingly popular in the emergency services for a variety of applications. When used together with the vehicle mount &amp; car chargers, they have proved to be the perfect in-car solution for the Police, Ambulance and Fire Services on a global scale.</p>
          <p>By printing when required PocketJet can reduce the risk of clerical errors enabling of cers/medical staff to avoid any further unnecessary time consuming paperwork. In the police, PocketJet allows law enforcement of cers to quickly print a ticket without having to write it by hand, eliminating any potential handwriting errors.</p>
          <p>Applications Include:</p>
          <ul style="list-style-position: inside">
            <li>Citations/Fines</li>
            <li>Patient reports</li>
            <li>Incident reports</li>
            <li>Warning notices</li>
          </ul>
        </div>
        <div style="display: table-cell; vertical-align: middle; padding: 20px;">
          <p><img src="images/one/brother/public-safety.jpg" alt="Public Safety"></p>
          <p><img src="images/one/brother/emergency-service.jpg" alt="Emergency Service"></p>
        </div>
      </div>
    </div>
    <!-- /property -->

    <br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>
      <ul>
        <li>
          General
          <ul style="display: table;">
            <li>
              <strong>Model</strong>PJ-662-Bundle-Pack</li>
            <li>
              <strong>Engine</strong>Direct thermal</li>
            <li>
              <strong>Functions</strong>A4 Mobile Printer with USB and Bluetooth interface - 200dpi</li>
            <li>
              <strong>Keyboard</strong>Power Button and Feed Button</li>
            <li>
              <strong>Display Type</strong>LED Power Indicator: Green, Orange, Red<br>
              LED DATA Indicator: Green, Orange, Red<br>
              LED ERROR Indicator: Green, Orange, Red<br>
              LED Bluetooth Indicator: Blue</li>
          </ul>
        </li>
        <li>
          Printer
          <ul style="display: table;">
            <li>
              <strong>Emulation</strong>1.Raster<br>
              2.ESC/P</li>
            <li>
              <strong>Print Speed</strong>Average 9.4sec./page or 31.6mm/second.(under Brother standard environment *1)</li>
            <li>
              <strong>Printer Resolution</strong>203 x 200 dpi</li>
            <li>
              <strong>Printer Driver Functions</strong>Page size: A4, Letter, Legal<br>
              Custom size: min. 105 mm x 25.4 mm ~ max. 216 mm x 8.23 m</li>
            <li>
              <strong>Max Print Area</strong>Configure with printer driver (min. 105 mm x 25.4 mm - max. 216 mm x 8.23 m)</li>
            <li>
              <strong>Standard Paper Capacity</strong>A4 (100 sheet / pack)<br>
              A4 width x 30M Roll Paper ( 6 pcs / box)</li>
            <li>
              <strong>Media Size General</strong>210mm x 297mm (A4), 210mm(W) Roll</li>
          </ul>
        </li>
        <li>
          Software
          <ul style="display: table;">
            <li>
              <strong>Software Development Kit</strong>Pocket PC2002/2003, Windows Mobile 5 / 6, XP / Vista / 7 / 8 / 8.1</li>
          </ul>
        </li>
        <li>
          Connectivity
          <ul style="display: table;">
            <li>
              <strong>Interface</strong>USB 2.0 Full Speed<br>
              IRDA Ver.1.2 (IrCOMM and IrOBEX)<br>
              Bluetooth Ver.2.0+EDR Class2 , SPP and BIP PortProfile</li>
            <li>
              <strong>Operating System</strong>Windows XP / Vista / 7 / 8 / 8.1<br>
              Windows Mobile: WM5 / WM6<br>
              Mac OSX 10.4 to 10.9<br>
              (USB/Bluetooth for OSX 10.4 to 10.7)<br>
              (USB Only for OSX 10.8 to 10.9)<br>
              Linux deb, rpm</li>
            <li>
              <strong>Mobile Operating System</strong>Software Development Kit for Pocket PC2002/2003, Windows Mobile 5 / 6</li>
          </ul>
        </li>
        <li>
          Networking
          <ul style="display: table;">
          </ul>
        </li>
        <li>
          Power Supply
          <ul style="display: table;">
          </ul>
        </li>
        <li>
          Options
          <ul style="display: table;">
            <li>
              <strong>Optional Power</strong>Rechargeable Ni-MH Battery 14.4V<br>
              Rechargeable Li-ion Battery 11.1V<br>
              AC Adapter 15 V/ Charger<br>
              Car Adapter, Wired, 15'<br>
              Car Adapter, CigPlug, 3'<br>
              Car Adapter, CigPlug, 10'</li>
            <li>
              <strong>Optional Car Mount</strong>Yes (Fast Release)</li>
            <li>
              <strong>Optional Carry Case</strong>Yes</li>
          </ul>
        </li>
        <li>
          Consumable
          <ul style="display: table;">
            <li>
              <strong>Consumables</strong>A4 (100 sheet / pack)<br>
              A4 width Roll Paper ( 6 pcs / box)</li>
          </ul>
        </li>
        <li>
          Weight and Measures
          <ul style="display: table;">
            <li>
              <strong>Size</strong>255(W) x 55(D) x 30(H) mm</li>
            <li>
              <strong>Weight</strong>473g (excluding Battery, paper)</li>
          </ul>
        </li>
        <li>
          Environment
          <ul style="display: table;">
            <li>
              <strong>Auto Power Off</strong>7 settings( 0, 10 = default, 20, 30, 40, 50, 60 minutes) After this time no signal, power is off automatically.</li>
            <li>
              <strong>Humidity</strong>Operating Humidity: 30 to 80%<br>
              Storage Humidity: 30 to 85%</li>
            <li>
              <strong>Temperature</strong>Operating Temperature: 0 to 40deg C<br>
              Storage Temperature: -15 to 50deg C</li>
          </ul>
        </li>
        <li>
          Others
          <ul style="display: table;">
            <li>
              <strong>Warranty</strong>12 Months Return To Base</li>
            <li>
              <strong>Carton Contents</strong>PJ-662, Quick Setup Guide, CD-ROM (Including users guide, printer driver), USB cable, Head cleaning sheet, AC Adaptor, Rechargeable Ni-MH Battery, Thermal A4 paper sheets</li>
            <li>
              <strong>Machine Life</strong>100,000 pages/A4 (under Brother standard environment )</li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /specs -->

  </div>
</body>
