<head>
  <meta charset="UTF-8">
  <title>G-B-ADS-2800W</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- end product_cta -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <p>Perfect for your business or home office, Brother’s ADS-2800W Wireless Network Scanner is the professional and user-friendly scanner your team has been waiting for. Featuring rapid 2-sided colour scans, scan speeds of up to 30ppm, high-speed wired and wireless connectivity, and a lockable and intuitive 9.3cm colour LCD touchscreen, this scanner is ideal for quickly scanning to cloud services and emails. And, with premium software for both PCs and Macs, as well as advanced image processing functions that prepare and clean scanned images, your digital documents will never look better.</p>
    </div>

    <br><br>
    <!-- features  -->
    <div>
      <h2 style="text-align:center">Main Features</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br>
<ul>
      <li style="margin-bottom: 8px">Fast 2-sided (duplex) colour scans (up to 30 pages per minute / 60 images per minute)</li>
      <li style="margin-bottom: 8px">Gigabit wired network, Hi-Speed USB 2.0 and Wi-Fi connectivity</li>
      <li style="margin-bottom: 8px">50-sheet mixed batch Automatic Document Feeder (ADF)</li>
      <li style="margin-bottom: 8px">9.3cm colour LCD touchscreen</li>
      <li style="margin-bottom: 8px">TWAIN and ISIS drivers for optimum performance</li>
      <li style="margin-bottom: 8px">Includes advanced image processing features</li>
      <li style="margin-bottom: 8px">Scan To: Email Client/ OCR/ Image/ File/ FTP/ Network/ SharePoint/ Printer</li>
      <li style="margin-bottom: 8px">Wide range of support for Windows, Mac &amp; Linux operating systems</li>
    </ul>    </div>
    <!-- /features  -->

    <br><br>

    <!-- property -->
    <div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <img src="images/one/brother/secure-function-lock.jpg" alt="Secure Function Lock" />
          <br><br>
          <p>Secure Function Lock (SFL) allows user restrictions to be put in place for function management and improved security.</p>
        </div>
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <img src="images/one/brother/efficient-processing.jpg" alt="Efficient Processing" />
          <br><br>
          <p>Efficiently process a wide range of mixed document materials, paper weights, colours, sizes and also plastic cards.</p>
        </div>
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <img src="images/one/brother/scan-to-usb.jpg" alt="Scan To USB" />
          <br><br>
          <p>Efficiently process a wide range of mixed document materials, paper weights, colours, sizes and also plastic cards.</p>
        </div>
      </div>
    </div>
    <!-- /property -->

    <br><br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>
            <ul>
        <li>
          General
          <ul style="display: table;">
            <li>
              <strong>Functions</strong>High Speed Sheetfed Colour Network Scanner</li>
            <li>
              <strong>Engine</strong>Desktop</li>
            <li>
              <strong>Standard Memory</strong>512 MB</li>
            <li>
              <strong>Carrier Sheet Scan</strong>Yes (A4, A3-500 times)</li>
            <li>
              <strong>Plastic Card Scan</strong>Thickness - 10 mil to 55 mil (0.25 mm to 1.4 mm)<br>
              Size - 85.6 x 54.0 x 1.4 mm</li>
            <li>
              <strong>Multi Feed Sensor</strong>Yes</li>
          </ul>
        </li>
        <li>
          Display
          <ul style="display: table;">
            <li>
              <strong>LCD Display</strong>9.3cm backlit touchscreen</li>
          </ul>
        </li>
        <li>
          Paper Handling
          <ul style="display: table;">
            <li>
              <strong>Output Paper Capacity</strong>Up to 50 sheets</li>
            <li>
              <strong>ADF</strong>Up to 50 sheets</li>
            <li>
              <strong>Media Weight General</strong>Multiple Sheets: 40 to 413 gsm</li>
            <li>
              <strong>Media Size General</strong>Single Sheet: 51 to 216 mm(W) x 51 to 5000 mm(L)<br>
              Multiple Sheets: 51 to 216 mm(W) x 51 to 355 mm(L)</li>
            <li>
              <strong>Media Size ADF</strong>51 to 216 mm(W) x 51 to 355 mm(L)</li>
            <li>
              <strong>Media Type General</strong>Single Sheet: All types (using carrier sheet)<br>
              Multiple Sheets: Plain Paper, Thin Paper, Thick Paper, Thicker Paper, Recycled Paper, Post Card (JPN), Business Card, Plastic Card</li>
          </ul>
        </li>
        <li>
          Digital Scanner
          <ul style="display: table;">
            <li>
              <strong>Scanner Colour/Mono</strong>Colour</li>
            <li>
              <strong>Scanner Colour Depth</strong>30 bit input / 24 bit output colour</li>
            <li>
              <strong>Scanner Type</strong>Sheet Fed Digital</li>
            <li>
              <strong>Scanning Technology</strong>Dual CIS</li>
            <li>
              <strong>Scan Speed</strong>Simplex: Colour/Mono: 30 ppm (2.0 seconds (A4@300dpi))<br>
              Duplex: Colour/Mono: 30 ppm (60ipm)(2.0 seconds (A4@300dpi))</li>
            <li>
              <strong>Scanner Resolution (Optical)</strong>Up to 600 x 600 dpi</li>
            <li>
              <strong>Scanner Resolution (Interpolated)</strong>Up to 1200 x 1200 dpi</li>
            <li>
              <strong>2 Sided Scan</strong>Yes</li>
            <li>
              <strong>Scanner Grey Scale</strong>256 levels</li>
            <li>
              <strong>Scan to Keys</strong>Scan To: Email Client/ Email Server/ OCR/ Image/ File/ FTP/ USB / Network/ Cloud</li>
            <li>
              <strong>Scanner Compatibility</strong>Windows 10/8/8.1/ Windows7/ XP/ Vista, Windows Server® 2003(only 32 bit)/2008/2008 R2/2012/2012 R2<br>
              Mac OSX 10.8 or greater▼<br>
              Linux▼</li>
            <li>
              <strong>Twain Compliant</strong>Twain 2.2 and WIA for Windows 10/ 8/8.1/ 7/ XP / Vista<br>
              Twain 2.2 for Mac OSX 10.6 or greater▼<br>
              Sane for Linux▼</li>
            <li>
              <strong>Scanner Warm Up Time</strong>1.1 seconds from sleep mode to ready</li>
            <li>
              <strong>Address Book</strong>Up to 300 E-mail addresses from the Address Book and up to 50 E-mail addresses manually</li>
            <li>
              <strong>ISIS</strong>Yes</li>
          </ul>
        </li>
        <li>
          Software
          <ul style="display: table;">
            <li>
              <strong>Software Included</strong>Windows: PaperPort 14 SE+ABBYY FineReader Sprint v.12, ABBYY PDF Transformer Plus, Control Centre 4, Remote setup<br>
              Mac: ABBYY FineReader Sprint v.12, Control Centre 2, Remote setup</li>
            <li>
              <strong>Kofax VRS</strong>Yes</li>
          </ul>
        </li>
        <li>
          Connectivity
          <ul style="display: table;">
            <li>
              <strong>Interface</strong>USB 2.0 @ Hi-Speed, 10/100BaseTX/1000BaseT, Wireless 802.11b/g/n</li>
            <li>
              <strong>Network Interface Wired</strong>10Base-T/100Base-TX/1000BaseT Ethernet</li>
            <li>
              <strong>Network Interface Wireless</strong>IEEE 802.11b/g/n</li>
            <li>
              <strong>USB Host</strong>USB Host up to 64GB</li>
            <li>
              <strong>iPrintScan</strong>Yes</li>
            <li>
              <strong>Web Connect</strong>Upload (from scanner) only/ (GOOGLE DOCS, EVERNOTE, Dropbox, Picasa Web Album, FLICKR and Facebook)</li>
            <li>
              <strong>Brother Apps</strong>Yes</li>
          </ul>
        </li>
        <li>
          Networking
          <ul style="display: table;">
            <li>
              <strong>Wireless Mode</strong>IEEE 802.11b/g/n (Infrastructure Mode/Adhoc mode), IEEE 802.11g (Wi-Fi Direct)</li>
            <li>
              <strong>Wireless Security</strong>WEP 64/128 bit, WPA-PSK (TKIP/AES), WPA2-PSK (AES)</li>
            <li>
              <strong>Network Management</strong>BrAdmin Light▼ / BrAdmin Professional▼ / Web Based Management</li>
            <li>
              <strong>Email Alerts</strong>Yes (Alerts and Reports)</li>
            <li>
              <strong>Active Directory Authentication</strong>Yes</li>
            <li>
              <strong>LDAP</strong>Yes</li>
            <li>
              <strong>Secure Function Lock</strong>Yes Ver 3.0 (Up to 50 users)</li>
          </ul>
        </li>
        <li>
          Options
          <ul style="display: table;">
            <li>
              <strong>Optional Other</strong>Pickup Roller for ADF (200,000 sheets), Reverse Roller (200,000 sheets), Carrier Sheet for Receipt Application, Plastic Card Carrier Sheet</li>
          </ul>
        </li>
        <li>
          Weight and Measures
          <ul style="display: table;">
            <li>
              <strong>Size</strong>306(W) x 258(D) x 250(H)mm</li>
            <li>
              <strong>Weight</strong>4.55 Kg</li>
          </ul>
        </li>
        <li>
          Environment
          <ul style="display: table;">
            <li>
              <strong>Energy Star Compliant</strong>Yes</li>
            <li>
              <strong>Power Consumption</strong>Internal Power Supply<br>
              Peak: 27W or less<br>
              Ready: 3.7W or less<br>
              Sleep: 1.9W or less<br>
              Off: 0.12W or less</li>
            <li>
              <strong>Noise Level</strong>62.8dB</li>
            <li>
              <strong>Sleep Mode</strong>Yes</li>
          </ul>
        </li>
        <li>
          Others
          <ul style="display: table;">
            <li>
              <strong>Warranty</strong>12 Months Return To Base</li>
            <li>
              <strong>Carton Contents</strong>ADS-2800W, Quick Setup Guide, User's Guide, Network Guide, CD-ROM's, ADF Document Output Support, Power Cord, USB cable</li>
            <li>
              <strong>Footer</strong>▼ Download from Brother Solutions Centre</li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /specs -->

  </div>
</body>
