<head>
  <meta charset="UTF-8">
  <title>G-B-ADS-3000N</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- end product_cta -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <p>The Brother ImageCenter ADS-3000N High-Speed Desktop Scanner is a durable and reliable addition to your mid to large size workgroup which will help simplify the way documents are captured, managed, processed, and delivered. Ideally suited for office environments with voluminous scanning requirements, the ADS-3000N offers wired Gigabit Ethernet network connectivity as well as a SuperSpeed USB 3.0 interface for local connections. With color scan speeds of up to 50 ppm (100 ipm)(1), single-pass duplex (two-sided) scanning, a 50-sheet capacity automatic document feeder, and daily duty cycle of up to 5,000 pages(2), the ADS-3000N is designed to easily tackle higher volume document capture applications.</p>
    </div>

    <br><br>
    <!-- features  -->
    <div>
      <h2 style="text-align:center">Main Features</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br>
      <ul>
        <li>Fast 2-sided (duplex) colour scans (up to 50 pages per minute / 100 images per minute)</li>
        <li>Gigabit wired network, Hi-Speed USB 3.0 and Wireless connectivity</li>
        <li>50-sheet mixed batch Automatic Document Feeder (ADF)</li>
        <li>9.3cm colour LCD touchscreen</li>
        <li>TWAIN and ISIS drivers for optimum performance</li>
        <li>Includes advanced image processing features</li>
        <li>Near Field Communication (NFC)</li>
        <li>Scan To: Email Client/ OCR/ Image/ File/ FTP/ Network/ SharePoint/ Printer</li>
        <li>Wide range of support for Windows, Mac &amp; Linux operating systems</li></ul>
      </div>
    <!-- /features  -->

    <br><br>

    <!-- property -->
    <div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <img src="images/one/brother/advanced-image-processing.jpg" alt="Advanced Image Processing">
        </div>
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h3>Features advanced image processing and premium software</h3>
          <p>Transform everyday documents into powerful digital assets with a suite of complete programs including ABBYY FineReader Professional for PC and Mac, ABBYY PDF Transformer+ and Nuance PaperPort 14 SE for PC. And don’t forget Brother’s own userfriendly Control Center workstation for PC and Mac.</p>
          <p>The ADS range also features industry-standard ISIS and TWAIN drivers that ensure effortless integration into document management systems while a range of advanced image processing functions intuitively prepare and clean scanned files, optimising the quality of the scanned image for all your digitisation needs.</p>
          <h3>Access, edit and share from anywhere</h3>
          <p>Scan directly to a variety of cloud services or go mobile and scan to your staff’s smartphone and tablet devices with Brother’s own iPrint&amp;Scan app. This allows for multiple user collaboration, streamlined storage management and peace of mind in the event of disaster recovery. </p>
        </div>
      </div>
      <br><br><br>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px; text-align:right">
          <h3>NFC makes scanning and security easy</h3>
          <p>Near Field Communication (NFC) can be used to protect confidential info by requiring users to tap their ID card on the device to unlock it.</p>
          <p>NFC can also be used to &lsquo;touch to connect&rsquo;, for direct scanning to your mobile <devices class=""></devices>*</p>
        </div>
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <img src="images/one/brother/nfc-security.jpg" alt="Advanced Image Processing">
        </div>
      </div>
      <br><br><br>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <img src="images/one/brother/diverse-paper-handling.jpg" alt="Advanced Image Processing">
        </div>
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px;">
          <h3>Diverse paper handling and fast output</h3>
          <p>Our new scanners can handle a range of 2-sided (duplex) media as well as embossed plastic card up to 1.4mm thickness and 27-413 gsm paper weight thanks to the A4-ready ADF (Automatic Document Feeder). The easy-touse range also gives you rapid, richly detailed scans at up to 50 pages a minute (or 100 images per minute, 2-sided (duplex)) at 300dpi, making it ideal for quickly handling important batch jobs.</p>
          <h3>Advanced reverse roller system</h3>
          <p>This advanced system manages incoming bulk paper jobs so only one sheet is processed at a time. This ensures unrivalled reliability when scanning a variety of document types and weights.</p>
          <h3>Multi-feed detection</h3>
          <p>Our scanners use sound waves to identify potential misfeed, automatically suspending the paper pathway and alerting the user if an irregular signal is detected. This reduces the risk of damaged documents and lost data. Additionally, the ADS-3600W and ADS-3000N models feature an in-built jam sensor that expertly controls the flow of documents at high-speed</p>
        </div>
      </div>
    </div>
    <!-- /property -->

    <br><br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>
      <ul><li>General<ul style="display: table;"><li><strong>Functions</strong>High Speed Sheetfed Colour Network Scanner</li><li><strong>Engine</strong>Desktop</li><li><strong>Standard Memory</strong>256 MB</li><li><strong>Carrier Sheet Scan</strong>Yes (A4, A3-500 times)</li><li><strong>Plastic Card Scan</strong>Thickness - 10 mil to 55 mil (0.25 mm to 1.4 mm)<br>Size - 85.6 x 54.0 x 1.4 mm</li><li><strong>Multi Feed Sensor</strong>Yes</li><li><strong>Jam Sensor</strong>Yes</li></ul></li><li>Display<ul style="display: table;"></ul></li><li>Paper Handling<ul style="display: table;"><li><strong>Output Paper Capacity</strong>Up to 50 sheets</li><li><strong>ADF</strong>Up to 50 sheets</li><li><strong>Media Weight General</strong>Multiple Sheets: 40 to 413 gsm</li><li><strong>Media Size General</strong>Single Sheet: 51 to 216 mm(W) x 51 to 5000 mm(L)<br>Multiple Sheets: 51 to 216 mm(W) x 51 to 355 mm(L)</li><li><strong>Media Size ADF</strong>51 to 216 mm(W) x 51 to 355 mm(L)</li><li><strong>Media Type General</strong>Single Sheet: All types (using carrier sheet)<br>Multiple Sheets: Plain Paper, Thin Paper, Thick Paper, Thicker Paper, Recycled Paper, Post Card (JPN), Business Card, Plastic Card</li></ul></li><li>Digital Scanner<ul style="display: table;"><li><strong>Scanner Colour/Mono</strong>Colour</li><li><strong>Scanner Colour Depth</strong>30 bit input / 24 bit output colour</li><li><strong>Scanner Type</strong>Sheet Fed Digital</li><li><strong>Scanning Technology</strong>Dual CIS</li><li><strong>Scan Speed</strong>Simplex: Colour/Mono: 50 ppm (1.2 seconds (A4@300dpi))<br>Duplex: Colour/Mono: 50 ppm (100ipm)(1.2 seconds (A4@300dpi))</li><li><strong>Scanner Resolution (Optical)</strong>Up to 600 x 600 dpi</li><li><strong>Scanner Resolution (Interpolated)</strong>Up to 1200 x 1200 dpi</li><li><strong>2 Sided Scan</strong>Yes</li><li><strong>Scanning Area</strong>Width up to 216mm, Length up to 5000mm</li><li><strong>Scanner Grey Scale</strong>256 levels</li><li><strong>Scan to Keys</strong>Scan To: Email Client/ OCR/ Image/ File/ FTP/ USB / Network</li><li><strong>Scanner Compatibility</strong>Windows 10/8/8.1/ Windows7/ XP/ Vista, Windows Server® 2003(only 32 bit)/2008/2008 R2/2012/2012 R2<br>Mac  OSX 10.8 or greater▼<br>Linux▼</li><li><strong>Twain Compliant</strong>Twain 2.2 and WIA for Windows 10/ 8/8.1/ 7/ XP / Vista<br>Twain 2.2 for Mac  OSX 10.6 or greater▼<br>Sane for Linux▼</li><li><strong>Scanner Driver Functions</strong>Auto Deskew, Skip Blank Page, Auto Image Rotation, Multifeed Detection, Backgound Smoothing/Display Scanning Results, Carrier Sheet Mode, Plastic Card Mode</li><li><strong>Scanner Warm Up Time</strong>1.1 seconds from sleep mode to ready</li><li><strong>ISIS</strong>Yes</li></ul></li><li>Software<ul style="display: table;"><li><strong>Software Included</strong>Windows: PaperPort 14 SE+ABBYY FineReader v.11 Professional, ABBYY PDF Transformer Plus, Control Centre 4, Remote setup<br>Mac: ABBYYFineReader v.11 Professional, Control Centre 2, Remote setup</li><li><strong>Kofax VRS</strong>Yes</li></ul></li><li>Connectivity<ul style="display: table;"><li><strong>Interface</strong>USB 3.0 @ Super-Speed, 10/100BaseTX/1000BaseT</li><li><strong>Network Interface Wired</strong>10Base-T/100Base-TX/1000BaseT Ethernet</li><li><strong>USB Host</strong>USB Host up to 64GB</li><li><strong>iPrintScan</strong>Yes</li></ul></li><li>Networking<ul style="display: table;"><li><strong>Network Management</strong>BrAdmin Light▼ / BrAdmin Professional▼ / Web Based Management</li><li><strong>Email Alerts</strong>Yes (Alerts)</li></ul></li><li>Options<ul style="display: table;"><li><strong>Optional Other</strong>Pickup Roller for ADF (200,000 sheets), Reverse Roller (200,000 sheets), Carrier Sheet for Receipt Application, Plastic Card Carrier Sheet</li></ul></li><li>Weight and Measures<ul style="display: table;"><li><strong>Size</strong>306(W) x 258(D) x 250(H)mm</li><li><strong>Weight</strong>4.45 Kg</li></ul></li><li>Environment<ul style="display: table;"><li><strong>Energy Star Compliant</strong>Yes</li><li><strong>Power Consumption</strong>Peak: 30W or less<br>Ready: 4.1W or less<br>Sleep: 2.9W or less<br>Off: 0.12W or less</li><li><strong>Noise Level</strong>63.9dB</li><li><strong>Sleep Mode</strong>Yes</li></ul></li><li>Others<ul style="display: table;"><li><strong>Warranty</strong>12 Months Return To Base</li><li><strong>Carton Contents</strong>ADS-3000N, Quick Setup Guide, User's Guide, Network Guide, CD-ROM's, ADF Document Output Support, Power Cord, USB cable</li><li><strong>Footer</strong>▼ Download from Brother Solutions Centre</li></ul></li></ul>
    </div>
    <!-- /specs -->

  </div>
</body>
