<head>
  <meta charset="UTF-8">
  <title>TMC3500</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- end product_cta -->
    <div class="product_overview">
      <h2 style="text-align:center">Overview</h2>
      <hr>
      <p>Whether you’re printing labels, tickets or tags, the ColorWorks C3500 (TM-C3500) is designed to help your business print a wide variety of colourful labels in-house. Featuring high-quality print speeds of up to 103mm/sec and individual pigment ink cartridges, your business can save money on outsourcing label production, by printing labels on-demand.</p>
    </div>

    <!-- end product_overview -->
    <div class="product_features">
      <h2 style="text-align:center">Main Features</h2>
      <hr>
      <ul>
        <li style="margin-bottom: 12px"><strong>Durable prints</strong>: Long-lasting pigment ink</li>
        <li style="margin-bottom: 12px"><strong>Fast print speeds</strong>: Print labels at up to 103mm/sec</li>
        <li style="margin-bottom: 12px"><strong>Matte, glossy and more</strong>: Print on a wide variety of media</li>
        <li style="margin-bottom: 12px"><strong>Easy operation</strong>: LCD screen for ink and printer status</li>
        <li style="margin-bottom: 12px"><strong>Cost saving</strong>: Individual ink cartridges      </li>
      </ul>
    </div>

    <br>

    <div class="product__quality">
      <div style="display: table">
        <img style="display: table-cell; vertical-align: middle; padding: 20px" src="images/one/epson/pages/g-e-tmc3500-1.jpg" alt="Print your own labels">
        <div style="display: table-cell; vertical-align: middle;">
          <p><strong>Print your own labels</strong></p>
          <p>With the ColorWorks C3500 (TM-C3500), you can easily customise and print your own colour labels. Whether it's printing packaging labels with colourful logos and pictures or tickets and ID cards with important barcodes and product information, this printer ensures you can print it all from one machine. It also helps you conform with GHS international chemical labelling guidelines, as labels can be printed on-demand without using pre-printed templates.</p>
        </div>
      </div>
      <div style="display: table; text-align: right">
        <div style="display: table-cell; vertical-align: middle;">
          <p><strong>High-quality and durable</strong></p>
          <p>Thanks to the individual pigment ink cartridges, you can create fast-drying, highly detailed labels that are smudge, water and fade resistant. Not only will your labels look great, but the pigment ink's long-lasting, durable qualities make it perfect for a wide variety of environments.</p>
        </div>
        <img style="display: table-cell; vertical-align: middle; padding: 20px" src="images/one/epson/pages/g-e-tmc3500-2.jpg" alt="Print your own labels">
      </div>
      <div style="display: table">
        <img style="display: table-cell; vertical-align: middle; padding: 20px" src="images/one/epson/pages/g-e-tmc3500-3.jpg" alt="Print your own labels">
        <div style="display: table-cell; vertical-align: middle;">
          <p><strong>Easy-to-use 4-colour label printer</strong></p>
          <p>You can easily print on a wide selection of materials, including matte and glossy coated paper and filmic labels. This means you can create exactly the type of labels you need. The LCD screen displays ink levels and printer status information, while front operation and easy setup software means you can operate the printer without specialist training.</p>
        </div>
      </div>
      <div class="quality">
        <p><strong>Saving you money</strong></p>
        <p>Thanks to individual pigment ink cartridges, this label printer is ideal for cutting printing costs with its low cost-per-label, as you only need to replace the colour used.</p>
      </div>
    </div>

    <!-- end product_features -->
    <div class="product_techspecs">
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr>

      <h3>Technology</h3>

      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">Printing Method</td>
          <td>Serial inkjet printer</td>
        </tr>
        <tr>
          <td>Nozzle Configuration</td>
          <td>360 Nozzles per colour</td>
        </tr>
        <tr>
          <td>Colours</td>
          <td>Magenta, Yellow, Cyan, Black</td>
        </tr>
        <tr>
          <td>Ink Technology</td>
          <td>DURABrite™ Ultra</td>
        </tr>
        <tr>
          <td>Category</td>
          <td>Desktop colour label printerPrint</td>
        </tr>
      </table>

      <h3>Print</h3>

      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">Printing Speed</td>
          <td>Max. 103 mm/sec at 360 x 360 DPI (printing width 56 mm)</td>
        </tr>
        <tr>
          <td>Printing Resolution</td>
          <td>Max. 720 x 360 DPI</td>
        </tr>
        <tr>
          <td>Printing Width</td>
          <td>Max. 104 mm</td>
        </tr>
      </table>

      <h3>Supported Media</h3>

      <table width="100%" style="font-size:12px">
       <tr>
          <td width="40%">Formats</td>
          <td>Roll (4" external diameter), Fanfold paper</td>
        </tr>
       <tr>
          <td>Width</td>
          <td>Min&nbsp;30&nbsp;mm, Max&nbsp;112&nbsp;mm</td>
        </tr>
       <tr>
          <td>Type</td>
          <td>Continuous label, Continuous paper, Die-cut label, Black mark paper, Black mark label</td>
        </tr>
      </table>

      <h3>General</h3>
      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">Interfaces</td>
          <td> USB 2.0 Type B, Wired Network </td>
        </tr>
        <tr>
          <td width="40%">Autocutter</td>
          <td>Yes Included</td>
        </tr>
        <tr>
          <td>Power Supply</td>
          <td>External</td>
        </tr>
        <tr>
          <td>Supply voltage</td>
          <td>100 ~ 240 V, 50 ~ 60 Hz</td>
        </tr>
        <tr>
          <td>Power consumption</td>
          <td>Standby: Appx. 3 W, Printing: Appx. 30 W</td>
        </tr>
        <tr>
          <td>Reliability</td>
          <td>MCBF: 9,800,000  passes , MTBF: 88,000  Hours </td>
        </tr>
        <tr>
          <td>Temperature / humidity</td>
          <td>Storage: -20~60 °C ( 5~85 % RH), Printing: 10~35 °C ( 20~80 % RH)</td>
        </tr>
        <tr>
          <td>Product dimensions</td>
          <td>310‎ x 283 x 261 mm (Width x Depth x Height)</td>
        </tr>
        <tr>
          <td>Product weight</td>
          <td>12 kg</td>
        </tr>
      </table>

      <h3>What's in the box</h3>

      <p> AC Adaptor, Driver and utilities (CD), Individual Ink Cartridges, Main unit, Maintenance box, Roll paper, User manual</p>

    </div><!-- end product_techspecs -->
  </div>
</body>
