<head>
  <meta charset="UTF-8">
  <title>G-HP-L2751A</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- overview -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <p>Abandon paper-based workflows. Advance office efficiency with fast, intuitive scanning that turns hard copies into useful digital data. Rely on clear, legible results from a compact scanner designed to enhance collaboration.</p>
    </div>
    <!-- /overview -->

    <br><br>

    <!-- property -->
    <div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Transform paper into business flow</h4>
          <ul>
            <li>Send scanned files where you need them – directly to cloud storage or SharePoint®.</li>
            <li>File size matters – ensure files are saved with size in mind – automatically compress large files.</li>
            <li>Straighten out your paper shuffle – transform hard copies into easy-to-use files.</li>
            <li>Look sharp by producing clear, legible scans at up to 600-dpi resolution.</li>
          </ul>
          </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Simple scanning – ready, set, go</h4>
          <ul>
            <li>Save time and simplify complex scan jobs with HP Smart Document Scan Software.</li>
            <li>Fits in around the office – preserve workspace with a compact scanner designed to fit your floor plan.</li>
            <li>Create one-touch scanning efficiency by assigning your favourite settings to a single button.</li>
            <li>IT time and effort, saved – simplify deployments, installations, and event alerts.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Page-by-page confidence</h4>
          <ul>
            <li>Accurately capture the right content, using auto-scan mode, crop, and colour detection.</li>
            <li>Full speed ahead – breeze through sheet after sheet at speeds of up to 30 pages and 60 images per minute.</li>
            <li>Count on this workhorse to deliver again and again with a design that can handle up to 4,000 pages per day.</li>
            <li>Spend energy wisely – this scanner turns off automatically when it’s not needed to help reduce energy costs.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /property -->

    <br><br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>
<dl>
<dd style="margin-left:0">
<dl>
<dt>Scanner type:
</dt>
<dd>
<span>Flatbed, ADF</span>
</dd>
</dl>
<dl>
<dt>Scan resolution, optical:
</dt>
<dd>
<span>Up to 600 dpi (colour and monochrome, ADF); Up to 1200 dpi (colour and monochrome, flatbed)</span>
</dd>
</dl>
<dl>
<dt>Duty cycle (daily):
</dt>
<dd>
<span>3,000 pages (ADF)</span>
</dd>
</dl>
<dl>
<dt>Bit depth:
</dt>
<dd>
<span>24-bit</span>
</dd>
</dl>
<dl>
<dt>Levels of grayscale:
</dt>
<dd>
<span>256</span>
</dd>
</dl>
<dl>
<dt>Multifeed detection:
</dt>
<dd>
<span>Yes</span>
</dd>
</dl>
<dl>
<dt>Task speed:
</dt>
<dd>
<ul style="padding-left:0">
<li>10 x 15 cm colour photo to file (200 dpi, 24-bit, TIFF): about 9.2 sec for single image scan</li>
<li>10 x 15 cm colour photo to email (150 dpi, 24-bit): about 8.9 sec for single image scan</li>
<li>A4 PDF to email (300 dpi, 24-bit): about 13.2 sec for single image scan</li>
<li>OCR A4 to RTF (200 dpi, 24-bit): about 13.9 sec for single image scan</li>
<li>(Does not support slides to file)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Scan size (flatbed), maximum:
</dt>
<dd>
<span>216 x 297 mm</span>
</dd>
</dl>
<dl>
<dt>Media types:
</dt>
<dd>
<span>Paper (banner, inkjet, photo, plain), envelopes, labels, cards (greeting, index)</span>
</dd>
</dl>
<dl>
<dt>Media weights, supported ADF:
</dt>
<dd>
<span>45 to 120 g/m²</span>
</dd>
</dl>
<dl>
<dt>Scan file format:
</dt>
<dd>
<span>For text &amp; images: PDF, JPEG, PNG, BMP, TIFF, TXT (text), RTF (rich text) and searchable PDF</span>
</dd>
</dl>
<dl>
<dt>Scan input modes:
</dt>
<dd>
<span>Scan front-panel function for Save as PDF, Save as JPEG, Email as PDF, Email as JPEG, Send to Cloud, Everyday Scan and Save as Editable Text (OCR). HP Scan in Windows OS, HP Easy Scan/ICA in Mac OS and thrid parties applications via TWAIN.</span>
</dd>
</dl>
<dl>
<dt>Control panel:
</dt>
<dd>
<ul style="padding-left:0">
<li>2-line LCD</li>
<li>5 buttons (Simplex/Duplex, Power, Cancel, Back and Tools/Maintenance)</li>
</ul>
</dd>
</dl>
</dd>
<dt>


<h2>ADF specifications</h2>



</dt>
<dd style="margin-left:0">
<dl>
<dt>Automatic document feeder capacity:
</dt>
<dd>
<span>Standard, 50 sheets</span>
</dd>
</dl>
<dl>
<dt>Automatic document feeder speed</dt>
<dd>
<span>Up to 25 ppm/50 ipm (300 dpi)&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Scanning options (ADF):
</dt>
<dd>
<span>Single pass E-Duplex</span>
</dd>
</dl>
<dl>
<dt>Scan size (ADF), maximum:
</dt>
<dd>
<span>216 x 3100 mm</span>
</dd>
</dl>
<dl>
<dt>Scan size (ADF), minimum:
</dt>
<dd>
<span>105 x 148 mm</span>
</dd>
</dl>
</dd>
<dt>


<h2>Compatible operating systems</h2>



</dt>
<dd style="margin-left:0">
<dl>
<dt>Compatible operating systems</dt>
<dd>
<span>Windows 10 (32-bit/64-bit), Windows 8.1 (32-bit/64-bit), Windows 8 (32-bit/64-bit), Windows 7 (32-bit/64-bit)<br> Mac OS X Mavericks 10.9, OS X Yosemite 10.10</span>
</dd>
</dl>
<dl>
<dt>Mac compatible:
</dt>
<dd>
<ul style="padding-left:0">
<li>Yes</li>
</ul>
</dd>
</dl>
</dd>
<dt>


<h2>Connectivity</h2>



</dt>
<dd style="margin-left:0">
<dl>
<dt>Connectivity, standard:
</dt>
<dd>
<ul style="padding-left:0">
<li>Hi-Speed USB 2.0 and USB 3.0</li>
</ul>
</dd>
</dl>
<dl>
<dt>Twain version:
</dt>
<dd>
<span>TWAIN Certified. Version 2.1</span>
</dd>
</dl>
</dd>
<dt>


<h2>Power and operating requirements</h2>



</dt>
<dd style="margin-left:0">
<dl>
<dt>Voltage:
</dt>
<dd>
<span>Input voltage: 90 to 264 VAC, 50/60 Hz</span>
</dd>
</dl>
<dl>
<dt>Power consumption</dt>
<dd>
<span>4.51 watts (ready), 1.40 watts (sleep), 0.22 watts (auto-off), 0.22 watts (manual-off)&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Energy efficiency:
</dt>
<dd>
<span>ENERGY STAR® certified</span>
</dd>
</dl>
<dl>
<dt>Operating temperature range:
</dt>
<dd>
<span>10 to 35°C</span>
</dd>
</dl>
<dl>
<dt>Operating humidity range:
</dt>
<dd>
<span>15 to 80% RH (non-condensing)</span>
</dd>
</dl>
</dd>
<dt>


<h2>Dimensions and weight</h2>



</dt>
<dd style="margin-left:0">
<dl>
<dt>Minimum dimensions (W x D x H):
</dt>
<dd>
<span>460 x 387 x 145 mm</span>
</dd>
</dl>
<dl>
<dt>Weight:
</dt>
<dd>
<span>5.58 kg</span>
</dd>
</dl>
</dd>
<dt>


<h2>What's included</h2>



</dt>
<dd style="margin-left:0">
<dl>
<dt>Warranty:
</dt>
<dd>
<span>One-year commercial hardware warranty, phone and Web support included. Warranty may vary by country as required by law.</span>
</dd>
</dl>
<dl>
<dt>What's in the box:
</dt>
<dd>
<ul style="padding-left:0">
<li>HP ScanJet Pro 3500 f1 Scanner</li>
<li>HP ScanJet Pro 3500 f1 Flatbed Scanner Engine</li>
<li>Install Guide</li>
<li>HP Scan Software &amp; Drivers CD</li>
<li>HP Bonus Pack Software CD</li>
<li>Supporting flyers</li>
<li>Cushions</li>
<li>USB cable</li>
<li>Power adapter</li>
<li>Power cords</li>
</ul>
</dd>
</dl>
<dl>
<dt>Software included:
</dt>
<dd>
<ul style="padding-left:0">
<li>HP Scanner Device Driver</li>
<li>HP WIA Scan Driver</li>
<li>HP TWAIN Scan Driver (Certified)</li>
<li>HP Scan</li>
<li>HP Scanner Tools Utility</li>
<li>HP Event (Button) Handler</li>
<li>HP Windows Installer</li>
<li>I.R.I.S. Readiris Pro</li>
<li>I.R.I.S. Cardiris</li>
<li>Nuance PaperPort</li>
<li>LPDF (file with link to download software); No Mac Software on CD</li>
</ul>
</dd>
</dl>
<dl>
<dt>Cable included:
</dt>
<dd>
<span>Yes, 1 USB cable</span>
</dd>
</dl>
</dd>
</dl>
    </div>
    <!-- /specs -->

  </div>
</body>
