<head>
  <meta charset="UTF-8">
  <title>G-HP-F2A69A</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- overview -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <p>Finish tasks faster with a printer that starts right away and helps conserve energy. Multi-level device security helps protect from threats. Original HP Toner cartridges with JetIntelligence and this printer produce more high-quality pages.</p>
    </div>
    <!-- /overview -->

    <br><br>

    <!-- property -->
    <div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Accelerate your work and use less energy</h4>
          <ul>
            <li>Don’t wait for documents. Print your first page in as few as 8.5 seconds from energy-efficient sleep mode.</li>
            <li>This printer leads its class in low energy use—thanks to its innovative design and toner technology.</li>
            <li>Speed through jobs on a variety of media. Print two-sided documents almost as quickly as one.</li>
            <li>Now almost 30% smaller—this printer fits in tight places and delivers quiet operation.</li>
          </ul>
          </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Unparalleled fleet security and management</h4>
          <ul>
            <li>Embedded features detect security threats and heal your printer, protecting it from boot up to shutdown.</li>
            <li>Protect sensitive data stored on the printer and in transit, using embedded and optional security features.</li>
            <li>Protect sensitive business data with embedded and optional HP JetAdvantage Security Solutions.</li>
            <li>Centralize control of your print environment with HP Web Jetadmin7</li>
            <li>—and help build business efficiency.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>More pages, performance, and protection</h4>
          <ul>
            <li>Produce sharp text, bold blacks, and crisp graphics with precision black toner.</li>
            <li>Get more. Original HP Toner with JetIntelligence delivers more pages per cartridge than predecessors.</li>
            <li>Help ensure the Original HP quality you paid for with anti-fraud and cartridge authentication technology.</li>
            <li>Print right away with a preinstalled toner cartridge. Replace it with an optional high-yield cartridge.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Stay connected with secure mobile printing options</h4>
          <ul>
            <li>Enable 128-bit encrypted wireless direct printing from mobile devices—without accessing the network.</li>
            <li>Print with just a touch of your NFC-enabled mobile device to this printer—no network needed.</li>
            <li>Easily access, print, and share resources with Ethernet and optional wireless networking.</li>
            <li>Protect your investment with HP Care Pack. Let our HP certified engineers resolve all your technical issues.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /property -->

    <br><br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>
<dl>
<dt>


<h2>Specifications</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Print speed black:</dt>
<dd>
<span>Normal: Up to 43 ppm&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>First page out (ready)</dt>
<dd>
<span>Black: As fast as 6.0 sec; As fast as 11.5 sec (100 V)&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Print quality black (best):
</dt>
<dd>
<ul style="padding-left:0">
<li>Up to 1200 x 1200 dpi</li>
</ul>
</dd>
</dl>
<dl>
<dt>Resolution technology:
</dt>
<dd>
<span>300 dpi, 600 dpi, HP FastRes 1200, HP ProRes 1200</span>
</dd>
</dl>
<dl>
<dt>Duty cycle (monthly, A4)</dt>
<dd>
<span>Up to 150,000 pages&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Recommended monthly page volume</dt>
<dd>
<span>2000 to 7500&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Print technology:
</dt>
<dd>
<ul style="padding-left:0">
<li>Laser</li>
</ul>
</dd>
</dl>
<dl>
<dt>Processor speed:
</dt>
<dd>
<ul style="padding-left:0">
<li>1.2 GHz</li>
</ul>
</dd>
</dl>
<dl>
<dt>Print languages:
</dt>
<dd>
<ul style="padding-left:0">
<li>HP PCL 6, HP PCL 5 (HP PCL 5 driver available from the Web only), HP postscript level 3 emulation, native PDF printing (v 1.7)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Display:
</dt>
<dd>
<ul style="padding-left:0">
<li>4-line LCD (color graphics)</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Connectivity</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>HP ePrint capability:
</dt>
<dd>
<ul style="padding-left:0">
<li>Yes</li>
</ul>
</dd>
</dl>
<dl>
<dt>Mobile printing capability</dt>
<dd>
<span>HP ePrint<br>Apple AirPrint™<br>Mopria-certified&nbsp;<sup></sup>&nbsp;<span><br>(Wireless operations are compatible with 2.4 GHz operations only. App or software and HP ePrint account registration may also be required. Some features require purchase of an optional accessory. Learn more at <a href="http://hp.com/go/mobileprinting" target="_blank">hp.com/go/mobileprinting</a>.)</span></span>
</dd>
</dl>
<dl>
<dt>Wireless capability:
</dt>
<dd>
<ul style="padding-left:0">
<li>Optional, enabled with purchase of HW accessories.</li>
</ul>
</dd>
</dl>
<dl>
<dt>Connectivity, standard:
</dt>
<dd>
<ul style="padding-left:0">
<li>Hi-Speed USB 2.0 port</li>
<li>built-in Fast Ethernet 10Base-T/100Base-Tx, Gigabit Ethernet 1000Base-T</li>
</ul>
</dd>
</dl>
<dl>
<dt>Connectivity, optional:
</dt>
<dd>
<ul style="padding-left:0">
<li>HP Jetdirect 3000w NFC/Wireless Accessory J8030A, HP Jetdirect 2900nw Print Server J8031A</li>
</ul>
</dd>
</dl>
<dl>
<dt>Network ready:
</dt>
<dd>
<ul style="padding-left:0">
<li>Standard (built-in Gigabit Ethernet)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Minimum system requirements</dt>
<dd>
<span>
<ul style="padding-left:0">
<li>Windows XP SP3 all 32-bit editions (XP Home, XP Pro, etc), Windows Vista all 32-bit editions (Home Basic, Premium, Professional, etc), Windows 7 all 32- &amp; 64-bit editions, Windows 8/8.1 all 32- &amp; 64-bit editions (excluding RT OS for Tablets), Windows 10 all 32- &amp; 64-bit editions (excluding RT OS for Tablets)</li>
<li>CD-ROM or DVD drive, or Internet connection</li>
<li>Dedicated USB or network connection or Wireless connection</li>
<li>200 MB available hard disk space</li>
<li>OS compatible hardware (For OS hardware requirements see <a href="http://www.microsoft.com" target="_blank">http://www.microsoft.com</a>)</li>
</ul><br>
<ul style="padding-left:0">
<li>Mac OS X 10.8 Mountain Lion, OS X 10.9 Mavericks, OS X 10.10 Yosemite</li>
<li>Internet</li>
<li>USB</li>
<li>1 GB available hard disk</li>
<li>OS compatible hardware (For OS hardware requirements see <a href="http://www.apple.com" target="_blank">http://www.apple.com</a>)</li>
</ul>
</span>
</dd>
</dl>
<dl>
<dt>Compatible operating systems</dt>
<dd>
<span>Windows OS compatible with In-Box Driver: Windows XP SP3 all 32-bit editions (XP Home, XP Pro, etc), Windows Vista all 32-bit editions (Home Basic, Premium, Professional, etc), Windows 7 all 32- &amp; 64-bit editions, Windows 8/8.1 all 32- &amp; 64-bit editions (excluding RT OS for Tablets), Windows 10 all 32- &amp; 64-bit editions (excluding RT OS for Tablets)<br> Windows OS compatible with Universal Print Driver (From HP.com): Windows XP SP3 32- &amp; 64-bit editions (XP Home, XP Pro, etc), Windows Vista all 32- &amp; 64-bit editions (Home Basic, Premium, Professional, etc), Windows 7 all 32- &amp; 64-bit editions, Windows 8/8.1 all 32- &amp; 64-bit editions (excluding RT OS for Tablets), Windows 10 all 32- &amp; 64-bit editions (excluding RT OS for Tablets)<br> Mac OS (HP Print Drivers available from <a href="http://www.hp.com" target="_blank">http://www.hp.com</a> and Apple Store): OS X 10.8 Mountain Lion, OS X 10.9 Mavericks, OS X 10.10 Yosemite<br> Mobile OS (In-OS drivers): iOS, Android, Windows 8/8.1/10 RT<br> Linux OS (In-OS HPLIP): SUSE Linux (12.2, 12.3, 13.1), Fedora (17, 18, 19, 20), Linux Mint (13, 14, 15, 16, 17), Boss (3.0, 5.0), Ubuntu (10.04, 11.10, 12.04, 12.10, 13.04, 13.10, 14.04, 14.10), Debian (6.0.x, 7.x)<br> Other OS: UNIX&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Memory specifications</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Memory, standard:
</dt>
<dd>
<span>512 MB</span>
</dd>
</dl>
<dl>
<dt>Maximum memory</dt>
<dd>
<span>1.5 GB</span>
</dd>
</dl>
<dl>
<dt>Hard disk:
</dt>
<dd>
<ul style="padding-left:0">
<li>Optional, 500 GB minimum encrypted hard disk drive</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Paper handling</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Paper handling input, standard:
</dt>
<dd>
<ul style="padding-left:0">
<li>100-sheet multipurpose Tray 1, 550-sheet input Tray 2, automatic duplex printing</li>
</ul>
</dd>
</dl>
<dl>
<dt>Paper handling input, optional</dt>
<dd>
<span>Up to 3 optional 550-sheet paper feeders&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Paper handling output, standard:
</dt>
<dd>
<ul style="padding-left:0">
<li>250-sheet output bin</li>
</ul>
</dd>
</dl>
<dl>
<dt>Maximum output capacity (sheets):
</dt>
<dd>
<ul style="padding-left:0">
<li>Up to 250 sheets</li>
</ul>
</dd>
</dl>
<dl>
<dt>Duplex printing:
</dt>
<dd>
<ul style="padding-left:0">
<li>Automatic (standard)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Media sizes supported:
</dt>
<dd>
<ul style="padding-left:0">
<li>Tray 1: A4, A5, A6, B5, 16k, 10 x 15 cm, post cards (JIS single and double), envelopes (DL, C5, C6, B5)</li>
<li>Tray 2: A4, A5, B5, 16k, double postcard</li>
<li>Optional trays 3+: A4, B5, 16k, double postcard</li>
<li>Optional Automatic Duplexer: A4</li>
</ul>
</dd>
</dl>
<dl>
<dt>Media sizes, custom:
</dt>
<dd>
<ul style="padding-left:0">
<li>Tray 1: 76 x 127 to 216 x 356 mm</li>
<li>550-sheet input Tray 2: 105 x 148 to 216 x 356 mm</li>
<li>Optional 550-sheet input Tray 3+: 105 x 148 to 216 x 356 mm</li>
</ul>
</dd>
</dl>
<dl>
<dt>Media types:
</dt>
<dd>
<ul style="padding-left:0">
<li>Paper (bond, color, letterhead, plain, preprinted, prepunched, recycled, rough)</li>
<li>envelopes</li>
<li>labels</li>
<li>cardstock</li>
<li>transparencies</li>
<li>user-defined</li>
</ul>
</dd>
</dl>
<dl>
<dt>Supported media weight:
</dt>
<dd>
<ul style="padding-left:0">
<li>Tray 1: 60 to 200 g/m²</li>
<li>Tray 2+: 60 to 120 g/m²</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Power and operating requirements</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Power:
</dt>
<dd>
<ul style="padding-left:0">
<li>Input voltage: 100 to 127 VAC, 60 Hz</li>
<li>Input voltage: 200 to 240 VAC, 50 Hz (Not dual voltage, power supply varies by part number with #option code identifier)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Power consumption</dt>
<dd>
<span>741.98 watts (Active Printing), 13.72 watts (Ready), 2.51 watts (Sleep), 0.08 watts (Auto-Off), 0.08 watts (Off)&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Energy efficiency:
</dt>
<dd>
<ul style="padding-left:0">
<li>ENERGY STAR® certified</li>
<li>Blue Angel</li>
<li>CECP</li>
<li>EPEAT®</li>
</ul>
</dd>
</dl>
<dl>
<dt>Operating temperature range:
</dt>
<dd>
<ul style="padding-left:0">
<li>15 to 32.5°C</li>
</ul>
</dd>
</dl>
<dl>
<dt>Operating humidity range:
</dt>
<dd>
<ul style="padding-left:0">
<li>30 to 70% RH</li>
</ul>
</dd>
</dl>
<dl>
<dt>Acoustic power emissions (ready)</dt>
<dd>
<span>4.0 B(A)&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Acoustic pressure emissions bystander (active, printing)</dt>
<dd>
<span>54 dB(A)&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Dimensions and weight</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Minimum dimensions (W x D x H)</dt>
<dd>
<span>418 x 376 x 298 mm&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Maximum dimensions (W x D x H)</dt>
<dd>
<span>418 x 639 x 298 mm&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Weight</dt>
<dd>
<span>11.8 kg</span>
</dd>
</dl>
<dl>
<dt>Package dimensions (W x D x H):
</dt>
<dd>
<ul style="padding-left:0">
<li>497 x 398 x 466 mm</li>
</ul>
</dd>
</dl>
<dl>
<dt>Package weight:
</dt>
<dd>
<ul style="padding-left:0">
<li>14.6 kg</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>What's included</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>What's in the box</dt>
<dd>
<span>HP LaserJet M506 Printer<br>Introductory HP Black LaserJet Toner Cartridge (~6000 pages)<br>CDs containing software and electronic documentation<br>Warranty Guides<br>HIGS<br>Erratas&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Cable included:
</dt>
<dd>
<ul style="padding-left:0">
<li>No, please purchase USB cable separately</li>
<li>Yes, 1 USB (AP Only)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Replacement cartridges</dt>
<dd>
<span>
<ul style="padding-left:0">
<li>HP 87A Black Original LaserJet Toner Cartridge (~9000 pages) CF287A, HP 87X Black Original LaserJet Toner Cartridge (~18,000 pages) CF287X</li>
</ul><br><span>(Declared yield value in accordance with ISO/IEC 19752 and continuous printing. Actual yields vary considerably based on images printed and other factors. For details see <a href="http://www.hp.com/go/learnaboutsupplies" target="_blank">http://www.hp.com/go/learnaboutsupplies</a>.)</span></span>
</dd>
</dl>
<dl>
<dt>Warranty:
</dt>
<dd>
<ul style="padding-left:0">
<li>1 Year Limited Warranty (Return to HP/Dealer - Standard Bench Repair)</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
</dl>
    </div>
    <!-- /specs -->

  </div>
</body>
