<head>
  <meta charset="UTF-8">
  <title>G-HP-L2730B</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- overview -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <p>Enhance performance and streamline workflow, using a fast, reliable scanner. The compact, efficient footprint of this PC-connected device saves energy, while producing consistent, high-quality images in black-and-white, greyscale or colour.</p>
    </div>
    <!-- /overview -->

    <br><br>

    <!-- property -->
    <div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Increase productivity with reliable document capture</h4>
          <ul>
            <li>Quickly and easily scan each and every page with confidence, using HP EveryPage technology.</li>
            <li>Quickly scan up to 45 ppm and 90 ipm in black-and-white, greyscale and colour.</li>
            <li>Improve productivity with a robust and reliable 3,000-page duty cycle.</li>
            <li>Get worry-free, consistent, high-quality images with HP AccuPage.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Enjoy easy-to-integrate workflow solutions</h4>
          <ul>
            <li>Create profiles for frequent, common jobs and scan directly to a variety of destinations and applications.</li>
            <li>Easily capture data with built-in OCR capabilities, then save scans in a variety of file formats.</li>
            <li>Seamlessly integrate the scanner into existing systems with industry-standard drivers.</li>
            <li>Automatically improve the accuracy of scanned images with included Kofax Virtual ReScan® Pro software.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>A space and energy-saving design</h4>
          <ul>
            <li>Keep more of your workspace for yourself. A smaller footprint lets you locate the scanner where convenient.</li>
            <li>Help increase your energy efficiency as well as your productivity, thanks to the ENERGY STAR® rating.</li>
            <li>Rely on HP to help you conserve resources with recyclable packaging.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /property -->

    <br><br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>
<dl>
<dt>
<h2>Technical specifications</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Scanner type:
</dt>
<dd>
<span>Sheetfed</span>
</dd>
</dl>
<dl>
<dt>Digital sending standard features:
</dt>
<dd>
<ul style="padding-left:0">
<li>Local or network folder; e-mail; SharePoint 2007 &amp; 2010; Cloud destinations; Google Drive; Box; FTP; printer; fax; user-defined command-line application; web folder</li>
</ul>
</dd>
</dl>
<dl>
<dt>Scan resolution, optical:
</dt>
<dd>
<span>Up to 600 dpi</span>
</dd>
</dl>
<dl>
<dt>Enhanced scanning resolution:
</dt>
<dd>
<span>None</span>
</dd>
</dl>
<dl>
<dt>Duty cycle (daily):
</dt>
<dd>
<span>Recommended daily duty cycle: 3000 pages</span>
</dd>
</dl>
<dl>
<dt>Bit depth:
</dt>
<dd>
<span>48-bit</span>
</dd>
</dl>
<dl>
<dt>Levels of grayscale:
</dt>
<dd>
<span>256</span>
</dd>
</dl>
<dl>
<dt>Multifeed detection:
</dt>
<dd>
<span>Yes</span>
</dd>
</dl>
<dl>
<dt>Media types:
</dt>
<dd>
<span>Paper (plain, inkjet), envelopes, labels, cards (business, insurance, embossed, plastic ID, credit)</span>
</dd>
</dl>
<dl>
<dt>Media weights, supported ADF:
</dt>
<dd>
<span>41 to 209 g/m²</span>
</dd>
</dl>
<dl>
<dt>Scan file format:
</dt>
<dd>
<span>PDF (image-only, searchable, MRC, PDF/A, encrypted), TIFF (single page, multi-page, compressed: G3, G4, LZW, JPEG), DOC, RTF, WPD, XLS, TXT, XML, XPS, HTML, OPF, JPG, BMP, PNG</span>
</dd>
</dl>
<dl>
<dt>Scan input modes:
</dt>
<dd>
<span>Control panel with Simplex or Duplex button, Scanning software</span>
</dd>
</dl>
<dl>
<dt>Scanner advanced features:
</dt>
<dd>
<span>Scan to Google docs and SharePoint; HP Precision Feed technologies; Ultrasonic multi-feed detection; Blank page removal; Colour dropout; Long page support; Quick Set scan profiles; 48-bit internal/24-bit external bit depth</span>
</dd>
</dl>
<dl>
<dt>Control panel:
</dt>
<dd>
<ul style="padding-left:0">
<li>2 line, 16 character LCD</li>
<li>Buttons (Simplex, Duplex)</li>
</ul>
</dd>
</dl>
</dd>
<dt>
<h2>ADF specifications</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Automatic document feeder capacity:
</dt>
<dd>
<span>Standard, 50 sheets</span>
</dd>
</dl>
<dl>
<dt>Automatic document feeder speed</dt>
<dd>
<span>Up to 45 ppm/90 ipm (black-and-white, greyscale, colour, both 200 dpi and 300 dpi). Actual processing speeds may vary depending on scan resolution, network conditions, computer performance, and application software.</span>
</dd>
</dl>
<dl>
<dt>Scanning options (ADF):
</dt>
<dd>
<span>Single-sided; Two-sided; Single-pass duplex</span>
</dd>
</dl>
<dl>
<dt>Scan size (ADF), maximum:
</dt>
<dd>
<span>216 x 3098 mm</span>
</dd>
</dl>
<dl>
<dt>Scan size (ADF), minimum:
</dt>
<dd>
<span>51 x 74 mm</span>
</dd>
</dl>

</dd>
<dt>
<h2>Compatible operating systems</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Compatible operating systems</dt>
<dd>
<span>Windows 10, Windows 8 (32-bit, 64-bit), Windows 7 (32-bit, 64-bit), Windows Vista (32-bit, 64-bit), Windows XP(32-bit, 64-bit) with Service Pack 3</span>
</dd>
</dl>
<dl>
<dt>Mac compatible:
</dt>
<dd>
<ul style="padding-left:0">
<li>No</li>
</ul>
</dd>
</dl>

</dd>
<dt>
<h2>Connectivity</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Connectivity, standard:
</dt>
<dd>
<ul style="padding-left:0">
<li>1 Hi-Speed USB 2.0</li>
</ul>
</dd>
</dl>
<dl>
<dt>Twain version:
</dt>
<dd>
<span>Version 2.1</span>
</dd>
</dl>

</dd>
<dt>
<h2>Power and operating requirements</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Voltage:
</dt>
<dd>
<span>Input voltage: 100 to 240 VAC (+/- 10%), 50/60 Hz (+/- 3%), 1.3 amp</span>
</dd>
</dl>
<dl>
<dt>Power consumption</dt>
<dd>
<span>42 watts (active), 8.5 watts (ready), 1.822 watts (sleep), 0.203 watts (auto-Off)<span><br>(Power requirements are based on the country or region where the product is sold. Do not convert operating voltages or use with other voltages. Doing so might cause damage that would not be covered under the HP product warranty.)</span></span>
</dd>
</dl>
<dl>
<dt>Energy efficiency:
</dt>
<dd>
<span>ENERGY STAR® qualified</span>
</dd>
</dl>
<dl>
<dt>Operating temperature range:
</dt>
<dd>
<span>10 to 35ºC</span>
</dd>
</dl>
<dl>
<dt>Operating humidity range:
</dt>
<dd>
<span>15 to 80% RH (non-condensing)</span>
</dd>
</dl>

</dd>
<dt>
<h2>Dimensions and weight</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Minimum dimensions (W x D x H):
</dt>
<dd>
<span>310 x 183.8 x 182.4 mm</span>
</dd>
</dl>
<dl>
<dt>Weight:
</dt>
<dd>
<span>5.35 kg</span>
</dd>
</dl>

</dd>
<dt>
<h2>What's included</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Warranty:
</dt>
<dd>
<span>One-year limited hardware warranty; 24x7 support. Warranty may vary by country as required by law. Go to <a href="http://www.hp.com/support" target="_blank">http://www.hp.com/support</a> to learn about HP world-class service and support options in your region.</span>
</dd>
</dl>
<dl>
<dt>What's in the box:
</dt>
<dd>
<ul style="padding-left:0">
<li>HP Scanjet Enterprise Flow 7000 s2 Sheet-feed Scanner</li>
<li>Install Guide</li>
<li>Power supply and power cord</li>
<li>HP Scanning Software and Third-party software</li>
<li>ADF cleaning cloth</li>
</ul>
</dd>
</dl>
<dl>
<dt>Software included:
</dt>
<dd>
<ul style="padding-left:0">
<li>HP TWAIN</li>
<li>Smart Document Scan Software (SDSS)</li>
<li>WIA</li>
<li>EMC ISIS</li>
<li>Scanner Tools Utility (STU)</li>
<li>Readiris Pro</li>
<li>Nuance PaperPort</li>
<li>Cardiris Pro</li>
<li>Kofax VirtualRescan Professional</li>
</ul>
</dd>
</dl>
<dl>
<dt>Cable included:
</dt>
<dd>
<span>Yes, 1 USB cable</span>
</dd>
</dl>

</dd>
</dl>
    </div>
    <!-- /specs -->

  </div>
</body>
