<head>
  <meta charset="UTF-8">
  <title>G-HP-J6U55D</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- overview -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <p>Not inkjet. Not laser. Introducing HP PageWide business printers. Get the best combination of lowest total cost of ownership, print quality, and speed.</p>
      <p>HP Managed MFPs and printers are optimized for managed environments. Offering increased monthly page volumes and fewer interventions, this portfolio of products can help reduce printing and copying costs. See your HP Authorized Reseller for details.</p>
    </div>
    <!-- /overview -->

    <br><br>

    <!-- property -->
    <div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <img src="images/one/hp/professional-colour.png" alt="Professional Colour" />
        </div>
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Professional colour, breakthrough total cost</h4>
          <ul style="padding-left: 16px">
            <li>Results you expect and lasting value—breakthrough total cost of ownership, the lowest in its class.</li>
            <li>Print professional-quality colour on a variety of papers—perfect for office use.</li>
            <li>Print more pages and replace cartridges less often, using Original HP PageWide high-yield cartridges.</li>
            <li>Spend less time and budget on scheduled maintenance with streamlined HP PageWide Technology.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <img src="images/one/hp/fastest-mfp.png" alt="Fastest MFP in it's class" />
        </div>
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>The fastest MFP in its class</h4>
          <ul style="padding-left: 16px">
            <li>Wait less, do more with unmatched speeds—up to 55 ppm—and the fastest first-page printing in its class.</li>
            <li>Get fast two-sided scanning directly to email and the cloud with this LDAP-enabled MFP.</li>
            <li>Manage tasks from a 10.9 cm (4.3-inch) touchscreen. Print Microsoft® Word and PowerPoint® files from USB.</li>
            <li>Print from your mobile device with Wi-Fi Direct® and NFC touch-to-print technology—no network needed.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <img src="images/one/hp/proven-technology.png" alt="Proven Technology" />
        </div>
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Proven technology. Superior energy efficiency</h4>
          <ul style="padding-left: 16px">
            <li>Minimize downtime with HP PageWide Technology that delivers reliable performance businesses demand.</li>
            <li>Conserve with HP PageWide Technology—designed to use less energy than any MFP in its class.</li>
            <li>Get professional-quality colour documents and the performance you expect with Original HP PageWide cartridges.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <img src="images/one/hp/best-in-class-security.png" alt="Best-in-class Security" />
        </div>
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Best-in-class security and management features</h4>
          <ul style="padding-left: 16px">
            <li>Help protect your investment and extend capabilities as your needs grow, with a portfolio of solutions.</li>
            <li>Help ensure the security of confidential information. Enter a PIN at the device to retrieve your print job.</li>
            <li>Regulate colour use and reduce printing costs with HP Color Access Control.</li>
            <li>Help keep your printer secure—from boot up to shutdown—with secure boot and secure code integrity validation.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /property -->

    <br><br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>
<dl>
<dt>


<h2>Specifications</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Print speed color:</dt>
<dd>
<span>Normal:Up to 50 ppm</span>
</dd>
</dl>
<dl>
<dt>First page out (ready)</dt>
<dd>
<span>Black: As fast as 6 sec<br>Color: As fast as 6.5 sec</span>
</dd>
</dl>
<dl>
<dt>Print quality black (best):
</dt>
<dd>
<ul style="padding-left:0">
<li>Up to 1200 x 1200 optimised dpi from 600 x 600 input dpi (on unspecified plain paper, HP Premium Inkjet Presentation Paper Matte, and HP Inkjet Brochure Paper Matte)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Print quality color (best):
</dt>
<dd>
<ul style="padding-left:0">
<li>Up to 2400 x 1200 optimized dpi from 600 x 600 input dpi (on HP Advanced Photo Papers)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Duty cycle (monthly, A4)</dt>
<dd>
<span>Up to 80,000 pages&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Recommended monthly page volume</dt>
<dd>
<span>1000 to 6000&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Print technology:
</dt>
<dd>
<ul style="padding-left:0">
<li>HP PageWide Technology with pigmented inks</li>
</ul>
</dd>
</dl>
<dl>
<dt>Print languages:
</dt>
<dd>
<ul style="padding-left:0">
<li>HP PCLXL (PCL6), native PDF, HP Postscript Level 3 emulation</li>
</ul>
</dd>
</dl>
<dl>
<dt>Display:
</dt>
<dd>
<ul style="padding-left:0">
<li>4.3" CGD (Color Graphic Display), IR touchscreen</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Connectivity</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>HP ePrint capability:
</dt>
<dd>
<ul style="padding-left:0">
<li>Yes</li>
</ul>
</dd>
</dl>
<dl>
<dt>Mobile printing capability</dt>
<dd>
<span>HP ePrint, HP ePrint Mobile Apps, Google Cloud Print, HP ePrint Wireless Direct, Apple AirPrint™, Mopria-certified</span>
</dd>
</dl>
<dl>
<dt>Wireless capability:
</dt>
<dd>
<ul style="padding-left:0">
<li>Yes</li>
</ul>
</dd>
</dl>
<dl>
<dt>Connectivity, standard:
</dt>
<dd>
<ul style="padding-left:0">
<li>1 Hi-Speed USB 2.0 Host</li>
<li>1 Hi-Speed USB 2.0 Device</li>
<li>1 Ethernet 10/100 Base-TX network</li>
<li>802.11 b/g/n Station</li>
<li>802.11 b/g Access Point</li>
</ul>
</dd>
</dl>
<dl>
<dt>Connectivity, optional:
</dt>
<dd>
<ul style="padding-left:0">
<li>Support the following external Jetdirect servers</li>
<li>Print only: HP Jetdirect en1700 External Print Server (J7988G), HP Jetdirect en3700 Fast-Ethernet External Print Server for Network Capable Hi-Speed USB 2.0 &amp; 3.0 Peripherals (J7942G), HP Jetdirect ew2400 802.11b/g wireless and Fast Ethernet external print server (USB 2.0, 10/100Base-TX, 802.11b/g) (J7951G), HP Jetdirect ew2500 802.11b/g Wireless Print Server (J8021A)</li>
<li>Other supported accessories: Apple AirPort Express, Apple AirPort Extreme, Apple Airport TimeCapsule</li>
<li>WiFi Direct</li>
</ul>
</dd>
</dl>
<dl>
<dt>Network ready:
</dt>
<dd>
<ul style="padding-left:0">
<li>Standard (built-in Ethernet, WiFi 802.11b/g/n)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Minimum system requirements</dt>
<dd>
<span>
<ul style="padding-left:0">
<li>Windows® 10, 8.1, 8, 7: 32-bit  or 64-bit, 2 GB available hard disk space, CD-ROM/DVD drive or Internet connection, USB port, Internet Explorer. Windows Vista®: (32-bit only), 2 GB available hard disk space, CD-ROM/DVD drive or Internet connection, USB port, Internet Explorer 8. Windows® XP SP3 or higher (32-bit only): any Intel® Pentium® II, Celeron® or 233 MHz compatible processor, 850 MB available hard disk space, CD-ROM/DVD drive or Internet connection, USB port, Internet Explorer 8</li>
</ul><br>
<ul style="padding-left:0">
<li>Apple® OS X v10.11 El Capitan, OS X v10.10 Yosemite, OS X v10.9 Mavericks</li>
<li>1 GB HD</li>
<li>Internet required</li>
<li>USB</li>
</ul>
</span>
</dd>
</dl>
<dl>
<dt>Compatible operating systems</dt>
<dd>
<span>Windows 10, Windows 8, Windows 7, Mac OS X v10.11 El Capitan, OS X v10.10 Yosemite, OS X v10.9 Mavericks, Linux (hplip.net)</span>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Memory specifications</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Memory, standard:
</dt>
<dd>
<span>512 MB</span>
</dd>
</dl>
<dl>
<dt>Maximum memory</dt>
<dd>
<span>512 MB</span>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Paper handling</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Paper handling input, standard:
</dt>
<dd>
<ul style="padding-left:0">
<li>500-sheet input tray, 50-sheet multi-purpose tray</li>
</ul>
</dd>
</dl>
<dl>
<dt>Paper handling input, optional</dt>
<dd>
<span>Optional 500 sheet tray<br>2x500 sheet paper tray and stand</span>
</dd>
</dl>
<dl>
<dt>Paper handling output, standard:
</dt>
<dd>
<ul style="padding-left:0">
<li>300-sheet face-down output bin</li>
</ul>
</dd>
</dl>
<dl>
<dt>Maximum output capacity (sheets):
</dt>
<dd>
<ul style="padding-left:0">
<li>Up to 300 sheets</li>
</ul>
</dd>
</dl>
<dl>
<dt>Duplex printing:
</dt>
<dd>
<ul style="padding-left:0">
<li>Automatic (standard)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Media sizes supported:
</dt>
<dd>
<ul style="padding-left:0">
<li>Tray 1: Oficio</li>
<li>A4</li>
<li>A5</li>
<li>A6</li>
<li>B5 (JIS)</li>
<li>B6 (JIS)</li>
<li>16K</li>
<li>10 x 15 cm</li>
<li>L</li>
<li>Hagaki</li>
<li>envelopes (B5</li>
<li>C5</li>
<li>C6</li>
<li>DL</li>
<li>Chou #3</li>
<li>Chou #4)</li>
<li>Tray 2: A4</li>
<li>A5</li>
<li>B5 (JIS)</li>
<li>16K</li>
<li>envelopes (DL</li>
<li>B5</li>
<li>C5</li>
<li>Chou #3)</li>
<li>Tray 3: A4</li>
<li>A5</li>
<li>B5 (JIS)</li>
<li>16K</li>
</ul>
</dd>
</dl>
<dl>
<dt>Media sizes, custom:
</dt>
<dd>
<ul style="padding-left:0">
<li>Tray 1: 76 x 127 to 216 x 356 mm</li>
<li>Tray 2: 102 x 210 to 216 x 297 mm</li>
<li>Optional 500-sheet tray 3: 102 x 210 to 216 x 356 mm</li>
</ul>
</dd>
</dl>
<dl>
<dt>Media types:
</dt>
<dd>
<ul style="padding-left:0">
<li>Plain paper (light, intermediate, mid-weight, heavy, extra heavy, prepunched, recycled, bond, other inkjet plain paper), photo (glossy, gloss, soft gloss, satin, matte, other inkjet photo), envelopes, labels, cards, specialty papers (glossy brochure, matte brochure, tri-fold brochure, Hagaki, greeting cards, other inkjet specialty paper)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Supported media weight:
</dt>
<dd>
<ul style="padding-left:0">
<li>Tray 1: 60 to 120 g/m² (plain paper)</li>
<li>125 to 300 g/m² (photo)</li>
<li>75 to 90 g/m² (envelope)</li>
<li>120 to 180 g/m² (brochure)</li>
<li>163 to 200 g/m² (card)</li>
<li>Tray 2: 60 to 120 g/m² (plain paper)</li>
<li>125 to 250 g/m² (photo)</li>
<li>75 to 90 g/m² (envelope)</li>
<li>120 to 180 g/m² (brochure)</li>
<li>163 to 200 g/m² (card)</li>
<li>Tray 3, 4: 60 to 120 g/m² (plain paper)</li>
<li>125 to 250 g/m² (photo)</li>
<li>120 to 180 g/m² (brochure)</li>
<li>163 to 200 g/m² (card)</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Power and operating requirements</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Power:
</dt>
<dd>
<ul style="padding-left:0">
<li>Input voltage: 100 to 240 VAC (+/- 10%), 50/60 Hz (+/- 3 Hz)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Power consumption</dt>
<dd>
<span>100 watts (Maximum), 70 watts average (Printing), 9.5 watts (Ready), 4.5 watts (Sleep), 0.95 watts (Auto-Off), 0.2 watts (Manual-Off)</span>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Dimensions and weight</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Minimum dimensions (W x D x H)</dt>
<dd>
<span>530 x 407 x 419.5 mm</span>
</dd>
</dl>
<dl>
<dt>Maximum dimensions (W x D x H)</dt>
<dd>
<span>802 x 693 x 454 mm</span>
</dd>
</dl>
<dl>
<dt>Weight</dt>
<dd>
<span>16.80 kg&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Package dimensions (W x D x H):
</dt>
<dd>
<ul style="padding-left:0">
<li>600 x 495 x 529 mm</li>
</ul>
</dd>
</dl>
<dl>
<dt>Package weight:
</dt>
<dd>
<ul style="padding-left:0">
<li>20.75 kg</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>What's included</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Replacement cartridges</dt>
<dd>
<span>
<ul style="padding-left:0">
<li>L0S20YC - HP L0S20YC Extra High Yield Black Contract Original PageWide Cartridge (~21000 pages)</li>
<li>L0S29YC - HP L0S29YC Extra High Yield Cyan Contract Original PageWide Cartridge (~16000 pages)</li>
<li>L0S30YC - HP L0S30YC Extra High Yield Magenta Contract Original PageWide Cartridge (~16000 pages)</li>
<li>L0S31YC - HP L0S31YC Extra High Capacity Yellow Contract Original PageWide Cartridge (~16000 pages)</li>
</ul>
</span>
</dd>
</dl>
<dl>
<dt>Warranty:
</dt>
<dd>
<ul style="padding-left:0">
<li>1 Year Limited Warranty (Return to HP/Dealer - Unit Exchange)</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
</dl>
    </div>
    <!-- /specs -->

  </div>
</body>
