<head>
  <meta charset="UTF-8">
  <title>G-HP-L2683B</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- overview -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <p>Easily integrate this 28 x 43cm flatbed scanner into your office. Create custom workflow profiles using HP Smart Document Scan Software and scan with confidence at up to 50 ppm/100 ipm. Use the 200-page automatic document feeder for big scan jobs.</p>
    </div>
    <!-- /overview -->

    <br><br>

    <!-- property -->
    <div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Scanning for a more productive office</h4>
          <ul>
            <li>Quick, precise document scans in black-and-white, grayscale and color at up to 50 ppm/100 ipm.</li>
            <li>Scan documents unattended, using the 200-page automatic document feeder.</li>
            <li>Accurately capture scans of mixed stacks with various weights and sizes using HP EveryPage technology.</li>
            <li>Reliably capture large volumes of high-quality images with the 5000-page daily duty cycle.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Scan large-format documents and bulky items</h4>
          <ul>
            <li>Scan two sides of a page at the same time in a variety of media sizes up to 10.9 x 86.3 cm (11.8 x 34 inch.)</li>
            <li>Use the A3 flatbed to scan thick, bound materials or other items that can't go through the document feeder.</li>
            <li>Centrally monitor and control this scanner with industry-leading HP Web Jetadmin.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Easily integrate workflow solutions</h4>
          <ul>
            <li>Scan and integrate into document management applications using TWAIN, ISIS and WIA drivers.</li>
            <li>Create custom workflow profiles and assign them to quick-start buttons for easy access to repetitive tasks.</li>
            <li>Send scans to the cloud or SharePoint sites and add metadata for easy search, archiving and sharing.</li>
            <li>Track scanned documents with customized messages or page numbers with a built-in ink imprinter.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Built-in features deliver the results you need</h4>
          <ul>
            <li>Capture data you can edit with built-in OCR capabilities, then save scans in a variety of file formats.</li>
            <li>Enhance scans using features such as automatic deskew, rotate, crop, blank page removal and size formatting.</li>
            <li>Automatically improve the accuracy of scanned images with included Kofax Virtual ReScan® Pro software.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /property -->

    <br><br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>
<dl>
<dt>
<h2>Technical specifications</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Scanner type:
</dt>
<dd>
<span>Flatbed, ADF</span>
</dd>
</dl>
<dl>
<dt>Digital sending standard features:
</dt>
<dd>
<ul style="padding-left:0">
<li>Local or network folder; e-mail; SharePoint 2007 &amp; 2010; Cloud destinations; Google Drive; Box; FTP; printer; fax; user-defined command-line application; web folder</li>
</ul>
</dd>
</dl>
<dl>
<dt>Scan resolution, optical:
</dt>
<dd>
<span>Up to 600 dpi</span>
</dd>
</dl>
<dl>
<dt>Enhanced scanning resolution:
</dt>
<dd>
<span>None</span>
</dd>
</dl>
<dl>
<dt>Duty cycle (daily):
</dt>
<dd>
<span>Recommended daily duty cycle: 5000 pages</span>
</dd>
</dl>
<dl>
<dt>Bit depth:
</dt>
<dd>
<span>48-bit</span>
</dd>
</dl>
<dl>
<dt>Levels of grayscale:
</dt>
<dd>
<span>256</span>
</dd>
</dl>
<dl>
<dt>Multifeed detection:
</dt>
<dd>
<span>Yes, ultrasonic</span>
</dd>
</dl>
<dl>
<dt>Scan size (flatbed), maximum:
</dt>
<dd>
<span>297.2 x 431.8 mm</span>
</dd>
</dl>
<dl>
<dt>Media types:
</dt>
<dd>
<span>Paper (plain, inkjet, photo), envelopes, cards (index, greeting), 3-D objects</span>
</dd>
</dl>
<dl>
<dt>Media weights, supported ADF:
</dt>
<dd>
<span>49 to 120 g/m²</span>
</dd>
</dl>
<dl>
<dt>Scan file format:
</dt>
<dd>
<span>PDF (image-only, searchable, MRC, PDF/A, encrypted), TIFF (single page, multi-page, compressed: G3, G4, LZW, JPEG), DOC, RTF, WPD, XLS, TXT, XML, XPS, HTML, OPF, JPG, BMP, PNG</span>
</dd>
</dl>
<dl>
<dt>Scan input modes:
</dt>
<dd>
<span>Quick start buttons to HP Smart Document Scan Software and HP Document Copy; software scan using HP Smart Document Scan Software; user application via TWAIN, ISIS, WIA or Kofax VirtualRescan (VRS) Professional drivers</span>
</dd>
</dl>
<dl>
<dt>Scanner advanced features:
</dt>
<dd>
<span>48-bit internal/24-bit external bit depth</span>
</dd>
</dl>
<dl>
<dt>Control panel:
</dt>
<dd>
<ul style="padding-left:0">
<li>2 quick start buttons (Scan, Copy), Cancel, Tools, Powersave</li>
</ul>
</dd>
</dl>
</dd>
<dt>
<h2>ADF specifications</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Automatic document feeder capacity:
</dt>
<dd>
<span>Standard, 200 sheets</span>
</dd>
</dl>
<dl>
<dt>Automatic document feeder speed</dt>
<dd>
<span>Up to 50 ppm/100 ipm (b&amp;w, gray, color, 200 dpi)[1]</span>
</dd>
</dl>
<dl>
<dt>Scanning options (ADF):
</dt>
<dd>
<span>Single-pass duplex</span>
</dd>
</dl>
<dl>
<dt>Scan size (ADF), maximum:
</dt>
<dd>
<span>300 x 864 mm</span>
</dd>
</dl>
<dl>
<dt>Scan size (ADF), maximum:
</dt>
<dd>
<span>11.7 x 34 in</span>
</dd>
</dl>
<dl>
<dt>Scan size (ADF), minimum:
</dt>
<dd>
<span>70 x 148 mm</span>
</dd>
</dl>
<dl>
<dt>Scan size (ADF), minimum:
</dt>
<dd>
<span>2.75 x 5.8 in</span>
</dd>
</dl>
</dd>
<dt>
<h2>Compatible operating systems</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Compatible operating systems</dt>
<dd>
<span>Windows 10 (32-bit, 64-bit), Windows 8 (32-bit, 64-bit), Windows 7 (32-bit, 64-bit), Windows Vista (32-bit, 64-bit), Windows XP (32-bit, 64-bit) with Service Pack 3</span>
</dd>
</dl>
<dl>
<dt>Mac compatible:
</dt>
<dd>
<ul style="padding-left:0">
<li>No</li>
</ul>
</dd>
</dl>
</dd>
<dt>
<h2>Connectivity</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Connectivity, standard:
</dt>
<dd>
<ul style="padding-left:0">
<li>1 Hi-Speed USB 2.0</li>
</ul>
</dd>
</dl>
<dl>
<dt>Connectivity, optional:
</dt>
<dd>
<ul style="padding-left:0">
<li>Silex SX-DS-3000U1 Fast Ethernet USB Device Server</li>
<li>Silex SX-3000GB Gigabit Ethernet USB Device Server</li>
<li>Silex SX-DS-3000WAN 802.11n Wireless and Gigabit Ethernet USB Device Server</li>
<li>Silex SX-DS-4000U2 High Performance Gigabit Ethernet USB Device Server</li>
</ul>
</dd>
</dl>
<dl>
<dt>Twain version:
</dt>
<dd>
<span>Version 2.1</span>
</dd>
</dl>
</dd>
<dt>
<h2>Power and operating requirements</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Voltage:
</dt>
<dd>
<span>100 to 240 VAC (+/- 10%), 50/60 Hz (+/- 3%)[2]</span>
</dd>
</dl>
<dl>
<dt>Power consumption</dt>
<dd>
<span>112 watts maximum<span><br>([2]Power requirements are based on the country or region where the product is sold. Do not convert operating voltages or use with other voltages. Doing so might cause damage that would not be covered under HP product warranty.)</span></span>
</dd>
</dl>
<dl>
<dt>Energy efficiency:
</dt>
<dd>
<span>ENERGY STAR® qualified</span>
</dd>
</dl>
<dl>
<dt>Operating temperature range:
</dt>
<dd>
<span>10 to 35ºC</span>
</dd>
</dl>
<dl>
<dt>Operating humidity range:
</dt>
<dd>
<span>15 to 80% RH</span>
</dd>
</dl>
</dd>
<dt>
<h2>Dimensions and weight</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Minimum dimensions (W x D x H):
</dt>
<dd>
<span>692 x 558 x 338 mm</span>
</dd>
</dl>
<dl>
<dt>Weight:
</dt>
<dd>
<span>37 kg</span>
</dd>
</dl>
</dd>
<dt>
<h2>What's included</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Warranty:
</dt>
<dd>
<span>One-year on-site warranty, Web support included. Warranty may vary by country as required by law.</span>
</dd>
</dl>
<dl>
<dt>What's in the box:
</dt>
<dd>
<ul style="padding-left:0">
<li>HP Scanjet N9120 Document Flatbed Scanner</li>
<li>Hi-Speed USB 2.0 cable</li>
<li>power cord</li>
<li>CD-ROMs with software (HP Smart Document Scan Software, Kofax VirtualRescan (VRS) Professional, IRIS Readiris Pro OCR, EMC ISIS/TWAIN drivers, WIA drivers)</li>
<li>Printed Setup and Support Guide</li>
</ul>
</dd>
</dl>
<dl>
<dt>Software included:
</dt>
<dd>
<ul style="padding-left:0">
<li>HP Smart Document Scan Software</li>
<li>EMC ISIS/TWAIN drivers</li>
<li>Kofax VirtualRescan (VRS) Professional</li>
<li>I.R.I.S. Readiris Pro OCR</li>
<li>WIA drivers</li>
<li>HP Web Jetadmin SNMP Proxy Agent</li>
</ul>
</dd>
</dl>
<dl>
<dt>Cable included:
</dt>
<dd>
<span>Yes, 1 Hi-Speed USB 2.0</span>
</dd>
</dl>
</dd>
</dl>
    </div>
    <!-- /specs -->

  </div>
</body>
