<head>
  <meta charset="UTF-8">
  <title>G-HP-L2719A</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- overview -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <p>Move your business beyond paper-intensive processes. Integrate with existing networked manageability and security solutions. Improve workflows by creating a virtually unlimited number of scan profiles and reliably handle up to 5,000 pages a day.</p>
    </div>
    <!-- /overview -->

    <br><br>

    <!-- property -->
    <div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Enjoy forward-looking, high-speed productivity</h4>
          <ul>
            <li>Reclaim your time. Scan up to 60 pages per minute and 120 images per minute – even do two-sided scans.</li>
            <li>Easily manage jobs on the 20.3cm (8-inch) HP Easy Select touchscreen colour control panel with pullout keyboard.</li>
            <li>Do more with data using multiple scan-to options – folders, FTP sites, email, USB drives, SharePoint and more.</li>
            <li>Expand capture capabilities and seamlessly integrate solutions through the hardware integration pocket.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Outstanding content management and easy collaboration</h4>
          <ul>
            <li>Get high-volume performance, time and again – scan up to 5,000 pages daily with minimal user intervention.</li>
            <li>Bring data to life with built-in OCR capabilities, then save scans in a variety of file formats.</li>
            <li>Get fast results from single-pass scanning and HP EveryPage. Automatically remove blank pages.</li>
            <li>Manage big jobs with the 100-sheet automatic document feeder. Reliably handle scan jobs with mixed originals.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Get the digital sending security your business demands</h4>
          <ul>
            <li>Scan and send documents without worry – the HP High-Performance Secure Hard Disk helps keep sensitive data safe.</li>
            <li>Maintain security throughout the document lifecycle by enabling a variety of authentication options.</li>
            <li>Easily manage who can scan and where files can be saved, using advanced security features – including IPSec.</li>
            <li>Enable easy sharing of sensitive data when you create encrypted, password-protected PDFs.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Seamless management from the very start</h4>
          <ul>
            <li>Proactively and centrally manage the device with the rest of your imaging and printing environment.</li>
            <li>Expand workteam capabilities within your print environment, using a rich array of easy-to-integrate solutions.</li>
            <li>Redefine workflows and help reduce distribution costs, using optional HP Capture and Route software.</li>
            <li>Create advanced, custom workflows across a variety of devices, using optional HP Digital Sending Software.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /property -->

    <br><br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>
<dl>
<dt>
<h2>Technical specifications</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Scanner type:
</dt>
<dd>
<span>Flatbed, ADF</span>
</dd>
</dl>
<dl>
<dt>Digital sending standard features:
</dt>
<dd>
<ul style="padding-left:0">
<li>Embedded OCR software; Send to Email; Send to Internet and LAN Fax; Save to Network Folder; Save to USB drive; Address Book Management: network (LDAP)</li>
<li>local</li>
<li>personal; Quick Sets; Image Preview and Page Edit; Job Notification; Send to Me; Admin-controlled email fields</li>
</ul>
</dd>
</dl>
<dl>
<dt>Digital sending optional features:
</dt>
<dd>
<ul style="padding-left:0">
<li>Via HP Digital Sending Software: Customised Workflow Creation including metadata collection and validation</li>
<li>Central Address Book Management</li>
<li>Filenet support</li>
<li>Novell® Authentication</li>
<li>Single Point of Email Routing</li>
<li>Fleet Configuration of Digital Send</li>
<li>OCR</li>
</ul>
</dd>
</dl>
<dl>
<dt>Scan resolution, optical:
</dt>
<dd>
<span>Up to 600 dpi</span>
</dd>
</dl>
<dl>
<dt>Enhanced scanning resolution:
</dt>
<dd>
<span>Up to 600 dpi</span>
</dd>
</dl>
<dl>
<dt>Duty cycle (daily):
</dt>
<dd>
<span>Recommended daily duty cycle: 5000 pages</span>
</dd>
</dl>
<dl>
<dt>Bit depth:
</dt>
<dd>
<span>24-bit</span>
</dd>
</dl>
<dl>
<dt>Levels of grayscale:
</dt>
<dd>
<span>256</span>
</dd>
</dl>
<dl>
<dt>Multifeed detection:
</dt>
<dd>
<span>Yes, ultrasonic</span>
</dd>
</dl>
<dl>
<dt>Transparency adapter:
</dt>
<dd>
<span>None</span>
</dd>
</dl>
<dl>
<dt>Scan size (flatbed), maximum:
</dt>
<dd>
<span>215.9 x 355.6 mm</span>
</dd>
</dl>
<dl>
<dt>Media types:
</dt>
<dd>
<span>Paper (plain, inkjet, photo); envelopes; labels; cards, flatbed only (business, insurance, embossed, plastic ID, credit)</span>
</dd>
</dl>
<dl>
<dt>Media weights, supported ADF:
</dt>
<dd>
<span>49 to 120 g/m²</span>
</dd>
</dl>
<dl>
<dt>Scan file format:
</dt>
<dd>
<span>JPG, TIFF, MTIFF, PDF (image-only, searchable, high-compressed and AES encrypted), PDF/A, TXT, Unicode TXT, RTF, HTML</span>
</dd>
</dl>
<dl>
<dt>Scan input modes:
</dt>
<dd>
<span>Full-SVGA Control Panel Display with HP Easy Select User Interface</span>
</dd>
</dl>
<dl>
<dt>Scanner advanced features:
</dt>
<dd>
<span>HP EveryPage technologies including ultrasonic multi-feed detection; Advanced image enhancement features such as blank page removal, colour dropout, auto-orient, auto-crop, auto-deskew, and auto-threshold; Long page support; Switchable black/white background; Quick set scan profiles; Send to: Folder, FTP, Email, Network Fax, Print, USB Flash drive, Sharepoint, multiple destinations; Encrypted hard disk standard</span>
</dd>
</dl>
<dl>
<dt>Hard disk:
</dt>
<dd>
<ul style="padding-left:0">
<li>Standard, HP High Performance Secure Hard Disk (AES128 encryption, Secure Erase, minimum 250 GB)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Control panel:
</dt>
<dd>
<ul style="padding-left:0">
<li>Full-SVGA display with HP Easy Select User Interface</li>
<li>Screen brightness-adjustment control</li>
<li>LEDs (Ready, Data, Attention)</li>
<li>Buttons (Start, Cancel, Sleep, Reset) Virtual keyboard</li>
<li>Hi-Speed USB Host port</li>
</ul>
</dd>
</dl>
</dd>
<dt>
<h2>ADF specifications</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Automatic document feeder capacity:
</dt>
<dd>
<span>Standard, 100 sheets</span>
</dd>
</dl>
<dl>
<dt>Automatic document feeder speed</dt>
<dd>
<span>Up to 60 ppm/120 ipm (black &amp; white, greyscale, colour 200 ppi<br>b&amp;w, greyscale 300 ppi)<br>Up to 45 ppm/90 ipm (colour 300 ppi)</span>
</dd>
</dl>
<dl>
<dt>Scanning options (ADF):
</dt>
<dd>
<span>Single-pass duplex</span>
</dd>
</dl>
<dl>
<dt>Scan size (ADF), maximum:
</dt>
<dd>
<span>216 x 864 mm</span>
</dd>
</dl>
<dl>
<dt>Scan size (ADF), minimum:
</dt>
<dd>
<span>70 x 148 mm</span>
</dd>
</dl>
</dd>
<dt>
<h2>Compatible operating systems</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Compatible operating systems</dt>
<dd>
<span>No Operating System required<br> <span>(Requirements are: Windows folder share, DFS, Novell® share; Windows client to access the Embedded Web Browser pages)</span></span>
</dd>
</dl>
</dd>
<dt>
<h2>Connectivity</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Connectivity, standard:
</dt>
<dd>
<ul style="padding-left:0">
<li>10/100/1000 Ethernet</li>
<li>1 Hi-Speed USB Host (rear)</li>
<li>1 Hi-Speed USB Host (walk-up)</li>
<li>1 Hardware Integration Pocket (HIP) Hi-Speed USB</li>
</ul>
</dd>
</dl>
<dl>
<dt>Connectivity, optional:
</dt>
<dd>
<ul style="padding-left:0">
<li>HP Jetdirect 695nw Print Server J8024A</li>
<li>HP Jetdirect 640n Print Server J8025A</li>
</ul>
</dd>
</dl>
</dd>
<dt>
<h2>Power and operating requirements</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Voltage:
</dt>
<dd>
<span>Input voltage: 100 to 240 VAC (+/- 10%), 50/60 Hz (+/- 3%), 2.6 A</span>
</dd>
</dl>
<dl>
<dt>Power consumption</dt>
<dd>
<span>70 watts maximum, 37 watts (ready), 24 watts (sleep)</span>
</dd>
</dl>
<dl>
<dt>Energy efficiency:
</dt>
<dd>
<span>ENERGY STAR® qualified; EPEAT® Silver</span>
</dd>
</dl>
<dl>
<dt>Operating temperature range:
</dt>
<dd>
<span>10 to 35ºC</span>
</dd>
</dl>
<dl>
<dt>Operating humidity range:
</dt>
<dd>
<span>15 to 80% RH (non-condensing)</span>
</dd>
</dl>
</dd>
<dt>
<h2>Dimensions and weight</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Minimum dimensions (W x D x H):
</dt>
<dd>
<span>520.7 x 533.4 x 308.1 mm</span>
</dd>
</dl>
<dl>
<dt>Weight:
</dt>
<dd>
<span>20.18 kg</span>
</dd>
</dl>
</dd>
<dt>
<h2>What's included</h2>
</dt>
<dd style="margin-left:0">
<dl>
<dt>Warranty:
</dt>
<dd>
<span>One-year Next Business Day Onsite repair warranty, phone and Web support included. Warranty may vary by country as required by law.</span>
</dd>
</dl>
<dl>
<dt>What's in the box:
</dt>
<dd>
<ul style="padding-left:0">
<li>HP Digital Sender Flow 8500 fn1 Document Capture Workstation (with embedded High Performance Secure Hard Disk)</li>
<li>Hardware integration pocket, Install Guide, Documentation CD, Universal power supply, power cord</li>
</ul>
</dd>
</dl>
<dl>
<dt>Software included:
</dt>
<dd>
<ul style="padding-left:0">
<li>Embedded IRIS OCR engine</li>
<li>compatible with HP Digital Sending Software 4.91.21 software (optional)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Cable included:
</dt>
<dd>
<span>No, please purchase/provide network cable separately</span>
</dd>
</dl>
</dd>
</dl>
    </div>
    <!-- /specs -->

  </div>
</body>
