<head>
  <meta charset="UTF-8">
  <title>G-HP-CF379A</title>
</head>
<body>
  <div style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- end product_cta -->
    <div>

      <h2 style="text-align:center">Overview</h2>
      <hr>

      <p style="text-align: center; margin: 20px auto">
        <object id="flashObj" width="480" height="270" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,47,0"><param name="movie" value="http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1" /><param name="bgcolor" value="#FFFFFF" /><param name="flashVars" value="videoId=4599614142001&playerID=1398061537001&playerKey=AQ~~,AAABDi-Jknk~,MQ6DpUeTiFRzpiHyXUtnfEbiTnPHPtCD&domain=embed&dynamicStreaming=true" /><param name="base" value="http://admin.brightcove.com" /><param name="seamlesstabbing" value="false" /><param name="allowFullScreen" value="true" /><param name="swLiveConnect" value="true" /><param name="allowScriptAccess" value="always" /><embed src="http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1" bgcolor="#FFFFFF" flashVars="videoId=4599614142001&playerID=1398061537001&playerKey=AQ~~,AAABDi-Jknk~,MQ6DpUeTiFRzpiHyXUtnfEbiTnPHPtCD&domain=embed&dynamicStreaming=true" base="http://admin.brightcove.com" name="flashObj" width="480" height="270" seamlesstabbing="false" type="application/x-shockwave-flash" allowFullScreen="true" allowScriptAccess="always" swLiveConnect="true" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></embed></object>
      </p>

      <p>Unmatched print, scan, copy, and fax performance plus robust, comprehensive security for how you work. This color MFP finishes key tasks faster and guards against threats.1 Original HP Toner cartridges with JetIntelligence produce more pages.</p>
    </div>

    <!-- end product_overview -->
    <div></div>
    <!-- end product_features -->

    <div>
      <h2 style="text-align:center">Main Features</h2>
      <hr>

      <div style="display: table; margin: 30px auto">

        <div style="display: table-cell; vertical-align: middle; padding-right: 30px">
          <img width="300" height="240" src="images/one/hp/g-hp-cf377a-1.jpg" />
        </div>

          <div style="display: table-cell; vertical-align: middle;">
          <p><strong>Speed through tasks. Help keep data protected.</strong></p>
          <ul>
<li>Scan digital files directly to email, USB, network folders, and the cloud with preloaded business apps.</li>
<li>Grab pages and go—without waiting around. This MFP wakes up and prints faster than the competition.</li>
<li>Breeze through multipage documents with two-sided printing that’s faster than the competition.</li>
<li>Control access to print jobs and help keep printing safe with security features like LDAP authentication.</li>
          </ul>
        </div>
      </div>

      <div style="display: table; margin: 30px auto">

        <div style="display: table-cell; vertical-align: middle">
          <p><strong>Easy management. Efficient printing.</strong></p>
          <ul>
            <li>Easily manage print jobs directly at the MFP—just tap and swipe the 4.3-inch (10.9 cm) touchscreen.6</li>
            <li>Easily print Microsoft® Word and PowerPoint® documents—now directly from your USB drive.5</li>
            <li>Easily manage devices and settings using HP Web Jetadmin with a suite of essential management features.7</li>
            <li>Print using less energy than competitors—enhanced by Original HP Toner cartridges with JetIntelligence.8</li>
          </ul>
        </div>

        <div style="display: table-cell; vertical-align: middle; padding-left: 30px">
          <img width="254" height="178" src="images/one/hp/g-hp-cf377a-2.jpg" />
        </div>

      </div>

      <div style="display: table; margin: 30px auto">

        <div style="display: table-cell; vertical-align: middle; padding-right: 30px">
          <img width="294" height="191" src="images/one/hp/g-hp-cf377a-3.jpg" />
        </div>

        <div style="display: table-cell; vertical-align: middle">
          <p><strong>More. Pages, Performance, and Protection.</strong></p>
          <ul>
            <li>Get the most prints for your money—with Original HP High Yield Color Toner cartridges with JetIntelligence.</li>
            <li>Count on professional quality at high speeds with HP ColorSphere 3 toner.</li>
            <li>Help ensure you’re getting the authentic HP quality you paid for with innovative anti-fraud technology.</li>
            <li>Print right away with preinstalled toner cartridges. Replace them with optional high-yield cartridges.</li>
          </ul>
        </div>

      </div>

      <div style="display: table; margin: 30px auto">

        <div style="display: table-cell; vertical-align: middle">
          <p><strong>Stay connected with easy mobile printing options.</strong></p>
          <ul>
            <li>Easily print from a variety of smartphones and tablets—generally no setup or apps required.</li>
            <li>Count on wireless direct printing in the office—from mobile devices—without accessing the company network.</li>
            <li>Help workers print with just a touch of their NFC-enabled mobile device to the printer—no network needed.</li>
            <li>Easily access, print, and share resources with Ethernet and wireless networking.</li>
          </ul>
        </div>

        <div style="display: table-cell; vertical-align: middle; padding-left: 30px;">
          <img width="245" height="214" src="images/one/hp/g-hp-cf377a-4.jpg" />
        </div>

      </div>

      <br><br>

    </div>
    <!-- end product quality -->

    <!-- end product_features -->

    <div class="product_techspecs">
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr>
      <br><br>
      <dl>
        <dd>
          <dl>
            <dt><strong>Functions</strong></dt>
            <dd>
              <ul>
                <li>Print, copy, scan, fax, email</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt><strong>Multitasking supported</strong></dt>
            <dd>
              <ul>
                <li>Yes</li>
              </ul>
            </dd>
          </dl>
        </dd>
        <dd>
          <dl>
            <dt><strong>Print speed black:</strong></dt>
            <dd>
              <span>Normal: Up to 27 ppm&nbsp;&nbsp;</span>
            </dd>
          </dl>
          <dl>
            <dt><strong>Print speed color:</strong></dt>
            <dd>
              <span>Normal:Up to 27 ppm&nbsp;&nbsp;</span>
            </dd>
          </dl>
          <dl>
            <dt><strong>First page out (ready)</strong></dt>
            <dd>
              <span>Black: As fast as 9.0 sec<br>Color: As fast as 9.9 sec&nbsp;&nbsp;</span>
            </dd>
          </dl>
          <dl>
            <dt><strong>Duty cycle (monthly, A4)</strong></dt>
            <dd>
              <span>Up to 50,000 pages&nbsp;&nbsp;</span>
            </dd>
          </dl>
          <dl>
            <dt><strong>Recommended monthly page volume</strong></dt>
            <dd>
              <span>750 to 4000</span>
            </dd>
          </dl>
          <dl>
            <dt><strong>Print technology</strong></dt>
            <dd>
              <ul>
                <li>Laser</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt><strong>Print quality black (best)</strong></dt>
            <dd>
              <ul>
                <li>600 x 600 dpi, Up to 38,400 x 600 enhanced dpi</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt><strong>Print quality color (best)</strong></dt>
            <dd>
              <ul>
                <li>600 x 600 dpi, Up to 38,400 x 600 enhanced dpi</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt><strong>Resolution technology</strong></dt>
            <dd>
              <span>HP ImageREt 3600, PANTONE® calibrated</span>
            </dd>
          </dl>
          <dl>
            <dt><strong>Print languages</strong></dt>
            <dd>
              <ul>
                <li>HP PCL 6, HP PCL 5c, HP postscript level 3 emulation, PCLm, PDF, URF, Native Office</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt><strong>Display</strong></dt>
            <dd>
              <ul>
                <li>4.3" intuitive touchscreen Color Graphic Display (CGD)</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt><strong>Processor speed</strong></dt>
            <dd>
              <ul>
                <li>1200 MHz</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt><strong>Automatic paper sensor</strong></dt>
            <dd>
              <ul>
                <li>No</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt><strong>Replacement cartridges</strong></dt>
            <dd>
              <span>
                <ul>
                  <li>HP 410A Black LaserJet Toner Cartridge (~2300 pages) CF410A</li>
                  <li>HP 410X Black LaserJet Toner Cartridge (~6500 pages) CF410X</li>
                  <li>HP 410A Cyan LaserJet Toner Cartridge (~2300 pages) CF411A</li>
                  <li>HP 410X Cyan LaserJet Toner Cartridge (~5000 pages) CF411X</li>
                  <li>HP 410A Yellow LaserJet Toner Cartridge (~2300 pages) CF412A</li>
                  <li>HP 410X Yellow LaserJet Toner Cartridge (~5000 pages) CF412X</li>
                  <li>HP 410A Magenta LaserJet Toner Cartridge (~2300 pages) CF413A</li>
                  <li>HP 410X Magenta LaserJet Toner Cartridge (~5000 pages) CF413X</li>
                </ul>
              </span>
            </dd>
          </dl>
        </dd>
        <dd>
          <dl>
            <dt><strong>HP ePrint capability</strong></dt>
            <dd>
              <ul>
                <li>Yes</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt><strong>Mobile printing capability</strong></dt>
            <dd>
              <span>HP ePrint, Apple AirPrint™, Wireless Direct Printing, Mopria-certified, Google Cloud Print 2.0, Mobile Apps</span>
            </dd>
          </dl>
          <dl>
            <dt><strong>Wireless capability</strong></dt>
            <dd>
              <ul>
                <li>Built-in Wi-Fi</li>
                <li>Authentication via WEP, WPA/WPA2, WPA Enterprise</li>
                <li>Encryption via AES or TKIP</li>
                <li>WPS</li>
                <li>Wireless Direct Printing</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt><strong>Connectivity, standard</strong></dt>
            <dd>
              <ul>
                <li>Hi-Speed USB 2.0 port</li>
                <li>built-in Gigabit Ethernet 10/100/1000 Base-TX network port</li>
                <li>Easy-access USB</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt><strong>Network ready</strong></dt>
            <dd>
              <ul>
                <li>Standard (built-in Gigabit Ethernet, Wi-Fi) [Operates as both an AP (with Wi-Fi Direct) and STA]</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt><strong>Minimum system requirements</strong></dt>
            <dd>
              <span>
                <ul>
                  <li>Windows XP (SP2) (32-bit) or newer, 233 MHz processer or higher, 512 MB RAM, 400 MB HD space, CD-ROM or Internet, USB or Network connection</li>
                </ul><br>
                <ul>
                  <li>OSX 10.7 or newer</li>
                  <li>Internet</li>
                  <li>USB or Network connection</li>
                  <li>1 GB HD space</li>
                </ul>
              </span>
            </dd>
          </dl>
          <dl>
            <dt><strong>Compatible operating systems</strong></dt>
            <dd>
              <span>Windows OS compatible with In-Box Driver<br> Windows XP SP3 all 32-bit editions (XP Home, XP Pro, etc.)<br> Windows Vista all 32-bit editions (Home Basic, Premium, Professional, etc.)<br> Windows 7 all 32- &amp; 64-bit editions<br> Windows 8/8.1 all 32- &amp; 64-bit editions (excluding RT OS for Tablets)<br> Windows 10 all 32- &amp; 64-bit editions (excluding RT OS for Tablets)<br> Windows OS compatible with Universal Print Driver (From <a href="http://www.HP.com" target="_blank">http://www.HP.com</a>)<br> Windows XP SP3 32- &amp; 64-bit editions (XP Home, XP Pro, etc.)<br> Windows Vista all 32- &amp; 64-bit editions (Home Basic, Premium, Professional, etc.)<br> Windows 7 all 32- &amp; 64-bit editions<br>
                Windows 8/8.1 all 32- &amp; 64-bit editions (excluding RT OS for Tablets)<br> Windows 10 all 32- &amp; 64-bit editions (excluding RT OS for Tablets)<br> Mac OS (HP Print Drivers available from HP.com and Apple Store)<br>
                OS X 10.7 Lion<br> OS X 10.8 Mountain Lion<br> OS X 10.9 Mavericks<br> OS X 10.10 Yosemite<br> Mobile OS (In-OS drivers)<br> iOS, Android, Windows 8/8.1/10 RT<br> Linux OS (In-OS HPLIP<br> SUSE Linux (12.2, 12.3, 13.1)<br> Fedora (17, 18, 19, 20)<br> Linux Mint (13, 14, 15, 16, 17)<br> Boss (3.0, 5.0)<br> Ubuntu (10.04, 11.10, 12.04, 12.10, 13.04, 13.10, 14.04, 14.10)<br> Debian (6.0.x, 7.x)<br> Other OS<br> UNIX&nbsp;&nbsp;</span>
              </dd>
            </dl>
          </dd>
          <dd>
            <dl>
              <dt><strong>Memory, standard</strong></dt>
              <dd>
                <span>256 MB NAND Flash, 256 MB DRAM</span>
              </dd>
            </dl>
            <dl>
              <dt><strong>Maximum memory</strong></dt>
              <dd>
                <span>256 MB NAND Flash, 256 MB DRAM</span>
              </dd>
            </dl>
          </dd>
          <dd>
            <dl>
              <dt><strong>Paper handling input, standard</strong></dt>
              <dd>
                <ul>
                  <li>50-sheet multipurpose tray, 250-sheet input tray, 50-sheet Automatic Document Feeder (ADF)</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Paper handling input, optional</strong></dt>
              <dd>
                <span>Optional 550-sheet tray</span>
              </dd>
            </dl>
            <dl>
              <dt><strong>Paper handling output, standard</strong></dt>
              <dd>
                <ul>
                  <li>150-sheet output bin</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Maximum output capacity (sheets)</strong></dt>
              <dd>
                <ul>
                  <li>Up to 150 sheets</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Duplex printing</strong></dt>
              <dd>
                <ul>
                  <li>Manual (driver support provided)</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Media sizes supported</strong></dt>
              <dd>
                <ul>
                  <li>Tray 1, Tray 2: A4, A5, A6, B5 (JIS), B6 (JIS), 16K (195 x 270 mm, 184 x 260 mm, 197 x 273 mm), 10 x 15 cm, Oficio (216 x 340 mm), postcards (JIS single, JIS double), envelopes (DL, C5, B5)</li>
                  <li>Optional Tray 3: A4, A5, A6, B5 (JIS), B6 (JIS), 16K (195 x 270 mm, 184 x 260 mm, 197 x 273 mm), 10 x 15 cm, Oficio (216 x 340 mm), postcards (JIS single, JIS double)</li>
                  <li>Automatic duplexer: A4, B5, 16K (195 x 270 mm, 184 x 260 mm, 197 x 273 mm), Oficio (216 x 340 mm)</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Media sizes, custom</strong></dt>
              <dd>
                <ul>
                  <li>Tray 1: 76 x 127 to 216 x 356 mm</li>
                  <li>Tray 2, optional Tray 3: 100 x 148 to 216 x 356 mm</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Media types</strong></dt>
              <dd>
                <ul>
                  <li>Paper (bond, brochure, colored, glossy, letterhead, photo, plain, preprinted, prepunched, recycled, rough), postcards, labels, envelopes</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Media weight, supported</strong></dt>
              <dd>
                <ul>
                  <li>Tray 1: 60 to 176 g/m² (up to 200 g/m² with postcards and HP Color laser glossy photo papers)</li>
                  <li>Tray 2: 60 to 163 g/m² (up to 176 g/m² with postcards, up to 200 g/m² HP Color laser glossy photo papers): optional Tray 3: 60 to 163 g/m² (up to 176 g/m² with postcards, up to 150 g/m² Glossy media)</li>
                  <li>Automatic duplexer: 60 to 163 g/m²</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Media weights, supported ADF</strong></dt>
              <dd>
                <ul>
                  <li>60 to 90 g/m²</li>
                </ul>
              </dd>
            </dl>
          </dd>
          <dd>
            <dl>
              <dt><strong>Scanner type</strong></dt>
              <dd>
                <ul>
                  <li>Flatbed, ADF</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Scan resolution, optical</strong></dt>
              <dd>
                <ul>
                  <li>Up to 1200 x 1200 dpi</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Scan size (flatbed), maximum</strong></dt>
              <dd>
                <ul>
                  <li>216 x 297 mm</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Scan size (ADF), maximum</strong></dt>
              <dd>
                <ul>
                  <li>216 x 356 mm</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Scan size ADF (minimum)</strong></dt>
              <dd>
                <ul>
                  <li>102 x 152 mm</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Scan speed (normal, A4)</strong></dt>
              <dd>
                <span>Up to 26 ppm/47 ipm (b&amp;w), up to 21 ppm/30 ipm (color)&nbsp;&nbsp;</span>
              </dd>
            </dl>
            <dl>
              <dt><strong>Recommended monthly scan volume</strong></dt>
              <dd>
                <span>750 to 4000&nbsp;&nbsp;</span>
              </dd>
            </dl>
            <dl>
              <dt><strong>Duplex ADF scanning</strong></dt>
              <dd>
                <ul>
                  <li>Yes</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Automatic document feeder capacity</strong></dt>
              <dd>
                <ul>
                  <li>Standard, 50 sheets uncurled</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Digital sending standard features</strong></dt>
              <dd>
                <ul>
                  <li>Scan to email</li>
                  <li>scan to folder</li>
                  <li>scan to USB drive</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>File formats, supported</strong></dt>
              <dd>
                <ul>
                  <li>PDF</li>
                  <li>JPG</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Scan input modes</strong></dt>
              <dd>
                <ul>
                  <li>Front-panel scan, copy, email, fax, or file buttons</li>
                  <li>HP Scan software</li>
                  <li>and user application via TWAIN or WIA</li>
                </ul>
              </dd>
            </dl>
          </dd>
          <dd>
            <dl>
              <dt><strong>Copy speed (normal)</strong></dt>
              <dd>
                <span>Black: Up to 27 cpm<br>Color: Up to 27 cpm&nbsp;&nbsp;</span>
              </dd>
            </dl>
            <dl>
              <dt><strong>Copy resolution (black text)</strong></dt>
              <dd>
                <ul>
                  <li>600 x 600 dpi</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Copy resolution (color text and graphics)</strong></dt>
              <dd>
                <ul>
                  <li>600 x 600 dpi</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Copy reduce / enlarge settings</strong></dt>
              <dd>
                <ul>
                  <li>25 to 400%</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Copies, maximum</strong></dt>
              <dd>
                <ul>
                  <li>Up to 99 copies</li>
                </ul>
              </dd>
            </dl>
          </dd>
          <dd>
            <dl>
              <dt><strong>Faxing</strong></dt>
              <dd>
                <ul>
                  <li>Yes</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Fax transmission speed</strong></dt>
              <dd>
                <span>33.6 kbps &nbsp;&nbsp;</span>
              </dd>
            </dl>
            <dl>
              <dt><strong>Fax memory</strong></dt>
              <dd>
                <ul>
                  <li>Up to 400 pages</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Fax resolution</strong></dt>
              <dd>
                <ul>
                  <li>Up to 300 x 300 dpi</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Speed dials, maximum number</strong></dt>
              <dd>
                <ul>
                  <li>Up to 120 numbers</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Broadcast locations</strong></dt>
              <dd>
                <ul>
                  <li>119</li>
                </ul>
              </dd>
            </dl>
          </dd>
          <dd>
            <dl>
              <dt><strong>Power</strong></dt>
              <dd>
                <ul>
                  <li>110-volt input voltage: 110 to 127 VAC (+/- 10%), 60 Hz (+/- 3 Hz)</li>
                  <li>220-volt input voltage: 220 to 240 VAC (+/- 10%), 50/60Hz  (+/- 3 Hz) (Not dual voltage, power supply varies by part number with # Option code identifier)</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Power consumption</strong></dt>
              <dd>
                <span>570 watts (Active Printing), 18.6 watts (Ready), 2.5 watts (Sleep), 0.6 watts (Auto-On/Auto-Off, via USB connectivity), 0.05 watts (Shutdown or Off)&nbsp;&nbsp;</span>
              </dd>
            </dl>
            <dl>
              <dt><strong>Operating temperature range</strong></dt>
              <dd>
                <ul>
                  <li>15 to 30°C</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Operating humidity range</strong></dt>
              <dd>
                <ul>
                  <li>20 to 70% RH (non-condensing)</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><strong>Acoustic power emissions (ready)</strong></dt>
              <dd>
                <span>4.5 B(A)&nbsp;&nbsp;</span>
              </dd>
            </dl>
            <dl>
              <dt><strong>Acoustic pressure emissions bystander (active, printing)</strong></dt>
              <dd>
                <span>49 dB(A)&nbsp;&nbsp;</span>
              </dd>
            </dl>
          </dd>
          <dd>
            <dl>
              <dt><strong>Minimum dimensions (W x D x H)</strong></dt>
              <dd>
                <span>416 x 461 x 400 mm&nbsp;&nbsp;</span>
              </dd>
            </dl>
            <dl>
              <dt><strong>Maximum dimensions (W x D x H)</strong></dt>
              <dd>
                <span>426 x 641 x 414 mm&nbsp;&nbsp;</span>
              </dd>
            </dl>
            <dl>
              <dt><strong>Weight</strong></dt>
              <dd>
                <span>21.8 kg</span>
              </dd>
            </dl>
            <dl>
              <dt><strong>Package weight</strong></dt>
              <dd>
                <ul>
                  <li>26.2 kg</li>
                </ul>
              </dd>
            </dl>
          </dd>

        </dl>

      </div>
        <!-- end product_techspecs -->
</body>
