<head>
  <meta charset="UTF-8">
  <title>G-HP-L2737A</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- overview -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <p>Turn the page on time-consuming, manual document handling. This intelligent scanner is easy to use and makes any office more efficient. Get clear, crisp digital documents every time – and cut your power consumption with this energy-efficient device.</p>
    </div>
    <!-- /overview -->

    <br><br>

    <!-- property -->
    <div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Store and share scanned files easily, then send directly to cloud storage or SharePoint®.</h4>
          <ul>
            <li>Don’t get lost under piles of paper. Digitise your files and easily store, share, search and edit.</li>
            <li>Automatically scan both sides of your documents and send to the cloud or SharePoint®.</li>
            <li>Scan paper of various, thicknesses and sizes. And say goodbye to paper jams with ultrasonic double-feed detection: just press scan and walk away.</li>
            <li>Turn scans into editable files with Nuance OmniPage and use apps to convert business cards into a contact database.</li>
          </ul>
          </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Save time, skip manual steps, be more efficient and create one-click short cuts with HP Easy Scan</h4>
          <ul>
           <li>Spend less time digitising documents and more time doing business.</li>
           <li>Accurately capture the right results with auto-scan mode, crop and colour detection.</li>
           <li>Work smarter with intuitive shortcuts and HP Easy Scan. Create PDF files with a single touch and easily plug right in to existing scanning platforms.</li>
           <li>Seamlessly add high-volume scanning to existing processes with HP TWAIN, ISIS, WIA, Linux and Mac drivers.</li>
         </ul>
       </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Avoid lost pages in scanned files. HP EveryPage Ultrasonic feeds and auto-aligns one page at a time.</h4>
          <ul>
            <li>Make missed pages a thing of the past. The HP Scanjet Pro 3000 s2 Sheet-feed Scanner individually feeds and auto-aligns each page.</li>
            <li>Quickly scan files and get crisp, clean results again and again with a scanner that works hard for your business.</li>
            <li>Whether close at hand, or centrally situated, with its compact design the HP Scanjet Pro 3000 s2 Sheet-feed Scanner fits into even the busiest offices.</li>
            <li>Scan at up to 600dpi and rely on a device that just won’t quit – scan up to 1,000 pages per day.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Start fast and keep going. Instant-on Technology begins scanning quickly from low-power mode.</h4>
          <ul>
            <li>Waste less paper and ink, by scanning, storing and sharing documents digitally. And you cut down on clutter.</li>
            <li>Manage costs with an ENERGY STAR® qualified scanner. Reduce energy use without slowing down, and start scanning quickly from low-power mode.</li>
            <li>Cut your environmental impact with a scanner that’s fully RoHS-compliant and free of mercury, lead and other hazardous materials.</li>
            <li>And you enjoy complete peace of mind with a one-year limited warranty, including quick phone or online support from HP.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /property -->

    <br><br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>
<dl>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Scanner type:
</dt>
<dd>
<span>Sheetfed</span>
</dd>
</dl>
<dl>
<dt>Scan resolution, optical:
</dt>
<dd>
<span>Up to 600 dpi</span>
</dd>
</dl>
<dl>
<dt>Duty cycle (daily):
</dt>
<dd>
<span>Recommended daily duty cycle: 1000 pages</span>
</dd>
</dl>
<dl>
<dt>Bit depth:
</dt>
<dd>
<span>48-bit (internal), 24-bit (external)</span>
</dd>
</dl>
<dl>
<dt>Levels of grayscale:
</dt>
<dd>
<span>256</span>
</dd>
</dl>
<dl>
<dt>Multifeed detection:
</dt>
<dd>
<span>Yes, ultrasonic</span>
</dd>
</dl>
<dl>
<dt>Task speed:
</dt>
<dd>
<ul style="padding-left:0">
<li>A4, colour scan in 3 seconds</li>
</ul>
</dd>
</dl>
<dl>
<dt>Media types:
</dt>
<dd>
<span>Paper (plain, inkjet), envelopes, labels, checks, cards (business, plastic ID)</span>
</dd>
</dl>
<dl>
<dt>Media weights, supported ADF:
</dt>
<dd>
<span>49 to 120 g/m²</span>
</dd>
</dl>
<dl>
<dt>Scan file format:
</dt>
<dd>
<span>PDF Searchable, PDF Image Only, PDF/A, JPEG, TIF single page, TIF multi page, DOCX, RTF, TXT, BMP</span>
</dd>
</dl>
<dl>
<dt>Scan input modes:
</dt>
<dd>
<span>Front-panel button Scan, WIA, TWAIN, scan application</span>
</dd>
</dl>
<dl>
<dt>Scanner advanced features:
</dt>
<dd>
<span>Duplex scanning; ultrasonic multi feed detection, auto colour detection, page size detection, crop, deskew, rotation, blank page removal, scan to Sharepoint™ and scan to cloud features among many other scan-to destinations.</span>
</dd>
</dl>
<dl>
<dt>Control panel:
</dt>
<dd>
<ul style="padding-left:0">
<li>3 buttons (Scan, Power, Cancel)</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>ADF specifications</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Automatic document feeder capacity:
</dt>
<dd>
<span>Standard, 50 sheets</span>
</dd>
</dl>
<dl>
<dt>Automatic document feeder speed</dt>
<dd>
<span>Up to 20 ppm/40 ipm (300 dpi colour, grey, black &amp; white). Actual processing speeds may vary depending on scan resolution, network conditions, computer performance, and application software.</span>
</dd>
</dl>
<dl>
<dt>Scanning options (ADF):
</dt>
<dd>
<span>Single-pass duplex</span>
</dd>
</dl>
<dl>
<dt>Scan size (ADF), maximum:
</dt>
<dd>
<span>215.9 x 864 mm</span>
</dd>
</dl>
<dl>
<dt>Scan size (ADF), minimum:
</dt>
<dd>
<span>51 x 74 mm</span>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Compatible operating systems</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Compatible operating systems</dt>
<dd>
<span>Windows 10, Windows 8, Windows 7, Windows Vista<br> Mac OS X v10.6.8, v10.7, v10.8</span>
</dd>
</dl>
<dl>
<dt>Mac compatible:
</dt>
<dd>
<ul style="padding-left:0">
<li>Yes</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Connectivity</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Connectivity, standard:
</dt>
<dd>
<ul style="padding-left:0">
<li>1 Hi-Speed USB 2.0</li>
</ul>
</dd>
</dl>
<dl>
<dt>Connectivity, optional:
</dt>
<dd>
<ul style="padding-left:0">
<li>Silex SX-DS-3000U1 Fast Ethernet USB Device Server</li>
<li>Silex SX-3000GB Gigabit Ethernet USB Device Server</li>
<li>Silex SX-DS-3000WAN 802.11n Wireless and Gigabit Ethernet USB Device Server</li>
<li>Silex SX-DS-4000U2 High Performance Gigabit Ethernet USB Device Server</li>
</ul>
</dd>
</dl>
<dl>
<dt>Twain version:
</dt>
<dd>
<span>Version 2.1</span>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Power and operating requirements</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Voltage:
</dt>
<dd>
<span>Input voltage: 100 to 240 VAC (+/- 10%), 50/60 Hz (+/- 3 Hz)</span>
</dd>
</dl>
<dl>
<dt>Power consumption</dt>
<dd>
<span>11.6 watts (active), 5.9 watts (ready), 1.7 watts (sleep), 0.4 watts (off)<span><br>(Power requirements are based on the country/region where the scanner is sold. Do not convert operating voltages. This will damage the printer and void the product warranty.)</span></span>
</dd>
</dl>
<dl>
<dt>Energy efficiency:
</dt>
<dd>
<span>ENERGY STAR® qualified</span>
</dd>
</dl>
<dl>
<dt>Operating temperature range:
</dt>
<dd>
<span>10 to 35°C</span>
</dd>
</dl>
<dl>
<dt>Operating humidity range:
</dt>
<dd>
<span>15 to 80%</span>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Dimensions and weight</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Minimum dimensions (W x D x H):
</dt>
<dd>
<span>285 x 161 x 164 mm</span>
</dd>
</dl>
<dl>
<dt>Weight:
</dt>
<dd>
<span>2.3 kg</span>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>What's included</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Warranty:
</dt>
<dd>
<span>One-year commercial hardware warranty, phone and Web support included. Warranty may vary by country as required by law.</span>
</dd>
</dl>
<dl>
<dt>What's in the box:
</dt>
<dd>
<ul style="padding-left:0">
<li>HP Scanjet Pro 3000 s2 Sheet-feed Scanner</li>
<li>1 x USB cable</li>
<li>Scanner documentation and software on CD-ROM</li>
<li>Installation guide, Support flyer, Warranty card</li>
<li>Power adapter</li>
<li>Power cord</li>
</ul>
</dd>
</dl>
<dl>
<dt>Software included:
</dt>
<dd>
<ul style="padding-left:0">
<li>HP Easy Scan*</li>
<li>Readiris Pro 14</li>
<li>Windows Only: Nuance PaperPort 14 and Cardiris Pro 5. Mac Only : ICA driver and  HP Utility. HP TWAIN (includes Chronos library)</li>
<li>WIA</li>
<li>Scanner Tools Utility and EMC ISIS driver (*For HP Easy Scan</li>
<li>Microsoft .NET Framework 4.0 or higher required for installation. Download the latest version at microsoft.com/net)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Cable included:
</dt>
<dd>
<span>Yes, 1 USB cable</span>
</dd>
</dl>
<!--end spec mapping-->
</dd>
</dl>
    </div>
    <!-- /specs -->

  </div>
</body>
