<head>
  <meta charset="UTF-8">
  <title>G-HP-D3Q21D</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- end product_cta -->
    <div class="product_overview">

      <h2 style="text-align:center">Overview</h2>
      <hr>

      <p style="text-align: center; margin: 20px auto">
        <object id="flashObj" width="480" height="270" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,47,0"><param name="movie" value="http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1" /><param name="bgcolor" value="#FFFFFF" /><param name="flashVars" value="videoId=4805047749001&playerID=1398061537001&playerKey=AQ~~,AAABDi-Jknk~,MQ6DpUeTiFRzpiHyXUtnfEbiTnPHPtCD&domain=embed&dynamicStreaming=true" /><param name="base" value="http://admin.brightcove.com" /><param name="seamlesstabbing" value="false" /><param name="allowFullScreen" value="true" /><param name="swLiveConnect" value="true" /><param name="allowScriptAccess" value="always" /><embed src="http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1" bgcolor="#FFFFFF" flashVars="videoId=4805047749001&playerID=1398061537001&playerKey=AQ~~,AAABDi-Jknk~,MQ6DpUeTiFRzpiHyXUtnfEbiTnPHPtCD&domain=embed&dynamicStreaming=true" base="http://admin.brightcove.com" name="flashObj" width="480" height="270" seamlesstabbing="false" type="application/x-shockwave-flash" allowFullScreen="true" allowScriptAccess="always" swLiveConnect="true" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></embed></object>
      </p>

      <p>Not inkjet. Not laser. Introducing HP PageWide business printers. Get the best combination of lowest total cost of ownership, print quality, and speed.</p>
      <p>Ultimate value and speed—HP PageWide Pro delivers the lowest total cost of ownership and fastest speeds in its class. Get quick two-sided scanning, plus best-in-class security features and energy efficiency.</p>


    </div>

    <!-- end product_overview -->
    <div class="product_features"></div>
    <!-- end product_features -->

    <div class="product_quality">
      <h2 style="text-align:center">Main Features</h2>
      <hr>

      <div style="display: table; margin: 30px auto">

        <div style="display: table-cell; vertical-align: middle; padding-right: 30px">
          <img width="277" height="134" src="images/one/hp/g-hp-d3q21d-1.jpg" />
        </div>

        <div style="display: table-cell">
          <p><strong>Professional color, breakthrough total cost</strong></p>
          <ul>
            <li>Results you expect and lasting value—breakthrough total cost of ownership, the lowest in its class.</li>
            <li>Print professional-quality color on a variety of papers—perfect for office use.</li>
            <li>Print 4x more pages than standard cartridges with Original HP PageWide extra-high-yield cartridges.</li>
            <li>Spend less time and budget on scheduled maintenance with streamlined HP PageWide Technology.</li>
          </ul>
        </div>
      </div>

      <div style="display: table; margin: 30px auto">

        <div style="display: table-cell">
          <p><strong>The fastest MFP in its class.</strong></p>
          <ul>
            <li>Wait less, do more with unmatched speeds1—up to 70 ppm—and the fastest first-page printing in its class.</li>
            <li>Get fast two-sided scanning directly to email and the cloud with this LDAP-enabled MFP.</li>
            <li>Manage tasks from a 4.3-inch (10.9 cm) touchscreen. Print Microsoft® Word and PowerPoint® files from USB.</li>
            <li>Print from your mobile device with Wi-Fi Direct® and NFC touch-to-print technology—no network needed. </li>
          </ul>
        </div>

        <div style="display: table-cell; vertical-align: middle">
          <img width="277" height="134" src="images/one/hp/g-hp-d3q21d-2.jpg" />
        </div>

      </div>

      <div style="display: table; margin: 30px auto">

        <div style="display: table-cell; vertical-align: middle; padding-right: 30px">
          <img width="160" height="160" src="images/one/hp/g-hp-d3q21d-3.jpg" />
        </div>

        <div style="display: table-cell">
          <p><strong>Best-in-class security and management features</strong></p>
          <ul>
            <li>Help protect your investment and extend capabilities as your needs grow, with a portfolio of solutions.</li>
            <li>Help ensure the security of confidential information. Enter a PIN at the device to retrieve your print job.</li>
            <li>Regulate color use and reduce printing costs with HP Color Access Control.</li>
            <li>Help keep your printer secure—from boot up to shutdown—with secure boot and secure code integrity validation.</li>
            </ul>
        </div>

      </div>

      <div style="display: table; margin: 30px auto">

        <div style="display: table-cell">
          <p><strong>Proven technology. Superior energy efficiency.</strong></p>
          <ul>
            <li>Minimize downtime with HP PageWide Technology that delivers reliable performance businesses demand.</li>
            <li>Conserve with HP PageWide Technology—designed to use less energy than any MFP in its class.</li>
            <li>Print up to 13,000 color pages and up to 17,000 black-and-white pages—and go longer between replacements.</li>
            <li>Get professional-quality color documents and the performance you expect with Original HP PageWide cartridges.</li>
          </ul>
        </div>

        <div style="display: table-cell; vertical-align: middle; padding-left: 30px;">
          <img width="248" height="162" src="images/one/hp/g-hp-d3q21d-4.jpg" />
        </div>

      </div>

      <br><br>

    </div>
    <!-- end product quality -->

    <!-- end product_features -->
    <div class="product_techspecs">
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr>

      <dl>
        <dd>
          <dl>
            <dt><strong>Functions</strong></dt>
            <dd>
              <ul>
                <li>Print, copy, scan, fax</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt><strong>Multitasking supported</strong></dt>
            <dd>
              <ul>
                <li>Yes</li>
              </ul>
            </dd>
          </dl>
        </dd>
        <dd>
          <dl>
            <dt><strong>Print speed black:</strong></dt>
            <dd>
              <span>Normal: Up to 50 ppm&nbsp;
              </dd>
            </dl>
            <dl>
              <dt><strong>Print speed color:</strong></dt>
              <dd>
                <span>Normal:Up to 50 ppm&nbsp;
                </dd>
              </dl>
              <dl>
                <dt><strong>First page out (ready)</strong></dt>
                <dd><span>Black: As fast as 6 sec<br>Color: As fast as 6.5 sec&nbsp;</dd>
              </dl>
                <dl>
                  <dt><strong>Duty cycle (monthly, A4)</strong></dt>
                  <dd>
                    <span>Up to 80,000 pages&nbsp;
                    </dd>
                  </dl>
                  <dl>
                    <dt><strong>Recommended monthly page volume</strong></dt>
                    <dd>
                      <span>1000 to 6000&nbsp;
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Print technology</strong></dt>
                      <dd>
                        <ul>
                          <li>HP PageWide Technology with pigmented inks</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Print quality black (best)</strong></dt>
                      <dd>
                        <ul>
                          <li>Up to 1200 x 1200 optimized dpi from 600 x 600 input dpi (on Unspecified, Plain, HP Premium Presentation Matte, and HP Brochure Matte)</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Print quality color (best)</strong></dt>
                      <dd>
                        <ul>
                          <li>Up to 2400 x 1200 optimized dpi from 600 x 600 input dpi (on HP Advanced Photo Papers)</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Print languages</strong></dt>
                      <dd>
                        <ul>
                          <li>HP PCLXL (PCL6), native PDF, HP Postscript Level 3 emulation</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Display</strong></dt>
                      <dd>
                        <ul>
                          <li>4.3" CGD (color graphics), IR touchscreen</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Automatic paper sensor</strong></dt>
                      <dd>
                        <ul>
                          <li>Yes</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Replacement cartridges</strong></dt>
                      <dd>
                        <span>
                          <ul>
                            <li>HP 975A Black Original PageWide Cartridge</li>
                            <li>HP 975A Cyan Original PageWide Cartridge</li>
                            <li>HP 975A Magenta Original PageWide Cartridge</li>
                            <li>HP 975A Yellow Original PageWide Cartridge</li>
                            <li>HP 975X High Yield Black Original PageWide Cartridge</li>
                            <li>HP 975X High Yield Cyan Original PageWide Cartridge</li>
                            <li>HP 975X High Yield Magenta Original PageWide Cartridge</li>
                            <li>HP 975X High Yield Yellow Original PageWide Cartridge. XXL Version will be avaiable.</li>
                          </ul>
                        </span>
                      </dd>
                    </dl>
                  </dd>
                  <dd>
                    <dl>
                      <dt><strong>HP ePrint capability</strong></dt>
                      <dd>
                        <ul>
                          <li>Yes</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Mobile printing capability</strong></dt>
                      <dd>
                        <span>HP ePrint, HP Mobile Apps, Google Cloud Print v2, Apple AirPrint™, Mopria-certified, Android Plug-in, Windows 8/10, Windows 10 Mobile, Chromebook</span>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Wireless capability</strong></dt>
                      <dd>
                        <ul>
                          <li>Yes</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Connectivity, standard</strong></dt>
                      <dd>
                        <ul>
                          <li>2 Hi-Speed USB 2.0 Host</li>
                          <li>1 Hi-Speed USB 2.0 Device</li>
                          <li>1 Ethernet 10/100 Base-TX network</li>
                          <li>2 RJ-11 modem port/phone line</li>
                          <li>802.11 b/g/n Station</li>
                          <li>802.11 b/g Access Point</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Network ready</strong></dt>
                      <dd>
                        <ul>
                          <li>Standard (built-in Ethernet and WiFi 802.11b/g/n)</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Connectivity, optional</strong></dt>
                      <dd>
                        <ul>
                          <li>Support the following external Jetdirect servers</li>
                          <li>Print only: HP Jetdirect en1700 External Print Server (J7988G), HP Jetdirect en3700 Fast-Ethernet External Print Server for Network Capable Hi-Speed USB 2.0 &amp; 3.0 Peripherals (J7942G), HP Jetdirect ew2400 802.11b/g wireless and Fast Ethernet external print server (USB 2.0, 10/100Base-TX, 802.11b/g) (J7951G), HP Jetdirect ew2500 802.11b/g Wireless Print Server (J8021A)</li>
                          <li>Other supported accessories: Apple AirPort Express, Apple AirPort Extreme, Apple Airport TimeCapsule</li>
                          <li>WiFi Direct</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Minimum system requirements</strong></dt>
                      <dd>
                        <span>
                          <ul>
                            <li>Windows® 10, 8.1, 8, 7: 32-bit  or 64-bit, 2 GB available hard disk space, CD-ROM/DVD drive or Internet connection, USB port, Internet Explorer. Windows Vista®: (32-bit only), 2 GB available hard disk space, CD-ROM/DVD drive or Internet connection, USB port, Internet Explorer 8. Windows® XP SP3 or higher (32-bit only): any Intel® Pentium® II, Celeron® or 233 MHz compatible processor, 850 MB available hard disk space, CD-ROM/DVD drive or Internet connection, USB port, Internet Explorer 8</li>
                          </ul><br>
                          <ul>
                            <li>Apple® OS X Yosemite, OS X Mavericks, OS X Mountain Lion</li>
                            <li>1 GB HD</li>
                            <li>Internet required</li>
                            <li>USB</li>
                          </ul>
                        </span>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Compatible operating systems</strong></dt>
                      <dd>
                        <span>Windows 10, Windows 8, Windows 7, Mac OS X v10.6, Mac OS X Lion, Mac OS X Mountain Lion, Linux (hplip.net)</span>
                      </dd>
                    </dl>
                  </dd>
                  <dd>
                    <dl>
                      <dt><strong>Memory card compatibility</strong></dt>
                      <dd>
                        <ul>
                          <li>None</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Memory, standard</strong></dt>
                      <dd>
                        <span>768 MB</span>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Maximum memory</strong></dt>
                      <dd>
                        <span>768 MB</span>
                      </dd>
                    </dl>
                  </dd>
                  <dd>
                    <dl>
                      <dt><strong>Paper handling input, standard</strong></dt>
                      <dd>
                        <ul>
                          <li>500-sheet input tray, 50-sheet multi-purpose tray</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Paper handling input, optional</strong></dt>
                      <dd>
                        <span>Optional 500 sheet tray<br>2x500 sheet paper tray and stand</span>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Paper handling output, standard</strong></dt>
                      <dd>
                        <ul>
                          <li>300-sheet face-down output bin</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Maximum output capacity (sheets)</strong></dt>
                      <dd>
                        <ul>
                          <li>Up to 300 sheets</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Duplex printing</strong></dt>
                      <dd>
                        <ul>
                          <li>Automatic (standard)</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Media sizes supported</strong></dt>
                      <dd>
                        <ul>
                          <li>Tray 1: Oficio</li>
                          <li>A4</li>
                          <li>A5</li>
                          <li>A6</li>
                          <li>B5 (JIS)</li>
                          <li>B6 (JIS)</li>
                          <li>16K</li>
                          <li>10 x 15 cm</li>
                          <li>L</li>
                          <li>Hagaki</li>
                          <li>envelopes (B5</li>
                          <li>C5</li>
                          <li>C6</li>
                          <li>DL</li>
                          <li>Chou #3</li>
                          <li>Chou #4)</li>
                          <li>Tray 2: A4</li>
                          <li>A5</li>
                          <li>B5 (JIS)</li>
                          <li>16K</li>
                          <li>envelopes (DL</li>
                          <li>B5</li>
                          <li>C5</li>
                          <li>Chou #3)</li>
                          <li>Tray 3: A4</li>
                          <li>A5</li>
                          <li>B5 (JIS)</li>
                          <li>16K</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Media sizes, custom</strong></dt>
                      <dd>
                        <ul>
                          <li>Tray 1: 76 x 127 to 216 x 356 mm</li>
                          <li>Tray 2: 102 x 210 to 216 x 297 mm</li>
                          <li>Optional 500-sheet tray 3: 102 x 210 to 216 x 356 mm</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Media types</strong></dt>
                      <dd>
                        <ul>
                          <li>Plain paper (light, intermediate, mid-weight, heavy, extra heavy, prepunched, recycled, bond, other inkjet plain paper), photo (glossy, gloss, soft gloss, satin, matte, other inkjet photo), envelopes, labels, cards, specialty papers (glossy brochure, matte brochure, tri-fold brochure, Hagaki, greeting cards, other inkjet specialty paper)</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Media weight, supported</strong></dt>
                      <dd>
                        <ul>
                          <li>Tray 1: 60 to 120 g/m² (plain paper)</li>
                          <li>125 to 300 g/m² (photo)</li>
                          <li>75 to 90 g/m² (envelope)</li>
                          <li>120 to 180 g/m² (brochure)</li>
                          <li>163 to 200 g/m² (card)</li>
                          <li>Tray 2: 60 to 120 g/m² (plain paper)</li>
                          <li>125 to 250 g/m² (photo)</li>
                          <li>75 to 90 g/m² (envelope)</li>
                          <li>120 to 180 g/m² (brochure)</li>
                          <li>163 to 200 g/m² (card)</li>
                          <li>Tray 3, 4: 60 to 120 g/m² (plain paper)</li>
                          <li>125 to 250 g/m² (photo)</li>
                          <li>120 to 180 g/m² (brochure)</li>
                          <li>163 to 200 g/m² (card)</li>
                        </ul>
                      </dd>
                    </dl>
                  </dd>
                  <dd>
                    <dl>
                      <dt><strong>Scanner type</strong></dt>
                      <dd>
                        <ul>
                          <li>Flatbed, ADF</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Scan file format</strong></dt>
                      <dd>
                        <ul>
                          <li>Scan File Type supported by Software: Bitmap (.bmp), JPEG (.jpg), PDF (.pdf), PNG (.png), Rich Text (.rtf), Searchable PDF (.pdf), Text (.txt), TIFF (.tif)</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Scan resolution, optical</strong></dt>
                      <dd>
                        <ul>
                          <li>Up to 1200 dpi</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Scan size (flatbed), maximum</strong></dt>
                      <dd>
                        <ul>
                          <li>216 x 356 mm</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Scan size (ADF), maximum</strong></dt>
                      <dd>
                        <ul>
                          <li>216 x 356 mm</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Scan speed (normal, A4)</strong></dt>
                      <dd>
                        <span>Up to 26 ipm (mono &amp; color)</span>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Duplex ADF scanning</strong></dt>
                      <dd>
                        <ul>
                          <li>Yes</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Automatic document feeder capacity</strong></dt>
                      <dd>
                        <ul>
                          <li>Standard, 50 sheets</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Digital sending standard features</strong></dt>
                      <dd>
                        <ul>
                          <li>Scan-to E-mail with LDAP email address lookup</li>
                          <li>Scan-to Network Folder</li>
                          <li>Scan-to USB</li>
                          <li>Scan-to Sharepoint</li>
                          <li>Scan-to Computer with SW</li>
                          <li>Fax Archive-to Network Folder</li>
                          <li>Fax Archive to E-mail</li>
                          <li>Fax-to Computer</li>
                          <li>Enable/Disable Fax</li>
                          <li>Enable/Disable color Fax, Color Access Control</li>
                          <li>Native Authorization &amp; authentication</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Scan input modes</strong></dt>
                      <dd>
                        <ul>
                          <li>Front panel applications: Copy, Scan to E-mail with LDAP e-mail address lookup, Scan to Network Folder, Scan to USB, Scan to Sharepoint,  Scan to Computer with SW. Client applications: EWS, HP Scan App, Compatible with HP Capture and Route</li>
                        </ul>
                      </dd>
                    </dl>
                  </dd>
                  <dd>
                    <dl>
                      <dt><strong>Copy resolution (black text)</strong></dt>
                      <dd>
                        <ul>
                          <li>Up to 600 dpi</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Copy resolution (color text and graphics)</strong></dt>
                      <dd>
                        <ul>
                          <li>Up to 600 dpi</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Copy reduce / enlarge settings</strong></dt>
                      <dd>
                        <ul>
                          <li>25 to 400%</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Copies, maximum</strong></dt>
                      <dd>
                        <ul>
                          <li>Up to 99 copies</li>
                        </ul>
                      </dd>
                    </dl>
                  </dd>
                  <dd>
                    <dl>
                      <dt><strong>Faxing</strong></dt>
                      <dd>
                        <ul>
                          <li>Yes, color</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Fax transmission speed</strong></dt>
                      <dd>
                        <span>33.6 kbps</span>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Fax memory</strong></dt>
                      <dd>
                        <ul>
                          <li>Up to 100 pages (black and white)</li>
                          <li>Up to 8 pages (color)</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Fax resolution</strong></dt>
                      <dd>
                        <ul>
                          <li>300 x 300 dpi</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Speed dials, maximum number</strong></dt>
                      <dd>
                        <ul>
                          <li>Up to 99 numbers</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Broadcast locations</strong></dt>
                      <dd>
                        <ul>
                          <li>20</li>
                        </ul>
                      </dd>
                    </dl>
                  </dd>
                  <dd>
                    <dl>
                      <dt><strong>Power</strong></dt>
                      <dd>
                        <ul>
                          <li>Input voltage: 100 to 240 VAC (+/- 10%), 50/60 Hz (+/- 3 Hz)</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt><strong>Power consumption</strong></dt>
                      <dd>
                        <span>100 watts (Maximum), 70 watts average (Printing), 10 watts (Ready), 4.8 watts (Sleep), 1.0 watt (Auto-Off), 0.2 watts (Manual-Off)&nbsp;
                        </dd>
                      </dl>
                    </dd>
                    <dd>
                      <dl>
                        <dt><strong>Minimum dimensions (W x D x H)</strong></dt>
                        <dd>
                          <span>530 x 407 x 467 mm</span>
                        </dd>
                      </dl>
                      <dl>
                        <dt><strong>Maximum dimensions (W x D x H)</strong></dt>
                        <dd>
                          <span>802 x  694 x 467 mm (with MP tray down w/extenion out, main tray extended, output tray extension in legal position)</span>
                        </dd>
                      </dl>
                      <dl>
                        <dt><strong>Weight</strong></dt>
                        <dd>
                          <span>22.15 kg&nbsp;
                          </dd>
                        </dl>
                        <dl>
                          <dt><strong>Package weight</strong></dt>
                          <dd>
                            <ul>
                              <li>26.39 Kg</li>
                            </ul>
                          </dd>
                        </dl>
                      </dl>
                    </div>

    <!-- end product_techspecs -->
  </div>
</body>
