<head>
  <meta charset="UTF-8">
  <title>HL-L6200DW</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a> 
    </div>

    <!-- end product_cta -->
    <div class="product_overview">
      <h2 style="text-align:center">Overview</h2>
      <hr>
      <p>The Brother HL-L6200DW monochrome laser printer is a great choice for busy offices and workgroups with higher print volumes that need a reliable printer with a low cost per page. Maximize your productivity with fast printing up to 48ppm and automatic
        two-sided printing, and help lower your operating costs with a super high-yield replacement toner cartridge. Reduce paper refills with a 520-sheet capacity paper tray that holds more than a ream of paper or for even greater paper capacity add
        optional trays for a total capacity of 1,610 sheets. Advanced security features help protect sensitive documents and prevent unauthorized printing. Plus, enjoy flexible connectivity with Gigabit Ethernet and wireless network interfaces, and convenient
        mobile device printing&#x2021;.</p>
    </div>

    <!-- end product_overview -->
    <div class="product_features">
      <h2 style="text-align:center">Main Features</h2>
      <hr>
      <ul>
        <li style="margin-bottom: 10px"><strong>High-speed, professional output.</strong>  With a print speed of up to 48 <em>pages per minute</em>, this printer is ideal for busy offices. Plus, it offers up to 1200 x 1200 dpi resolution for crisp, clear text and excellent graphics.</li>
        <li
        style="margin-bottom: 10px"><strong>Low cost printing.</strong>  Spend less time replacing supplies and produce low cost output via a super high-yield 12,000-page&#x2021; replacement toner cartridge.</li>
          <li style="margin-bottom: 10px"><strong>Large, expandable paper capacity&#x2021;.</strong>  Easily handle your large print jobs via an adjustable 520-sheet capacity paper tray and 50-sheet capacity multi-purpose tray. Additional optional paper trays are available in 250-sheet
            or 520-sheet capacities, enabling users to configure the printer with multiple trays in a way that best meets their application requirements &#x2013; up to 1,610 sheet total capacity.</li>
          <li style="margin-bottom: 10px"><strong>Flexible network connectivity&#x2020;.</strong>  Built-in wireless 802.11b/g/n and Gigabit Ethernet network interfaces allow you to share the HL-L6200DW with multiple users on your network.</li>
          <li style="margin-bottom: 10px"><strong> Convenient mobile device printing.</strong>  Print from your mobile device via&#x2021;: <em> AirPrint&#x2122;, Google Cloud Print&#x2122; 2.0, Mopria&#xAE;, Brother iPrint&amp;Scan, Cortado Workplace and Wi-Fi Direct&#xAE;</em> .</li>
          <li
          style="margin-bottom: 10px"><strong>Automatic two-sided printing.</strong>  Use the duplex feature to produce professional brochures, documents and booklets. This feature can help save money and cut your paper usage by up to 50%.</li>
            <li style="margin-bottom: 10px"><strong>Advanced security features.</strong>  Restrict unauthorized printing and help protect sensitive documents with a wide-range of security features including: <em>Secure Print</em>, <em>Secure Function Lock</em>, Enterprise Security (802.1x),
              IPSec, SSL/TLS and more.</li>
            <li style="margin-bottom: 10px"><strong>Outstanding customer support.</strong>  The Brother HL-L6200DW offers a 1 year limited warranty with free phone support for the life of your product.</li>
      </ul>
    </div>

    <!-- end product_features -->
    <div class="product_common"></div>

    <!-- end product_features -->
    <div class="product_techspecs">
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr>
      <h3>General</h3>
      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">
            <strong>Print Technology</strong> 
          </td>
          <td>
            <span>B/W Laser Technology</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong><span>Max. Black Print Speed (ppm)</span> </strong> 
          </td>
          <td>
            <span>48ppm Black</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong><span>Duplex Printing Standard</span> </strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong><span>Print Resolution (maximum dpi)</span> </strong> 
          </td>
          <td>
            <span>Up to 1200 x 1200 dpi</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>LCD Display</strong> 
          </td>
          <td>
            <span>Yes (1-line, Backlit)</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>First Time to Print</strong> 
          </td>
          <td>
            <span>Less than 7.5 sec.&#x2021;</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Printer Driver Compatibility&#x2020;</strong> 
          </td>
          <td>
            <span>Windows&#xAE;, Mac OS&#xAE;, <em> Linux</em> </span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>CPU (Processor) Speed</strong> 
          </td>
          <td>
            <span>800 MHz</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Emulation(s)</strong> 
          </td>
          <td>
            <span>PCL6, <span>BR-Script3&#x2021;</span>, IBM Proprinter, Epson FX, PDF Version 1.7, XPS Version 1.0</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Standard Memory (MB)</strong> 
          </td>
          <td>
            <span>256MB Memory</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong><span>Toner Save Mode</span> </strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Max. Monthly Duty Cycle&#x2021;</strong> 
          </td>
          <td>
            <span>100,000 pages</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Recommended Monthly Print Volume&#x2021;</strong> 
          </td>
          <td>
            <span>Up to 5,000 pages</span> 
          </td>
        </tr>
      </table>
      <h3>Paper Handling</h3>
      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">
            <strong>Standard Paper Capacity (sheets)&#x2021;</strong> 
          </td>
          <td>
            <span>520-Sheet Input Capacity</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Optional Paper Capacity (sheets)</strong> 
          </td>
          <td>
            <span>LT-5500&#x2021; (250 sheets x3) or LT-6500&#x2021; (520 sheets x2)</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Multi-purpose Tray Capacity&#x2021;</strong> 
          </td>
          <td>
            <span>50-Sheet Multi-purpose Tray</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Output Paper Capacity (sheets)</strong> 
          </td>
          <td>
            <span>150 sheets</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Paper Handling Size - Paper Tray</strong> 
          </td>
          <td>
            <span>Letter, Legal, Executive, A4, A5, A6</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Paper Handling Size - Multi-purpose Tray</strong> 
          </td>
          <td>
            <span>Letter, Legal, Executive, A4, A5, A6, Envelopes, Custom Sizes (3.0-8.5&quot; (w), 5.0-14&quot; (l))</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Sheet Weight - Paper Tray</strong> 
          </td>
          <td>
            <span>16-32 lbs. (bond)</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Sheet Weight - Multi-purpose Tray</strong> 
          </td>
          <td>
            <span>16-53 lbs. (bond)</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Media Type</strong> 
          </td>
          <td>
            <span>Plain, Bond, Envelopes (up to 10), Labels, Recycled Paper, Colored Paper, Letterhead</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Recommended Paper Brands</strong> 
          </td>
          <td>
            <span>Plain Paper: Xerox 4200DP 20 lb., Hammermill Laser Paper 24 lb., Labels: Avery Laser Label #5160</span> 
          </td>
        </tr>
      </table>
      <h3>Connectivity &amp; Compatibility</h3>
      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">
            <strong>Standard Interface(s)</strong> 
          </td>
          <td>
            <span>Wireless 802.11b/g/n, Gigabit Ethernet, Hi-Speed USB 2.0</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Mobile Device Compatibility&#x2021;</strong> 
          </td>
          <td>
            <span><em>AirPrint&#x2122;, Google Cloud Print&#x2122; 2.0, Mopria&#xAE; Brother iPrint&amp;Scan, Cortado Workplace, and Wi-Fi Direct&#xAE;</em> </span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Supported Network Protocols (IPv4)</strong> 
          </td>
          <td>
            <span>ARP, RARP, BOOTP, DHCP, APIPA(Auto IP), WINS/NetBIOS name resolution,  DNS Resolver, mDNS, LLMNR responder, LPR/LPD, Custom Raw Port/Port9100,  IPP/IPPS, FTP Server, TELNET Server, HTTP/HTTPS server, TFTP client and server,  SMTP Client, SNMPv1/v2c/ v3, ICMP, Web Services (Print), CIFS client, SNTP client</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Supported Network Protocols (IPv6)</strong> 
          </td>
          <td>
            <span>NDP, RA, DNS resolver, mDNS, LLMNR responder, LPR/LPD, Custom Raw Port/Port9100, IPP/IPPS, FTP Server,TELNET Server, HTTP/HTTPS server,  TFTP client and server, SMTP Client, SNMPv1/v2c, ICMPv6,  Web Services (Print), CIFS Client, SNTP Client</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>One-Push Wireless  Configuration</strong> 
          </td>
          <td>
            <span>Wi-Fi Protected Setup&#x2122;</span> 
          </td>
        </tr>
      </table>
      <h3>Security Features</h3>
      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">
            <strong>Security Functions</strong> 
          </td>
          <td>
            <span>Secure Function Lock, Secure Print, Setting Lock, Lock Slot</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Security Protocols (Wired)</strong> 
          </td>
          <td>
            <span>SMTP-AUTH, SSL/TLS (IPPS, HTTPS, SMTP), SNMP v3, 802.1x (EAP-MD5, EAP-FAST, PEAP, EAP-TLS, EAP-TTLS), Kerberos, IPSec</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Security Protocols (Wireless)</strong> 
          </td>
          <td>
            <span>SMTP-AUTH, SSL/TLS (IPPS, HTTPS, SMTP), SNMP v3, 802.1x (LEAP, EAP-FAST, PEAP, EAP-TLS, EAP-TTLS), Kerberos, IPSec</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Wireless Network Security</strong> 
          </td>
          <td>
            <span>WEP 64/128 bit, WPA-PSK (TKIP/AES)</span> 
          </td>
        </tr>
      </table>
      <h3>Power &amp; Operating Requirements</h3>
      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">
            <strong><span>ENERGY STAR<sup>&#xAE;</sup> Qualified</span> </strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Power Consumption - Sleep/Ready/Printing</strong> 
          </td>
          <td>
            <span>6.7W (Deep Sleep: 1.3W)/32W/670W</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong><span>EPA ENERGY STAR&#xAE; TEC Value</span> </strong> 
          </td>
          <td>
            <span>2.247 kWh/week</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Machine Noise (Ready/Printing)</strong> 
          </td>
          <td>
            <span>35dB / 54dB</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Power Source</strong> 
          </td>
          <td>
            <span>AC 120V 50/60 Hz</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Operating Env: Temperature</strong> 
          </td>
          <td>
            <span>50-90 degrees F</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Operating Env: Humidity</strong> 
          </td>
          <td>
            <span>20-80% (w/out condensation)</span> 
          </td>
        </tr>
      </table>
      <h3>Dimensions &amp; Weights</h3>
      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">
            <strong>Unit Dimensions (W&quot;xD&quot;xH&quot;)</strong> 
          </td>
          <td>
            <span>14.7&quot; x 15.3&quot; x 11.3&quot;</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Carton Dimensions (W&quot;xD&quot;xH&quot;)</strong> 
          </td>
          <td>
            <span>19.1&quot; x 17.7&quot; x 16.1&quot;</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Unit Weight (lbs)</strong> 
          </td>
          <td>
            <span>26.3 lbs.</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Carton Weight (lbs)</strong> 
          </td>
          <td>
            <span>31.2 lbs.</span> 
          </td>
        </tr>
      </table>
      <h3>What&#x2019;s Included</h3>
      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">
            <strong>&quot;In-Box&quot; Consumables (Yield)&#x2021;</strong> 
          </td>
          <td>
            <span>(1) Standard Yield Toner Cartridge (3,000 Pages)<br>(1) DR-820 Drum Unit (30,000 Pages)</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Carton Contents</strong> 
          </td>
          <td>
            <span>(1) Standard Yield Toner Cartridge (yields approx. 3,000 Pages&#x2021;)<br>(1) DR-820 Drum Unit (yields approx. 30,000 Pages&#x2021;)<br>CD-ROM &#x2013; Installation CD-ROM <br>AC Power Cord<br>Quick Setup Guide</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Warranty</strong> 
          </td>
          <td>
            <span><em>1 Year Limited</em> </span> 
          </td>
        </tr>
      </table>
    </div>

    <!-- end product_techspecs -->
  </div>
</body>