<head>
  <meta charset="UTF-8">
  <title>HL-L6400DW</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a> 
    </div>

    <!-- end product_cta -->
    <div class="product_overview">
      <h2 style="text-align:center">Overview</h2>
      <hr>
      <p>The Brother HL-L6400DW monochrome laser printer is designed for mid-sized workgroups with demanding print volumes looking for low cost printing and business reliability. Realize a low total cost of ownership due to its included super high-yield
        toner cartridge and even lower cost output from the ultra-high-yield replacement toner cartridge. Maximize your workgroup&apos;s productivity with a blazing fast print speed up to 52ppm and a large, 570-sheet paper capacity. Scalable to fit virtually
        any office, add either optional trays to increase capacity to 1,610 sheets or transform this printer into a floor-standing model with the tower tray option (520 sheets x 4 trays). Advanced security features provide network user authentication
        and an adjustable color Touchscreen display enables direct printing from popular business cloud services&#x2021;.</p>
    </div>

    <!-- end product_overview -->
    <div class="product_features">
      <h2 style="text-align:center">Main Features</h2>
      <hr>
      <ul>
        <li style="margin-bottom: 10px"><strong> Fast, high-quality printing for higher print volumes.</strong>  Featuring a business durable design with an impressive print speed of up to 52 <em>pages per minute</em>, this high-performance printer is ideal for mid to large sized workgroups.
          Plus, it offers up to 1200 x 1200 dpi resolution for crisp, clear text and excellent graphics.</li>
        <li style="margin-bottom: 10px"><strong>Low total cost of ownership.</strong>  Includes a super high-yield 12,000-page&#x2021; toner cartridge for built-in value. For even lower cost printing, use the ultra high-yield 20,000-page&#x2021; replacement cartridge.</li>
        <li style="margin-bottom: 10px"><strong>Scalable paper handling.</strong>  Easily handle your large print jobs via an adjustable 520-sheet capacity paper tray and 50-sheet capacity multi-purpose tray. For additional capacity, optional paper trays are available in 250-sheet or
          520-sheet capacities &#x2013; up to 1,610 sheets total capacity. Alternatively, a tower tray with stabilizer option includes four 520-sheet trays for a total input capacity of 2,650 sheets.</li>
        <li style="margin-bottom: 10px"><strong>Large, expandable output capacity.</strong>  250-sheet capacity output, plus an add-on mailbox/sorter/stacker option is useful for workgroups that want to assign bins to various users, sort output into separate bins, or require additional
          output capacity &#x2013; up to 1,050 total sheets.</li>
        <li style="margin-bottom: 10px"><strong>Flexible network connectivity&#x2020;.</strong>  Built-in wireless 802.11b/g/n and Gigabit Ethernet network interfaces allow you to share the HL-L6400DW with multiple users on your network.</li>
        <li style="margin-bottom: 10px"><strong>Advanced security features.</strong>  Includes an integrated NFC card reader and Active Directory&#xAE; support for network user authentication to help protect against unauthorized access to the device. Other security features include:
          Secure Function Lock, Enterprise Security (802.1x), IPSec, Secure Print, SSL/TLS and more.</li>
        <li style="margin-bottom: 10px"><strong> Convenient mobile device printing.</strong>  Print from your mobile device via&#x2021;: <em> AirPrint&#x2122;, Google Cloud Print&#x2122; 2.0, Mopria&#xAE;, Brother iPrint&amp;Scan, Cortado Workplace, Wi-Fi Direct&#xAE;, and NFC</em> .</li>
        <li
        style="margin-bottom: 10px"><strong>Automatic two-sided printing.</strong>  Use the duplex feature to produce professional brochures, documents and booklets. This feature can help save money and cut your paper usage by up to 50%.</li>
          <li style="margin-bottom: 10px"><strong>Adjustable, 1.8&quot; color Touchscreen display.</strong>  Offers intuitive menu navigation and printing from popular business cloud services&#x2021; including:<em>  DROPBOX, GOOGLE DRIVE&#x2122;, ONEDRIVE&#xAE;,</em>  and more</li>
          <li
          style="margin-bottom: 10px"><strong>Outstanding customer support.</strong>  The Brother HL-L6400DW offers a 1 year limited warranty with free phone support for the life of your product.</li>
      </ul>
    </div>

    <!-- end product_features -->
    <div class="product_quality">
      <div style="overflow:hidden">
        <div style="width: 30%; float: left; margin-right: 20px; text-align: center;">
        <img width="200" height="200" src="images/one/brother/pages/hl-l6400dw-1.jpg" />
          <p><small><em>Image: Business-durable for mid to large-sized workgroups with higher print volumes</em></small></p> 
        </div>
        <div>
          <p><strong>The Brother Workhorse Series HL-L6400DW monochrome laser printer delivers a low total cost of ownership, advanced security features, scalable paper handling, and productivity enhancing features for mid to large-sized workgroups with higher print volumes.  Business-enhancing features and business-durable design – to meet the needs of your busy office</strong></p>

          <p>Built on a reputation of reliability, the HL-L6400DW offers business-centric features and functionality to optimize workflow, enhance productivity, and improve the bottom line.  This high-performance printer keeps moving at the pace of your business with an impressive print speed of up to 52 pages per minute.  Plus, with a print resolution up to 1200 x 1200 dpi, the HL-L6400DW produces professional reports, spreadsheets, correspondence, and other important business documents with crisp text and excellent graphics.</p>
          <p>&nbsp;</p>
        </div>
      </div>

      <div style="overflow:hidden">
        <div style="width: 30%; float: right; margin-left: 20px; text-align: center;">
        <img width="161" height="160" src="images/one/brother/pages/hl-l6400dw-2.jpg" />
          <p><small><em>Image: Included super high-yield toner cartridge for built-in value</em></small></p> 
        </div>
        <div style="text-align: right">
          <p><strong>Low total cost of ownership helps maximize your budget</strong></p>

          <p>Print professional business documents and enjoy a low total cost of ownership - with the included super high-yield 12,000-page toner cartridge<sup>1</sup> for built-in value for your business. For even lower cost printing, use the ultra-high yield 20,000-page<sup>1</sup> replacement cartridge. Also, two-sided (duplex) printing means less paper use – and helps save paper and money. Environmentally friendly, the HL-L6400DW is ENERGY STAR® Qualified and offers a Deep Sleep Mode that only uses 1.3 watts of power when not in use.</p>
          <p>&nbsp;</p>
        </div>
      </div>

      <div style="overflow:hidden">
        <div style="width: 30%; float: left; margin-right: 20px; text-align: center;">
        <img width="101" height="174" src="images/one/brother/pages/hl-l6400dw-3.jpg" />
          <p><small><em>Image: Included super high-yield toner cartridge for built-in value</em></small></p> 
        </div>
        <div style="text-align: left">
          <p><strong>Large, scalable paper capacity for demanding printing environments</strong></p>
          
          <p>The HL-L6400DW comes with a 520-sheet capacity paper tray that can hold more than a ream of paper for fewer refills, and is adjustable for letter or legal size paper. A 50-sheet capacity multi-purpose tray is useful for printing envelopes (up to 10) and on alternative media types. Additional optional paper trays are available in 250-sheet or 520-sheet capacities, enabling users to configure the printer with multiple trays in a way that best meets their application requirements – up to 1,610 sheet total capacity.</p>

          <p>Alternatively, a tower tray option that includes four 520-sheet trays and a stabilizer transforms the printer into a floor standing printer. This versatile option is ideal for workgroups that need multiple trays to customize their workflow and allows for new workflow improvements, including storing different media in each tray or to increase total capacity to 2,650 sheets.</p>

          <p>Plus, an add-on mailbox/sorter/stacker option is useful for workgroups that are looking to assign bins to various users, sort output into separate bins, or require additional output capacity – up to 1,050 total sheets.</p>

          <p>&nbsp;</p>
        </div>
      </div>

      <div style="overflow:hidden">
        <div style="width: 40%; float: right; margin-left: 20px; text-align: center;">
        <img with-"200" height="201" src="images/one/brother/pages/hl-l6400dw-4.jpg" />
          <p><small><em>IImage: Print from popular, business cloud services directly from the Touchscreen display<sup>2</sup></em></small></p> 
        </div>
        <div style="text-align: right">
          <p><strong>Print from cloud services with an adjustable, color Touchscreen display2 </strong></p>

          <p>TThe HL-L6400DW features an adjustable, 1.8” color Touchscreen display for easy-to-use menu navigation and also direct printing from popular business cloud services including DROPBOX, GOOGLE DRIVE™, ONEDRIVE® and more2.</p>

          <p>&nbsp;</p>
        </div>
      </div>

      <div style="overflow:hidden">
        <div style="text-align: left">
          <p><strong>Flexible connectivity options make the HL-L6400DW ideal for your busy, mobile workgroup</strong></p>

          <p>Your entire workgroup can share the HL-L6400DW on either a wireless 802.11b/g/n network or connect through Gigabit Ethernet. Download and install BRAdmin Professional software<sup>3</sup> to give administrators the ability to configure many of the network and printer functions via an Explorer-style window. You can log the status and activity of the HL-L6400DW, as well as other Brother devices on your network.</p>

          <p>Workgroup members and office visitors will appreciate the convenience of printing wirelessly from a compatible Apple® iOS, Android™, Kindle Fire™, or Windows® Phone mobile device. Print via<sup>4</sup>: AirPrint™, Google Cloud Print™ 2.0, Brother iPrint&Scan (free downloadable app), Cortado Workplace, Mopria®, or Wi-Fi Direct®.  Near Field Communication (NFC)<sup>5</sup> capability is also available, which automatically establishes a direct connection between your NFC-enabled smartphone or tablet and the HL-L6400DW, so users can print without having to connect to a network or enter any login credentials.</p>

          <p>Plus, a USB Host, located on the back of the machine, is ideal for third-party card reader support<sup>6</sup></p>
          <p>&nbsp;</p>
        </div>
        <div style="float:none; text-align: center;">
        <img width="505" height="263" src="images/one/brother/pages/hl-l6400dw-5.jpg" />
          <p><small><em>Image: Integrated NFC card reader and Active  Directory® support for network user authentication.</em></small></p> 
        </div>
      </div>

      <div style="overflow:hidden">
        <div style="width: 30%; float: right; margin-left: 20px; text-align: center;">
        <img width="180" height="181" src="images/one/brother/pages/hl-l6400dw-6.jpg" />
          <p><small><em>Image: Integrated NFC card reader and Active Directory® support for network user authentication</em></small></p>
        </div>
        <div style="text-align: right">
          <p><strong>Advanced security features provide network user authentication, help restrict unauthorized printing and help protect sensitive documents</strong></p>

          <p>In today’s business world, keeping sensitive data secure is a top priority. The HL-L6400DW is equipped with a range of features that deliver critical business-focused security - protecting your organization’s valuable intellectual assets. Security features include:</p>

          <ul style="text-align: left"><li>Integrated NFC card reader: Provides walk-up authorization to release print jobs and to access other machine functions using a compatible NFC card or badge<sup><sup>7</sup></sup></li><li>Active Directory® support: Enables network user authentication which stores print jobs that only can be released to print with a user ID and password</li><li>Secure Function Lock: Gives administrators the ability to restrict usage and machine functions for up to 200 users or groups</li><li>Secure Print: &nbsp;Claim secure print jobs using only a confidential PIN</li><li>Support for critical network security protocols: &nbsp;Including Enterprise Security (802.1x), IPSec and SSL/TLS</li><li>Machines in high-traffic areas can be protected from having settings changed with Setting Lock, and a lock slot prevents machine theft to protect your investment</li></ul>

          <p>&nbsp;</p>
        </div>
      </div>

      <div style="overflow:hidden">

        <p><strong>At Your Side with award-winning performance and FREE phone support for the life of the product</strong></p>

        <p>At Brother, our goal is to provide dependable, business class solutions to help increase productivity and efficiency and reduce costs. In 2015, Brother Printers and All-in-Ones were recognized as #1 for Reliability and #1 for Overall Satisfaction in the PCMag.com Business Choice Awards, an annual reader-driven survey on hardware, software, and services used in business environments.</p>

        <p>Brother is At Your Side with a 1-year limited warranty and FREE phone support for the life of the product.</p>
        
        <div style="text-align: center; padding: 20px 0;">
        <img width="309" height="124" src="images/one/brother/pages/hl-l6400dw-7.jpg" />
          <p><small><em>All referenced trademarks and registered trademarks are the property of their respective companies</em></small></p> 
        </div>
        <div style="text-align: left">

          <p><small>Apple and AirPrint are registered trademarks of Apple Inc. in the U.S. and other countries. ©2015 Google Inc. All rights reserved. Android, Google Drive, and Google Cloud Print are trademarks of Google Inc. Mopria is a trademark of Mopria Alliance, Inc. Cortado is a trademark of Cortado AG. Kindle Fire is a trademark of Amazon.com, Inc. or its affiliates. Active Directory, SharePoint, Windows Phone, OneNote, and OneDrive are trademarks of Microsoft Corporation in the United States and other countries. DROPBOX is a trademark of DROPBOX, Inc. EVERNOTE is a trademark of Evernote Corporation and used under a license. Wi-FiDirect is a registered trademark of Wi-Fi Alliance®.</small></p>
          <ul style="padding-left: 0; list-style: none">
            <li><sup>1</sup> <small>Approximate toner cartridge yield in accordance with ISO/IEC 19752 (letter/A4)</small><li/>
              <li><sup>2</sup> <small>Requires an Internet connection and an account with desired service.</small></li>

              <li><sup>3</sup> <small>Windows only. Available as a free download at http://solutions.brother.com.</small></li>

              <li><sup>4</sup> <small>Requires connection to a wireless network.</small></li>

              <li><sup>5</sup> <small>The mobile device must have NFC capability and run Android OS 4.0 or later.</small></li>

              <li><sup>6</sup> <small>See manufacturer’s specifications for details.</small></li>

              <li><sup>7</sup> <small>Not compatible with all NFC formats. Works with Secure Function Lock. Print Release requires third-party solution. For a list of compatible NFC formats, see manufacturer’s specifications.</small></li>

            </ul> 
            <p>&nbsp;</p>
          </div>
        </div>
      </div><!-- product_quality -->
    <!-- end product_features -->
    <div class="product_techspecs">
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr>
      <h3>General</h3>
      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">
            <strong>Print Technology</strong> 
          </td>
          <td>
            <span>B/W Laser Technology</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong><span>Max. Black Print Speed (ppm)</span> </strong> 
          </td>
          <td>
            <span>52ppm Black</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong><span>Duplex Printing Standard</span> </strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong><span>Print Resolution (maximum dpi)</span> </strong> 
          </td>
          <td>
            <span>Up to 1200 x 1200 dpi</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>LCD Display</strong> 
          </td>
          <td>
            <span>1.8&quot; Color Touchscreen display</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>First Time to Print</strong> 
          </td>
          <td>
            <span>Less than 7.5 sec.&#x2021;</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Printer Driver Compatibility&#x2020;</strong> 
          </td>
          <td>
            <span>Windows&#xAE;, Mac OS&#xAE;, <em> Linux</em> </span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>CPU (Processor) Speed</strong> 
          </td>
          <td>
            <span>800 MHz</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Emulation(s)</strong> 
          </td>
          <td>
            <span>PCL6, <span>BR-Script3&#x2021;</span>, IBM Proprinter, Epson FX, PDF Version 1.7, XPS Version 1.0</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Standard Memory (MB)</strong> 
          </td>
          <td>
            <span>512MB Memory</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong><span>Toner Save Mode</span> </strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Max. Monthly Duty Cycle&#x2021;</strong> 
          </td>
          <td>
            <span>150,000 pages</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Recommended Monthly Print Volume&#x2021;</strong> 
          </td>
          <td>
            <span>Up to 10,000 pages</span> 
          </td>
        </tr>
      </table>
      <h3>Paper Handling</h3>
      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">
            <strong>Standard Paper Capacity (sheets)&#x2021;</strong> 
          </td>
          <td>
            <span>520-Sheet Input Capacity</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Optional Paper Capacity (sheets)</strong> 
          </td>
          <td>
            <span>LT-5505&#x2021; (250 sheets x3) or LT-6505&#x2021; (520 sheets x2) or TT-4000&#x2021; (Tower Tray with Stabilizer, includes 520 sheets x4)</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Multi-purpose Tray Capacity&#x2021;</strong> 
          </td>
          <td>
            <span>50-Sheet Multi-purpose Tray</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Output Paper Capacity (sheets)</strong> 
          </td>
          <td>
            <span>250 sheets (with paper full sensor)</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Output Paper Capacity with all Options</strong> 
          </td>
          <td>
            <span>1,050 sheets with mailbox option</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Paper Handling Size - Paper Tray</strong> 
          </td>
          <td>
            <span>Letter, Legal, Executive, A4, A5, A6</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Paper Handling Size - Multi-purpose Tray</strong> 
          </td>
          <td>
            <span>Letter, Legal, Executive, A4, A5, A6, Envelopes, Custom Sizes (3.0-8.5&quot; (w), 5.0-14&quot; (l))</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Sheet Weight - Paper Tray</strong> 
          </td>
          <td>
            <span>16-32 lbs. (bond)</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Sheet Weight - Multi-purpose Tray</strong> 
          </td>
          <td>
            <span>16-53 lbs. (bond)</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Media Type</strong> 
          </td>
          <td>
            <span>Plain, Bond, Envelopes (up to 10), Labels, Recycled Paper, Colored Paper, Letterhead</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Recommended Paper Brands</strong> 
          </td>
          <td>
            <span>Plain Paper: Xerox 4200DP 20 lb., Hammermill Laser Paper 24 lb., Labels: Avery Laser Label #5160</span> 
          </td>
        </tr>
      </table>
      <h3>Connectivity &amp; Compatibility</h3>
      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">
            <strong>Standard Interface(s)</strong> 
          </td>
          <td>
            <span>Wireless 802.11b/g/n, Gigabit Ethernet, Hi-Speed USB 2.0</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Mobile Device Compatibility&#x2021;</strong> 
          </td>
          <td>
            <span><em>AirPrint&#x2122;, Google Cloud Print&#x2122; 2.0, Mopria&#xAE; Brother iPrint&amp;Scan, Cortado Workplace, NFC, and Wi-Fi Direct&#xAE;</em> </span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Web Connect&#x2021;</strong> 
          </td>
          <td>
            <span><em>GOOGLE DRIVE&#x2122;/GOOGLE DRIVE for Business, ONEDRIVE&#xAE;/ONEDRIVE for Business, DROPBOX/DROPBOX for Business, BOX/BOX for Business</em> </span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>USB Host</strong> 
          </td>
          <td>
            <span>Yes, back (for external IC Card Reader)&#x2021;</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Brother Cloud Apps&#x2021;</strong> 
          </td>
          <td>
            <span><em>Office Print</em> </span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Supported Network Protocols (IPv4)</strong> 
          </td>
          <td>
            <span>ARP, RARP, BOOTP, DHCP, APIPA(Auto IP), WINS/NetBIOS name resolution,  DNS Resolver, mDNS, LLMNR responder, LPR/LPD, Custom Raw Port/Port9100,  IPP/IPPS, FTP Server, TELNET Server, HTTP/HTTPS server, TFTP client and server,  SMTP Client, SNMPv1/v2c/ v3, ICMP, Web Services (Print), CIFS client, SNTP client, LDAP</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Supported Network Protocols (IPv6)</strong> 
          </td>
          <td>
            <span>NDP, RA, DNS resolver, mDNS, LLMNR responder, LPR/LPD, Custom Raw Port/Port9100, IPP/IPPS, FTP Server,TELNET Server, HTTP/HTTPS server,  TFTP client and server, SMTP Client, SNMPv1/v2c, ICMPv6,  Web Services (Print), CIFS Client, SNTP Client, LDAP</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>One-Push Wireless  Configuration</strong> 
          </td>
          <td>
            <span>Wi-Fi Protected Setup&#x2122;</span> 
          </td>
        </tr>
      </table>
      <h3>Security Features</h3>
      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">
            <strong>Security Functions</strong> 
          </td>
          <td>
            <span>Active Directory&#xAE;, Integrated NFC Card Reader, Secure Function Lock, Lock Slot, Secure Print, Setting Lock</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Security Protocols (Wired)</strong> 
          </td>
          <td>
            <span>SMTP-AUTH, SSL/TLS (IPPS, HTTPS, SMTP), SNMP v3, 802.1x (EAP-MD5, EAP-FAST, PEAP, EAP-TLS, EAP-TTLS), Kerberos, IPSec</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Security Protocols (Wireless)</strong> 
          </td>
          <td>
            <span>SMTP-AUTH, SSL/TLS (IPPS, HTTPS, SMTP), SNMP v3, 802.1x (LEAP, EAP-FAST, PEAP, EAP-TLS, EAP-TTLS), Kerberos, IPSec</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Wireless Network Security</strong> 
          </td>
          <td>
            <span>WEP 64/128 bit, WPA-PSK (TKIP/AES)</span> 
          </td>
        </tr>
      </table>
      <h3>Power &amp; Operating Requirements</h3>
      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">
            <strong><span>ENERGY STAR<sup>&#xAE;</sup> Qualified</span> </strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Power Consumption - Sleep/Ready/Printing</strong> 
          </td>
          <td>
            <span>7.2W (Deep Sleep: 1.3W)/32W/700W</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong><span>EPA ENERGY STAR&#xAE; TEC Value</span> </strong> 
          </td>
          <td>
            <span>2.485 kWh/week</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Machine Noise (Ready/Printing)</strong> 
          </td>
          <td>
            <span>35dB / 54dB</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Power Source</strong> 
          </td>
          <td>
            <span>AC 120V 50/60 Hz</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Operating Env: Temperature</strong> 
          </td>
          <td>
            <span>50-90 degrees F</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Operating Env: Humidity</strong> 
          </td>
          <td>
            <span>20-80% (w/out condensation)</span> 
          </td>
        </tr>
      </table>
      <h3>Dimensions &amp; Weights</h3>
      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">
            <strong>Unit Dimensions (W&quot;xD&quot;xH&quot;)</strong> 
          </td>
          <td>
            <span>15.7&quot; x 15.6&quot; x 11.3&quot;</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Carton Dimensions (W&quot;xD&quot;xH&quot;)</strong> 
          </td>
          <td>
            <span>19.6&quot; x 19.4&quot; x 20.9&quot;</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Unit Weight (lbs)</strong> 
          </td>
          <td>
            <span>29.3 lbs.</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Carton Weight (lbs)</strong> 
          </td>
          <td>
            <span>34.8 lbs.</span> 
          </td>
        </tr>
      </table>
      <h3>What&#x2019;s Included</h3>
      <table width="100%" style="font-size:12px">
        <tr>
          <td width="40%">
            <strong>&quot;In-Box&quot; Consumables (Yield)&#x2021;</strong> 
          </td>
          <td>
            <span>(1)  Super High-Yield Toner Cartridge (12,000 Pages)<br>(1) DR-890 Drum Unit (50,000 Pages)</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Carton Contents</strong> 
          </td>
          <td>
            <span>(1) Super High-Yield Toner Cartridge (yields approx. 12,000 Pages&#x2021;)<br>(1) DR-890 Drum Unit (yields approx. 50,000 Pages&#x2021;)<br>CD-ROM &#x2013; Installation CD-ROM <br>AC Power Cord<br>Quick Setup Guide</span> 
          </td>
        </tr>
        <tr>
          <td width="40%">
            <strong>Warranty</strong> 
          </td>
          <td>
            <span><em>1 Year Limited</em> </span> 
          </td>
        </tr>
      </table>
    </div>

    <!-- end product_techspecs -->
  </div>
</body>