<head>
  <meta charset="UTF-8">
  <title>HP-C5F95A</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a>
    </div>

    <!-- overview -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <p>Printing performance and robust security built for how you work. This capable printer finishes jobs faster and delivers comprehensive security to guard against threats. Original HP Toner cartridges with JetIntelligence give you more pages.</p>
    </div>
    <!-- /overview -->

    <br><br>

    <!-- property -->
    <div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Fast printing. Strong protection</h4>
          <ul>
            <li>Grab pages and go—without waiting around. This printer wakes up and prints faster than the competition.</li>
            <li>Breeze through multipage documents with two-sided printing that’s faster than the competition.</li>
            <li>Keep printing safe—from boot up to shutdown—with embedded features like LDAP authentication.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>More pages, performance, and protection</h4>
          <ul>
            <li>Get the most prints for your money—with Original HP High Yield Black Toner cartridges with JetIntelligence.</li>
            <li>Count on consistent results at high speeds with precision black toner.</li>
            <li>Help ensure you’re getting the authentic HP quality you paid for with innovative anti-fraud technology.</li>
            <li>Speed through print jobs right out of the box, using preinstalled toner cartridges. Replace them with optional high-yield cartridges.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Save energy and easily manage tasks</h4>
          <ul>
            <li>Help save energy with HP Auto-On/Auto-Off Technology.</li>
            <li>Print using less energy than competitors—enhanced by Original HP Toner cartridges with JetIntelligence.</li>
            <li>Make the most of your office space, with a printer that conveniently fits right into your work style.</li>
            <li>Easily manage devices and settings using HP Web Jetadmin with a suite of essential management features.</li>
          </ul>
        </div>
      </div>
      <div style="display: table">
        <div style="display: table-cell; vertical-align: middle; padding: 0 10px">
          <h4>Stay connected with easy mobile printing options</h4>
          <ul>
            <li>Easily print from a variety of smartphones and tablets—generally no setup or apps required.</li>
            <li>Easily access, print, and share resources with Ethernet and wireless networking.</li>
            <li>Count on wireless direct printing in the office—from mobile devices—without accessing the company network.</li>
            <li>Help workers print with just a touch of their NFC-enabled mobile device to the printer—no network needed.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /property -->

    <br><br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>
<dl>
<dt>


<h2>Specifications</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Print speed black:</dt>
<dd>
<span>Normal: Up to 38 ppm&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>First page out (ready)</dt>
<dd>
<span>Black: As fast as 6.4 sec&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Print quality black (best):
</dt>
<dd>
<ul style="padding-left:0">
<li>HP FastRes 1200</li>
</ul>
</dd>
</dl>
<dl>
<dt>Resolution technology:
</dt>
<dd>
<span>HP FastRes 1200, HP ProRes 1200, 600 dpi</span>
</dd>
</dl>
<dl>
<dt>Duty cycle (monthly, A4)</dt>
<dd>
<span>Up to 80,000 pages&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Recommended monthly page volume</dt>
<dd>
<span>750 to 4000&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Print technology:
</dt>
<dd>
<ul style="padding-left:0">
<li>Laser</li>
</ul>
</dd>
</dl>
<dl>
<dt>Processor speed:
</dt>
<dd>
<ul style="padding-left:0">
<li>1200 MHz</li>
</ul>
</dd>
</dl>
<dl>
<dt>Print languages:
</dt>
<dd>
<ul style="padding-left:0">
<li>HP PCL 5, HP PCL 6, HP postscript level 3 emulation, direct PDF (v 1.7) printing, URF, PCLM, PWG</li>
</ul>
</dd>
</dl>
<dl>
<dt>Display:
</dt>
<dd>
<ul style="padding-left:0">
<li>2-line backlit LCD graphic display</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Connectivity</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>HP ePrint capability:
</dt>
<dd>
<ul style="padding-left:0">
<li>Yes</li>
</ul>
</dd>
</dl>
<dl>
<dt>Mobile printing capability</dt>
<dd>
<span>HP ePrint, Apple AirPrint™, Wireless direct printing, Mopria-certified, Google Cloud Print 2.0, Mobile Apps</span>
</dd>
</dl>
<dl>
<dt>Wireless capability:
</dt>
<dd>
<ul style="padding-left:0">
<li>Yes, Built-in Wi-Fi</li>
<li>Authentication via WEP, WPA/WPA2, WPA Enterprise</li>
<li>Encryption via AES or TKIP</li>
<li>WPS</li>
<li>Wi-Fi Direct</li>
</ul>
</dd>
</dl>
<dl>
<dt>Connectivity, standard:
</dt>
<dd>
<ul style="padding-left:0">
<li>1 Hi-Speed USB 2.0</li>
<li>1 Host USB</li>
<li>1 Gigabit Ethernet 10/100/1000T network</li>
<li>1 Wireless 802.11b/g/n</li>
</ul>
</dd>
</dl>
<dl>
<dt>Network ready:
</dt>
<dd>
<ul style="padding-left:0">
<li>Standard (built-in Ethernet, Wi-Fi) [Operates as both an AP (with Wi-Fi Direct) and STA]</li>
</ul>
</dd>
</dl>
<dl>
<dt>Minimum system requirements</dt>
<dd>
<span>
<ul style="padding-left:0">
<li>Windows 10 (32-bit/64-bit), Windows 8.1 (32-bit/64-bit), Windows 8 (32-bit/64-bit), Windows 7 (32-bit/64-bit): 1 GHz processor, 1 GB RAM (32-bit) or 2 GB RAM (64-bit), 400 MB available hard disk space, CD/DVD-ROM or Internet, USB or Network port</li>
<li>Windows Vista (32-bit): 1 GHz 32-bit (x86) processor, 1 GB RAM (32-bit), 400 MB available hard disk space, CD/DVD-ROM or Internet, USB or Network port</li>
<li>Windows XP (32-bit) SP2: Pentium 233 MHz processor, 512 MB RAM 400 MB available hard disk space, CD/DVD-ROM or Internet, USB or Network port</li>
<li>Windows Server 2003 (32-bit) (SP1 or greater), Windows Server 2003 R2 (32-bit), Windows Server 2008 (32-bit) (SP1 or greater): 1 GHz 32-bit (x86) processor, 1 GB RAM (32-bit), 400 MB available hard disk space, CD/DVD-ROM or Internet, USB or Network port</li>
<li>Windows Server 2008 (64-bit) (SP1 or greater), Windows Server 2008 R2 (64-bit), Windows Server 2008 R2 (64-bit) (SP1): 1 GHz 64-bit (x64) processor, 2 GB RAM (64-bit), 400 MB available hard disk space, CD/DVD-ROM or Internet, USB or Network port</li>
</ul><br>
<ul style="padding-left:0">
<li>OS X 10.8 Mountain Lion</li>
<li>OS X 10.9 Mavericks</li>
<li>OS X 10.10 Yosemite</li>
<li>Internet</li>
<li>USB</li>
<li>1 GB available hard disk space</li>
<li>OS compatible hardware</li>
</ul>
</span>
</dd>
</dl>
<dl>
<dt>Compatible operating systems</dt>
<dd>
<span>Windows OS compatible with In-Box Driver: Windows XP SP3 all 32-bit editions (XP Home, XP Pro, etc), Windows Vista all 32-bit editions (Home Basic, Premium, Professional, etc.), Windows 7 all 32 &amp; 64-bit editions, Windows 8/8.1 all 32 &amp; 64-bit editions (excluding RT OS for Tablets), Windows 10 all 32 &amp; 64-bit editions (excluding RT OS for Tablets)<br> Windows OS compatible with Universal Print Driver (From HP.com): Windows XP SP3 32 &amp; 64-bit editions (XP Home, XP Pro, etc.), Windows Vista all 32 &amp; 64-bit editions (Home Basic, Premium, Professional, etc), Windows 7 all 32 &amp; 64-bit editions, Windows 8/8.1 all 32 &amp; 64-bit editions (excluding RT OS for Tablets), Windows 10 all 32 &amp; 64-bit editions (excluding RT OS for Tablets)<br> Mac OS (HP Print Drivers available from HP.com and Apple Store): OS X 10.8 Mountain Lion, OS X 10.9 Mavericks, OS X 10.10 Yosemite<br> Mobile OS (In-OS drivers): iOS, Android, Windows 8/8.1/10 RT<br> Linux OS (In-OS HPLIP)<br> Auto install: BOSS(3.0, 5.0), DEBIAN(6.0, 6.0.1, 6.0.2, 6.0.3, 6.0.4, 6.0.5, 6.0.6, 6.0.7, 6.0.8, 6.0.9, 6.0.10, 7.0, 7.1, 7.2, 7.3, 7.4, 7.5, 7.6), FEDORA (17, 18, 19, 20), LINUX MINT (13, 14, 15, 16, 17), SUSE LINUX (12.2, 12.3, 13.1), UBUNTU (10.04, 11.10, 12.04,12.10, 13.04, 13.10, 14.04, 14.10)<br> Manual install: MANDRIVA LINUX (2010.0, 2011.0), MEPIS (6.0, 6.5, 7.0, 8.0), PCLINUXOS (2006.0, 2006, 2007.0, 2007, 2008.0, 2008, 2009.0, 2009), RED HAT (8.0, 9.0), RED HAT ENTERPRISE LINUX (5.0, 6.0, 7.0), SLACKWARE LINUX (9.0, 9.1, 10.0, 10.1, 10.2, 11, 12, 12.1), GOS (8.04.1), IGOS (1.0), LINPUS LINUX(9.4, 9.5), LINUX FROM SCRATCH (6)<br> Other OS: UNIX&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Memory specifications</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Memory, standard:
</dt>
<dd>
<span>128MB DRAM; 128MB NAND Flash</span>
</dd>
</dl>
<dl>
<dt>Maximum memory</dt>
<dd>
<span>128MB DRAM<br>128MB NAND Flash</span>
</dd>
</dl>
<dl>
<dt>Hard disk:
</dt>
<dd>
<ul style="padding-left:0">
<li>None</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Paper handling</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Paper handling input, standard:
</dt>
<dd>
<ul style="padding-left:0">
<li>100-sheet multipurpose Tray 1, 250-sheet input Tray 2</li>
</ul>
</dd>
</dl>
<dl>
<dt>Paper handling input, optional</dt>
<dd>
<span>Optional third 550-sheet tray</span>
</dd>
</dl>
<dl>
<dt>Paper handling output, standard:
</dt>
<dd>
<ul style="padding-left:0">
<li>150-sheet output bin</li>
</ul>
</dd>
</dl>
<dl>
<dt>Maximum output capacity (sheets):
</dt>
<dd>
<ul style="padding-left:0">
<li>Up to 150 sheets</li>
</ul>
</dd>
</dl>
<dl>
<dt>Duplex printing:
</dt>
<dd>
<ul style="padding-left:0">
<li>Automatic (standard)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Media sizes supported:
</dt>
<dd>
<ul style="padding-left:0">
<li>Tray 1: Letter, Legal, Executive, Oficio (8.5 x 13 in), A4, A5, A6, B5 (JIS), Oficio (216 x 340 mm), 16K (195 x 270 mm), 16K (184 x 260 mm), 16K (197 x 273 mm), Japanese Postcard, Double Japan Postcard Rotated, Envelope #10</li>
<li>Envelope Monarch, Envelope B5, Envelope C5, Envelope DL, Custom Size, A5-R, 4 x 6 in,  5 x 8 in, B6 (JIS), 10 x 15 in, statement</li>
<li>Tray 2 &amp; Tray 3: Letter, Legal, Executive, Oficio (8.5 x 13 in), A4, A5, A6, B5 (JIS), Oficio (216 x 340 mm), 16K (195 x 270 mm), 16K (184 x 260 mm), 16K (197 x 273 mm), Custom Size, A5-R, 5 x 8 in, B6 (JIS), statement</li>
</ul>
</dd>
</dl>
<dl>
<dt>Media sizes, custom:
</dt>
<dd>
<ul style="padding-left:0">
<li>Tray 1: 76.2 x 127  to 215.9 x 355.6 mm</li>
<li>Tray 2, 3: 104.9 x 148.59  to 215.9 x 355.6 mm</li>
</ul>
</dd>
</dl>
<dl>
<dt>Media types:
</dt>
<dd>
<ul style="padding-left:0">
<li>Paper (plain, EcoFFICIENT, light, heavy, bond, colored, letterhead, preprinted, prepunched, recycled, rough)</li>
<li>Envelopes</li>
<li>Labels</li>
<li>Transparencies</li>
</ul>
</dd>
</dl>
<dl>
<dt>Supported media weight:
</dt>
<dd>
<ul style="padding-left:0">
<li>Tray 1: 60 to 175 g/m²</li>
<li>Tray 2, Optional 550-sheet Tray 3: 60 to 120 g/m²</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Power and operating requirements</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Power:
</dt>
<dd>
<ul style="padding-left:0">
<li>110-volt input voltage: 110 to 127 VAC (+/- 10%), 50/60 Hz (+/- 2 Hz)</li>
<li>220-volt input voltage: 220 to 240 VAC (+/- 10%), 50/60 Hz (+/- 2 Hz) (Not dual voltage, power supply varies by part number with #option code identifier)</li>
</ul>
</dd>
</dl>
<dl>
<dt>Power consumption</dt>
<dd>
<span>591 watts (Active Printing), 6.1 watts (Ready), 2.8 watts (Sleep), 0.6 watts (Auto-On/Auto-Off, via USB connectivity), 0.1 watts (Shutdown or Off)&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Energy efficiency:
</dt>
<dd>
<ul style="padding-left:0">
<li>ENERGY STAR® certified</li>
<li>Blue Angel</li>
<li>EPEAT® Silver</li>
</ul>
</dd>
</dl>
<dl>
<dt>Operating temperature range:
</dt>
<dd>
<ul style="padding-left:0">
<li>15 to 32.5ºC</li>
</ul>
</dd>
</dl>
<dl>
<dt>Operating humidity range:
</dt>
<dd>
<ul style="padding-left:0">
<li>30 to 70% RH</li>
</ul>
</dd>
</dl>
<dl>
<dt>Acoustic power emissions (ready)</dt>
<dd>
<span>Inaudible&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Acoustic pressure emissions bystander (active, printing)</dt>
<dd>
<span>54 dB(A)&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>Dimensions and weight</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>Minimum dimensions (W x D x H)</dt>
<dd>
<span>381 x 357 x 216 mm&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Maximum dimensions (W x D x H)</dt>
<dd>
<span>381 x 634 x 241 mm&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Weight</dt>
<dd>
<span>8.58 kg&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Package dimensions (W x D x H):
</dt>
<dd>
<ul style="padding-left:0">
<li>443 x 274 x 464 mm</li>
</ul>
</dd>
</dl>
<dl>
<dt>Package weight:
</dt>
<dd>
<ul style="padding-left:0">
<li>11.36 kg</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
<dt>


<h2>What's included</h2>



</dt>
<dd style="margin-left:0">
<!--begin spec mapping-->
<dl>
<dt>What's in the box</dt>
<dd>
<span>HP LaserJet Pro M402dw<br>Preinstalled HP 26A Black LaserJet Toner Cartridge (~3100 pages)<br>Getting Started Guide<br>Setup Poster<br>Support Flyer<br>Warranty Guide<br>Printer documentation and software on CD-ROM<br>Power cord<br>USB cable&nbsp;<sup></sup>&nbsp;</span>
</dd>
</dl>
<dl>
<dt>Cable included:
</dt>
<dd>
<ul style="padding-left:0">
<li>Yes, 1 USB cable</li>
</ul>
</dd>
</dl>
<dl>
<dt>Replacement cartridges</dt>
<dd>
<span>
<ul style="padding-left:0">
<li>HP 26A Black LaserJet Toner Cartridge (~3100 pages), CF226A</li>
<li>HP 26X Black LaserJet Toner Cartridge (~9000 pages), CF226X</li>
</ul>
</span>
</dd>
</dl>
<dl>
<dt>Warranty:
</dt>
<dd>
<ul style="padding-left:0">
<li>1 Year Limited Warranty (Return to HP/Dealer - Standard Bench Repair)</li>
</ul>
</dd>
</dl>
<!--end spec mapping-->
</dd>
</dl>
    </div>
    <!-- /specs -->

  </div>
</body>
