<head>
  <meta charset="UTF-8">
  <title>Phaser 67000</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee" target="_self" title="INKMAN’S BEST PRICE GUARANTEE" style="position:relative; display:inline-block;text-decoration:none;">
        <img src="/images/one/printers/beat-20.png" width="68" height="68" style="position:absolute; top: 8px;left:16px">
        <img src="/images/one/printers/banner-pricebeat-base.jpg" width="638" height="83">
        <span style="position:absolute;top:11px;left:14%;width:82%;text-align:center;font-size:19px;color:#0B2F8C">Fuji Xerox Phaser 6700DN BEST PRICE GUARANTEE</span>
      </a>
    </div>

    <!-- end product_cta -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">

      <p>Higher resolution at hight speed and incredibly easy to use. The Phaser&reg; 6700 colour printer accelerates everyone&apos;s productivity, giving you more time to focus on what matters most: the success of your business.</p>
      <p>With the winning combination of exceptional image quality and blazing fast print speed, the Fuji Xerox Phaser 6700 takes your business or your team to a new level of high-volume productivity. You get unbeatable colour accuracy on every business-critical document you print, with the added benefits of superior ease-of-use and renowned reliability that only come from Fuji Xerox. </p>
    </div>

    <br><br>
    <!-- features  -->
    <div>
      <h2 style="text-align:center">Main Features</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <h4>Unrivaled performance and productivity</h4>
      <p>In the push to make your business rise above the competition, the Phaser 6700 colour printer raises the bar when it comes to print quality, performance and reliability.</p>
      <ul>
        <li><strong>Superior print quality</strong>. The Phaser 6700 delivers true 2400 x 1200 dpi print resolution. Combine that with true Adobe® PostScript® 3™, and there’s simply no other workgroup-class colour printer that makes your colour documents look as realistic as they were intended.</li>
        <li><strong>No sacrificing speed</strong>. You get exceptional print quality plus incredible performance, with a colour and black-and-white print speed of up to 45 ppm.</li>
        <li><strong>Keep the busiest workgroups productive</strong>.  The 1.25 GHz processor and standard 1 GB system memory handle a steady stream of complex jobs with ease.</li>
        <li><strong>Your job, your priority</strong>. Our Print Around feature lets you keep the work flowing by moving your job ahead of stalled documents in the print queue.</li>
        <li><strong>Heavy-duty durability</strong>. The 120,000-page monthly duty cycle supports the heaviest office print volumes.</li>
      </ul>
      <h4>Easy in your office, easy on the environment</h4>
      <p>The Phaser 6700 colour printer combines helpful features engineered to make office life easier for a large group of users, with smart design considerations aimed at boosting your sustainability efforts.</p>
      <ul>
        <li><strong>Advanced touch screen interface</strong>. The Phaser 6700 colour printer’s state-of-the-art 4.3-inch colour touch-screen interface makes walk-up operation fast and extremely easy.</li>
        <li>Helpful walk-up features. Embedded help videos provide quick troubleshooting assistance right on the front panel.</li>
        <li><strong>Standard duplexing</strong>. The Phaser 6700DN comes with standard automatic two-sided printing on media up to 220 gsm.</li>
        <li><strong>EA Toner</strong>. Our EA Toner fuses at a much lower temperature, and reduces power consumption by up to 20% and CO2 emissions by up to 35%, compared to conventional toner. It’s also oil-free, delivering brilliant, glossy output, even on ordinary paper.</li>
        <li><strong>Simply smarter</strong>. The Phaser 6700 features Smart Trays — paper trays that alleviate guesswork by showing all available media types and sizes at print time.</li>
        <li><strong>Lower monthly energy bills</strong>. The Phaser 6700 supports the highest ENERGY STAR® standards for power-saving.</li>
      </ul>
      <h4>Peace of mind comes standard</h4>
      <p>With industry-leading security technologies and unmatched reliability, you can depend on the Phaser 6700 colour printer for worry-free operation day after productive day</p>
      <ul>
        <li><strong>State-of-the-art security</strong>. The Phaser 6700 offers free 256-bit encryption using the FIPS 140-2 standard. You also get built-in support for IPv6, IPsec, secure HTTPS, and other industry-standard network security features.</li>
        <li><strong>Keep unauthorised eyes from sensitive documents</strong>. The available Image Overwrite feature completely removes unneeded data from the Phaser 6700 printer’s internal storage.</li>
        <li><strong>Print securely</strong>. The optional Productivity Kit with Hard Drive includes the Secure Print feature, which holds private print jobs in the queue until they’re released at the device by the job owner.</li>
        <li><strong>Engineered to keep performing</strong>. The Phaser 6700 uses long-life consumables for extended, uninterrupted performance.</li>
        <li><strong>Print more for longer</strong>. A maximum paper input of 2,900 pages and high-capacity toner cartridges keep the Phaser 6700 printing longer with fewer interruptions to reload supplies.</li>
        <li><strong>Configure once, deploy fleet wide</strong>. No need to configure each printer individually.  Device configurations can be cloned and distributed to all other Phaser 6700 colour printers.</li>
      </ul>
    </div>
    <!-- /features  -->

    <br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>

      <div>
        <h4>Performance</h4>
        <table cellspacing="0" style="font-size:13px;">
          <tbody>
            <tr>
              <td style="width: 30%;">
                <span>Print Speed</span>
              </td>
              <td>
                <span>
                  Up to 45 colour/black-and-white</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>First Page Out</span>
              </td>
              <td>
                <span>
                  As fast as 8 seconds colour, 7 seconds black &amp; white</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Memory Standard/Maximum</span>
              </td>
              <td>
                <span>
                  1GB / 2GB</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Print Language or PDL (Page Description Language)</span>
              </td>
              <td>
                <span>
                  Adobe PostScript 3, PCL 6, PCL 5c emulation, Direct PDF (with optional hard drive)</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Duty Cycle</span>
              </td>
              <td>
                <span>
                  Up to 120,000 pages / month</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Print Resolution (dpi)</span>
              </td>
              <td>
                <span>
                  Up to 2400 x 1200 dpi</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Image Processing</span>
              </td>
              <td>
                <span>
                  1.25 GHz</span>
              </td>
            </tr>

          </tbody>
        </table> 

        <h4>Paper Handling</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Auto 2-sided Printing (Duplex)</span>
              </td>
              <td>
                <span>
                  Standard</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Media Size</span>
              </td>
              <td>
                <span>
                  Tray 1 (MPT): 150 sheets;
                  Custom sizes: 76 x 127 mm to 216 x 356 mm

                  Tray 2: 550 sheets;
                  Custom sizes: 99 x 191 mm to 216 x 356 mm

                  Optional Additional 550-sheet Tray:
                  Custom sizes: 99 x 191 mm to 216 x 356 mm

                  Additional 550-sheet Tray: Custom sizes:
                  99 x 191 mm to 216 x 356 mm

                  Additional 1,100-sheet Feeder:
                  Custom sizes: 99 x 191 mm to 216 x 356 mm</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Paper Input Capability</span>
              </td>
              <td>
                <span>
                  Tray 1 (MPT): 150 sheets
                  Tray 2: 550 sheets
                  Optional Additional 550-sheet Tray
                  Additional 550-sheet Tray
                  Additional 1,100-sheet Feeder</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Paper Output Capability</span>
              </td>
              <td>
                <span>
                  500 sheets
                  Optional Finisher: 1,000 sheet stacker, 50 sheet stapling</span>
              </td>
            </tr>

          </tbody>
        </table> 

        <h4>Network / Software</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Connectivity</span>
              </td>
              <td>
                <span>
                  USB 2.0, Ethernet 10/100/1000Base-T, Optional external wireless, Apple Bonjour</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Printer Drivers</span>
              </td>
              <td>
                <span>
                  Windows® XP, Server 2003, Server 2008, Vista, 7
                  Mac OS® 10.5 and higher,
                  Oracle® Solaris 9, 10, Red Hat® Enterprise Linux® 4, 5, Fedora Core 11-13, SUSE 11.x,
                  IBM® AIX 5, HP-UX® 11.0/11i,
                  Novell NetWare 6.5 (NDPS) Open Enterprise Server,
                  Xerox Global Print Driver®, Xerox Mobile Express Driver®</span>
              </td>
            </tr>

          </tbody>
        </table>

        <h4>Special Features</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Printer Features</span>
              </td>
              <td>
                <span>
                  Print Around (with optional Hard Drive)
                  Color By Words
                  PDF Direct (with optional Hard Drive)
                  Smart Duplex
                  Run Black
                  Secure and Personal Print (with optional Hard Drive)
                  Smart Trays
                  Custom size pages
                  Collation
                  Watermarks
                  PhaserSMART®
                  Print submission tools
                  Extended Font/Form Storage
                  Scaling
                  Separation Pages
                  N-up Printing
                  Internet Printing Protocol (IPP)
                  Bidirectional driver
                  Layout/watermark</span>
              </td>
            </tr>

          </tbody>
        </table>

        <h4>Color controls</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Colour Controls</span>
              </td>
              <td>
                <span>
                  Color By Words: Intuitive colour enhancement

                  With Color By Words, there is no need to go back to square one and manipulate source files. You can change the colour of one object or area without affecting the rest of the page. Simply select the desired colour modifications from a drop-down list and your printout is automatically adjusted.</span>
              </td>
            </tr>
          </tbody>
        </table>

        <h4>Operation</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Operating</span>
              </td>
              <td>
                <span>
                  Windows® XP, 2003 Server, 2008 Server, Vista, 7;
                  Mac OS® 010.5 and higher, Oracle® Solaris 9, 10,
                  RedHat® Enterprise Linux 4/5, Fedora Core 11-13, SUSE® 11.x,
                  IBM AIX 5™, HP-UX® 11.0/11.i, Novell® NetWare® 5.x,
                  6.x Open Enterprise Server</span>
              </td>
            </tr>

          </tbody>
        </table>

        <h4>Warranty</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Standard Warranty</span>
              </td>
              <td>
                <span>
                  One year on-site warranty</span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
    <!-- /specs -->

    <br>
    <br>

  </div>
</body>
