<head>
  <meta charset="UTF-8">
  <title>Phaser 4622</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee" target="_self" title="INKMAN’S BEST PRICE GUARANTEE" style="position:relative; display:inline-block;text-decoration:none;">
        <img src="/images/one/printers/beat-20.png" width="68" height="68" style="position:absolute; top: 8px;left:16px">
        <img src="/images/one/printers/banner-pricebeat-base.jpg" width="638" height="83">
        <span style="position:absolute;top:11px;left:14%;width:82%;text-align:center;font-size:19px;color:#0B2F8C">Fuji Xerox Phaser 4622 BEST PRICE GUARANTEE</span>
      </a>
    </div>

    <!-- end product_cta -->
    <div>
      <h2 style="text-align:center">Overview</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">

     <p>The Phaser 4622 represents an affordable top-of-the-range mono single-function printer, ideal for SMB offering the ultimate in single-function mono printing, where time is of the essence. Blinding print speed, combined with flexible paper-handling options result in a device that becomes an important asset to any workgroup or department.</p>
     <h4>Quick Facts</h4>
     <ul>
       <li>High speed mono printer 62ppm</li>
       <li>Robust workhorse handles high print volumes</li>
       <li>Apple AirPrint Support</li>
       <li>256MB memory standard and 320GB hard drive optional</li>
       <li>Fast first page out time of 7.8 seconds</li>
       <li>Flexible and powerful paper-handling options including mailbox or finisher</li>
       <li>Pin-release print jobs at the device (via SecurePrint) for confidential documents, improved productivity</li>
       <li>Long-life consumables reduces cost per page and time spent changing toner</li>
     </ul>
    </div>

    <br><br>
    <!-- features  -->
    <div>
      <h2 style="text-align:center">Main Features</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <h4>Heavy-duty reliable performance</h4>
      <ul>
        <li>275,000-page duty cycle supports the heaviest office print volumes.</li>
        <li>Engineered for workgroup demands.</li>
        <li>World-class print speeds that don't sacrifice quality - a fast print speed of up to 62 ppm.</li>
        <li>Enhanced image quality of up to 1200 x 1200 dpi.</li>
      </ul>

      <h4>Help your budget and the environment</h4>
      <ul>
        <li>Highly efficient, no-hassle two-side printing saves money and paper..</li>
        <li>N-up printing allows grouping of multiple pages on a single sheet.</li>
        <li>Supports the highest ENERGY STAR standards for power-saving.</li>
        <li>Our consumables get the most out of every user-replacement component.</li>
        <li>The long-life marking drum lasts longer and requires fewer replacements.</li>
      </ul>
      
      <h4>Protect business-critical information</h4>
     <ul>
       <li>Built-in support for IPv6 and IPsec comes standard.</li>
       <li>The Image Overwrite feature completely removes unneeded data from printer storage.</li>
       <li>State-of-the-art hard disk encryption safeguards the documents saved in the printer's memory.</li>
       <li>Secure Print holds private print jobs in the queue until they're released at the device by the job owner.</li>
     </ul>
    </div>
    <!-- /features  -->

    <br><br>

    <!-- specs -->
    <div>
      <h2 style="text-align:center">Technical Specifications</h2>
      <hr style="border: 0 none; height: 1px; background: #CCC;">
      <br><br>

      <div>
        <h4>Performance</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Print Speed</span>
              </td>
              <td>
                <span>
                  Up to 62 ppm</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>First Page Out</span>
              </td>
              <td>
                <span>
                  7.8 seconds or less</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Memory Standard/Maximum</span>
              </td>
              <td>
                <span>
                  256 MB (std); 768 MB (max)</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Internal Hard Disk</span>
              </td>
              <td>
                <span>
                  320 GB</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Print Language or PDL (Page Description Language)</span>
              </td>
              <td>
                <span>
                  PCL® 6, PCL 5e, PostScript 3 emulation, PDF, Epson</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Print Resolution (dpi)</span>
              </td>
              <td>
                <span>
                  600 x 600 dpi, up to 1200 x 1200 enhanced image quality</span>
              </td>
            </tr>

          </tbody>
        </table> 

        <h4>Paper Handling</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Auto 2-sided Printing (Duplex)</span>
              </td>
              <td>
                <span>
                  Automatic</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Media Size</span>
              </td>
              <td>
                <span>
                  Plain paper, Pre-punched, Transparencies, Preprinted, Heavyweight, Recycled, Bond, Labels, Archive, Cardstock</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Paper Input Capability</span>
              </td>
              <td>
                <span>
                  Standard :Tray 1 (MPT): 100 sheets Tray 2: 550 sheets
                  Optional: Tray 3: 550 sheets Tray 4: 550 sheets Tray 5: 550 sheets Tray 6: 550 sheets
                  High Capacity Feeder (Add to Trays 1-4): 2,000 sheets
                  Max: 3,750 sheets</span>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;">
                <span>Paper Output Capability</span>
              </td>
              <td>
                <span>
                  500 sheets</span>
              </td>
            </tr>

          </tbody>
        </table> 

        <h4>Network / Software</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Connectivity</span>
              </td>
              <td>
                <span>
                  10/100/1000Base-T Ethernet, USB 2.0</span>
              </td>
            </tr>

          </tbody>
        </table> 

        <h4>Special Features</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Printer Features</span>
              </td>
              <td>
                <span>
                  256 levels of halftone (greyscale), Watermarks, N-up, Fit to Page, Scaling, Reduce/enlarge, Toner Saver, Print from USB, Print Around, Collation, Secure Print, Personal Print, Smart Duplex</span>
              </td>
            </tr>

          </tbody>
        </table>

        <h4>Operation</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Operating</span>
              </td>
              <td>
                <span>
                  Microsoft® Windows® XP/Vista/7/8/8.1/Server 2003/Server 2008/Server 2012; Mac® OS 10.5 and higher; Various Linux including Red Hat® Enterprise 4,5; Sun MicroSystems Solaris™ 9,10; Fedora™ Core 1-11; SUSE; IBM AIX®5, HP-UX 11.0/11i, Novell NetWare® 5.x,6.x Open Enterprise Server, Xerox® Global Print Driver®, Xerox® Mobile Express Driver®</span>
              </td>
            </tr>

          </tbody>
        </table>

        <h4>Warranty</h4>
        <table cellspacing="0" style="font-size: 13px;">
          <tbody><tr>
              <td style="width: 30%;">
                <span>Standard Warranty</span>
              </td>
              <td>
                <span>
                  One-year on-site warranty</span>
              </td>
            </tr>

          </tbody>
        </table>

      </div>

    </div>
    <!-- /specs -->

    <br>
    <br>

  </div>
</body>
