<head>
  <meta charset="UTF-8">
  <title>MFC-L6700DW</title>
</head>
<body>
  <div class="product" style="max-width: 750px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <div class="product_cta" style="text-align: center; padding: 20px 0">
      <a href="http://www.inkman.com.au/page.asp?id=printerpriceguarantee">
        <img style="border: 0px solid ; width: 638px; height: 83px;" alt="printer price match guarantee" src="http://www.inkman.com.au/images/large/bnnrprcmtchgrnt.gif">
      </a> 
    </div>

    <!-- end product_cta -->
    <div class="product_overview">
      <h2>Overview</h2>
      <p>The Brother MFC-L6700DW monochrome laser All-in-One addresses the business needs of workgroups with higher print volumes. It boosts printing and copying at up to 48ppm and low cost output with a super high-yield replacement toner cartridge. Advanced
        security features such as network user authentication help protect against unauthorized access. The large 520-sheet capacity paper tray holds more than a ream a paper for fewer refills, and for additional capacity add-on trays boost total capacity
        to 1,610 sheets. Quickly scan two-sided documents to a wide variety of destinations using the 70-page capacity auto document feeder or the legal-size document glass. A large, color Touchscreen display provides customized workflow and direct printing
        from and scanning to popular business cloud services&#x2021;.</p>
    </div>

    <!-- end product_overview -->
    <div class="product_features">
      <h3>Main Features</h3>
      <ul>
        <li><strong>Fast, high-quality printing and copying.</strong>  With a print speed of up to 48 pages per minute, this high-performance All-in-One is ideal for busy workgroups.</li>
        <li><strong>Low cost printing.</strong>  Spend less time replacing supplies and help reduce running costs due to a super high-yield 12,000-page&#x2021; replacement toner cartridge.</li>
        <li><strong>Flexible network connectivity&#x2020;.</strong>  Built-in wireless 802.11b/g/n and Gigabit Ethernet interfaces allow you to share the MFC-L6700DW with multiple users on your network.</li>
        <li><strong>Advanced duplex capabilities.</strong>  Automatic two-sided printing and copying helps save paper. Plus, the 70-page capacity duplex auto document feeder scans both sides of the page in a single-pass for two-sided monochrome scanning up
          to 56ipm&#x2021;.</li>
        <li><strong>4.85&quot; color Touchscreen display.</strong>  Allows for easy menu navigation and creation of up to 48 customized shortcuts. Plus, scan to popular business cloud services&#x2021; directly from the Touchscreen including:
          <a href="http://www.brother-usa.com/connect/web/#.U0xOqT9OW70">
          EVERNOTE&#xAE;, DROPBOX, GOOGLE DRIVE&#x2122;, ONENOTE&#xAE;,</a>  and more.</li>
        <li><strong>Large, expandable paper capacity</strong>  Easily handle your large print jobs via an adjustable 520-sheet capacity paper tray and 50-sheet capacity multi-purpose tray. Additional optional paper trays are available in 250-sheet or 520-sheet
          capacities enabling users to configure the printer with multiple trays in a way that best meets their application requirements &#x2013; up to 1,610-sheet total capacity.</li>
        <li><strong> Convenient mobile device printing and scanning.</strong>  Print from your mobile device via&#x2021;:
          <a href="http://www.brother-usa.com/printer/cloud/mobile-smartphone-apps.aspx"> AirPrint&#x2122;, Google Cloud Print&#x2122; 2.0, Mopria&#xAE;, Brother iPrint&amp;Scan, Cortado Workplace, and Wi-Fi Direct&#xAE;.</a>  Plus, wirelessly scan to your mobile device with the Brother iPrint&amp;Scan app.</li>
        <li><strong>Fast scanning with advanced capabilities&#x2021;.</strong>  Help increase your productivity with monochrome scanning up to 28ipm&#x2021;. Plus, supports multiple scan-to destinations such as E-mail, SSH Server (SFTP), USB, SharePoint&#xAE;,
          Cloud Services, and Network Folder (CIFS) to easily adapt to your customized workflow.</li>
        <li><strong>Legal-size document glass.</strong>  Easily copy or scan bound materials or up to legal-size documents.</li>
        <li><strong>Advanced security features.</strong>  Active Directory&#xAE; support for network user authentication to help protect against unauthorized access to device. Other security features include: Secure Function Lock, LDAP, SSL/TLS, and more.</li>
        <li><strong>Walk-up printing and scanning.</strong>  A USB Host is located on the front of the machine for printing files from or scanning files to your USB flash memory drive&#x2021;.</li>
        <li><strong>Outstanding customer support.</strong>  The Brother MFC-L6700DW offers a 1 year limited warranty with free phone support for the life of your product.</li>
      </ul>
    </div>

    <!-- end product_features -->
    <div class="product_techspecs">
      <h3>Print</h3>
      <table>
        <tr>
          <td>
            <strong>Print Technology</strong> 
          </td>
          <td>
            <span>B/W Laser Technology</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>First Time to Print</strong> 
          </td>
          <td>
            <span>Less than 7.5 seconds&#x2021;</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Consumable Type</strong> 
          </td>
          <td>
            <span>Toner Cartridge &amp; Drum Unit</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Max. Black Print Speed (ppm)</strong> 
          </td>
          <td>
            <span>48ppm Black</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Print Resolution (maximum dpi)</strong> 
          </td>
          <td>
            <span>Up to 1200 x 1200 dpi</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Printer Driver Compatibility&#x2020;</strong> 
          </td>
          <td>
            <span>Windows&#xAE;, Mac OS&#xAE;, <a href="http://support.brother.com/g/s/id/linux/en/index.html?c=us_ot&amp;lang=en&amp;comple=on&amp;redirect=on"> Linux</a> </span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Emulation(s)</strong> 
          </td>
          <td>
            <span>PCL6, BR-Script3&#x2021;, IBM Proprinter, Epson FX, PDF Version 1.7, XPS Version 1.0</span> 
          </td>
        </tr>
      </table>
      <h3>Copy</h3>
      <table>
        <tr>
          <td>
            <strong>Copying Capability</strong> 
          </td>
          <td>
            <span>B/W Copying</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Design Style</strong> 
          </td>
          <td>
            <span>Flatbed</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong><span>Max. Automatic Document Feeder Capacity&#x2021;</span> </strong> 
          </td>
          <td>
            <span>70-Page ADF</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Max. Black Copy Speed (cpm)</strong> 
          </td>
          <td>
            <span>48cpm Black</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Copy Resolution (maximum)</strong> 
          </td>
          <td>
            <span>Up to 1200 x 600 dpi</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Stand-alone Copying</strong> 
          </td>
          <td>
            <span>No PC Required</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Reduction/Enlargement</strong> 
          </td>
          <td>
            <span>25% - 400%</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Sorting Function</strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Duplex Copying</strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong><span>N in 1 Function</span>  </strong> 
          </td>
          <td>
            <span>2in1 / 4in1</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Poster Function</strong> 
          </td>
          <td>
            <span>No</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Document Glass Size</strong> 
          </td>
          <td>
            <span>Legal-size</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong><span>ID Copy</span> </strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
      </table>
      <h3>Scan</h3>
      <table>
        <tr>
          <td>
            <strong>Scan Speed (maximum)&#x2021;</strong> 
          </td>
          <td>
            <span>Simplex: Up to 28ipm (black)/20ipm (color)<br> Duplex: Up to 56ipm (black)/34ipm (color)</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Scanning Capability</strong> 
          </td>
          <td>
            <span>B/W &amp; Color Scanning</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Scan Drivers Included &#x2021;</strong> 
          </td>
          <td>
            <span>TWAIN, WIA, ICA, ISIS, SANE</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Duplex Scanning</strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Max. Interpolated Scan Resolution (dpi)&#x2020;</strong> 
          </td>
          <td>
            <span>19200 x 19200 dpi</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Optical Scan Resolution (dpi)</strong> 
          </td>
          <td>
            <span>1200 x 1200 dpi&#x2021;</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Mobile Device Scanning App&#x2021;</strong> 
          </td>
          <td>
            <span>Brother iPrint&amp;Scan free app download for wireless printing from and scanning to your mobile device. For more information, please <a href="http://www.brother-usa.com/downloads/printing-app.aspx">click here</a> </span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong><span>&quot;Scan To&quot; Feature&#x2020;</span> </strong> 
          </td>
          <td>
            <span>E-mail, Image, OCR, File, FTP, USB, Network Folder (CIFS - Windows&#xAE; only), E-mail Server, SharePoint&#xAE;, SSH Server (SFTP), Cloud (Web Connect)&#x2021;</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Scan File Formats</strong> 
          </td>
          <td>
            <span>JPEG, PDF Single-page/Multi-page (Secure PDF, Searchable PDF, PDF/A), TIFF Single-page/Multi-page, TXT, BMP, DOCX, XML, PPTX, XPS, PNG</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Scanner Driver Compatibility&#x2020;</strong> 
          </td>
          <td>
            <span>Windows&#xAE;/Mac OS&#xAE;</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Advanced Scanning Features</strong> 
          </td>
          <td>
            <span>Continuous Scan&#x2021;, ADF Auto Deskew, Blank Page Skip, ID Scan&#x2021;, Scan Profiles (up to 25)</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Document Viewer Software&#x2020;</strong> 
          </td>
          <td>
            <span>Includes Nuance&#x2122; PaperPort&#x2122; SE with OCR for Windows&#xAE; and Presto!&#xAE; PageManager&#xAE; for Mac&#xAE;</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>OCR Software&#x2020;</strong> 
          </td>
          <td>
            <span>Includes Nuance&#x2122; PaperPort&#x2122; SE with OCR for Windows&#xAE; and Presto!&#xAE; PageManager&#xAE; for Mac&#xAE;</span> 
          </td>
        </tr>
      </table>
      <h3>Fax</h3>
      <table>
        <tr>
          <td>
            <strong>Faxing Capability</strong> 
          </td>
          <td>
            <span>B/W Faxing</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Fax Modem Speed</strong> 
          </td>
          <td>
            <span>33.6K bps Super G3 Fax Modem</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong><span>PC Fax Capability (send/receive)&#x2020;</span> </strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Best Transmission Speed (sec)&#x2021;</strong> 
          </td>
          <td>
            <span>Approx. 2.5 seconds per page</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Duplex Faxing</strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Call Waiting/ Caller ID/ <span>Distinctive Ring Ready&#x2021;</span> </strong> 
          </td>
          <td>
            <span>No/No/Yes</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Out-of-Paper Reception</strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong><span>External TAD Interface</span> </strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Total Auto Dial Locations</strong> 
          </td>
          <td>
            <span>300 locations</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Broadcasting (# of locations) </strong> 
          </td>
          <td>
            <span>Yes (350 locations)</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Quick Scan (Memory Transmission)&#x2021;</strong> 
          </td>
          <td>
            <span>Approx. 2.5 sec/page</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong><span>Fax/Telephone Switch</span> </strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Fax Page Memory&#x2021;</strong> 
          </td>
          <td>
            <span>Up to 500 page fax memory</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Auto Fax Receive Date/Time Header</strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Document Memory Backup</strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
      </table>
      <h3>Paper Handling</h3>
      <table>
        <tr>
          <td>
            <strong>Standard Input Paper Capacity (sheets)&#x2021;</strong> 
          </td>
          <td>
            <span>520-Sheet Input Capacity</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Multi-purpose Tray</strong> 
          </td>
          <td>
            <span>Yes (up to 50 sheets)</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Output Paper Capacity (sheets)</strong> 
          </td>
          <td>
            <span>150 sheets</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Optional Paper Capacity (sheets)</strong> 
          </td>
          <td>
            <span>LT-5500&#x2021; (250 sheets x2) or LT-6500&#x2021; (520 sheets x2)</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong><span>Duplex Printing Capability</span> </strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Paper Handling Size - Paper Tray</strong> 
          </td>
          <td>
            <span>Letter, Legal, Executive, A4, A5, A6</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Paper Handling Size - Multi-Purpose Tray</strong> 
          </td>
          <td>
            <span>Letter, Legal, Executive, A4, A5, A6, Envelopes, Custom Sizes (3.0-8.5&quot; (w), 5.0-14&quot; (l))</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Sheet Weight - Paper Tray (max/min)</strong> 
          </td>
          <td>
            <span>16-32 lbs. (bond)</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Sheet Weight - Multi-purpose Tray (max/min)</strong> 
          </td>
          <td>
            <span>16-53 lbs. (bond)</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Minimum Input for ADF (Width/Height)</strong> 
          </td>
          <td>
            <span>4.1&quot;/5.8&quot;</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Max Input of ADF (Width/Height)</strong> 
          </td>
          <td>
            <span>8.5&quot;/14&quot;</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Sheet Weight - ADF (max/min)</strong> 
          </td>
          <td>
            <span>17-24 lbs.</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Recommended Paper Brands</strong> 
          </td>
          <td>
            <span>Plain Paper: Xerox 4200DP 20 lb., Hammermill Laser Paper 24 lb., Labels: Avery Laser Label #5160</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Media Type</strong> 
          </td>
          <td>
            <span>Plain, Bond, Envelopes (up to 10), Labels, Recycled Paper, Colored Paper, Letterhead</span> 
          </td>
        </tr>
      </table>
      <h3>
        Connectivity &amp; Compatibility</h3>
      <table>
        <tr>
          <td>
            <strong>Standard Interface(s)</strong> 
          </td>
          <td>
            <span>Wireless 802.11b/g/n, Gigabit Ethernet, Hi-Speed USB 2.0</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>USB Host</strong> 
          </td>
          <td>
            <span>Yes, front</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Standard Network Features&#x2020;</strong> 
          </td>
          <td>
            <span>Printing, Scanning, PC Fax Send / Receive (PC Fax receive not available for Mac OS&#xAE;), <span>I-Fax,</span>  Corporate Address Book <span>(LDAP)</span> </span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Mobile Device Compatibility&#x2021;</strong> 
          </td>
          <td>
            <span><a href="http://www.brother-usa.com/printer/cloud/mobile-smartphone-apps.aspx">AirPrint&#x2122;, Google Cloud Print&#x2122; 2.0, Brother iPrint&amp;Scan, Mopria&#xAE;, Cortado Workplace, and Wi-Fi Direct&#xAE;</a> </span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Web Connect&#x2021;</strong> 
          </td>
          <td>
            <span><a href="http://www.brother-usa.com/connect/web/#.U0xOqT9OW70">GOOGLE DRIVE&#x2122;/GOOGLE DRIVE for Business,  EVERNOTE&#xAE;/EVERNOTE Business, ONEDRIVE&#xAE;/ONEDRIVE for Business, ONENOTE&#xAE;, DROPBOX/DROPBOX for Business, Google Apps for Business&#x2122;, BOX/BOX for Business, FACEBOOK&#x2122;, FLICKR&#xAE;, and PICASA Web Albums&#x2122;</a> </span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Brother Cloud Apps&#x2021;</strong> 
          </td>
          <td>
            <span><a href="http://www.brother-usa.com/connect/cloud-apps/#.VrOVW7IrK70">Office Print, Outline&amp;Copy, Outline&amp;Scan, Easy Scan to E-mail, NoteScan, Office Doc Creator, CreativeCenter&#xAE;</a> </span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Supported Network Protocols (IPv4)</strong> 
          </td>
          <td>
            <span>ARP, RARP, BOOTP, DHCP, APIPA(Auto IP), WINS/NetBIOS name resolution, DNS Resolver, mDNS, LLMNR responder, LPR/LPD, Custom Raw Port/Port9100, POP3, SMTP Client, IPP/IPPS, FTP Client and Server, CIFS Client, TELNET Server, SNMPv1/v2c/v3, HTTP/HTTPS server, TFTP client and server, ICMP, Web Services (Print/Scan), SNTP Client, LDAP, IMAP4</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Supported Network Protocols (IPv6)</strong> 
          </td>
          <td>
            <span>NDP, RA, DNS resolver, mDNS, LLMNR responder, LPR/LPD, Custom Raw Port/Port9100, IPP/IPPS, POP3, SMTP Client, FTP Client and Server, CIFS Client, TELNET Server,  SNMPv1/v2c, HTTP/HTTPS server, TFTP client and server, ICMPv6, SNTP Client, LDAP, Web Services (Print/Scan), IMAP4</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong><span>One-Push Wireless Setup</span> </strong> 
          </td>
          <td>
            <span>Wi-Fi Protected Setup&#x2122;</span> 
          </td>
        </tr>
      </table>
      <h3>General</h3>
      <table>
        <tr>
          <td>
            <strong>LCD Display</strong> 
          </td>
          <td>
            <span>4.85&quot; Color Touchscreen display</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Standard Memory (MB)</strong> 
          </td>
          <td>
            <span>512MB</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Toner Save Mode</strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Maximum Monthly Duty Cycle&#x2021;</strong> 
          </td>
          <td>
            <span>100,000 printed pages</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Recommended Monthly Print Volume&#x2021;</strong> 
          </td>
          <td>
            <span>Up to 5,000 pages</span> 
          </td>
        </tr>
      </table>
      <h3>
        Security Features</h3>
      <table>
        <tr>
          <td>
            <strong>Security Functions</strong> 
          </td>
          <td>
            <span>Active Directory&#xAE;, Secure Function Lock, Enterprise Security (802.1x), Lock Slot, Secure Print, SSl/TLS, IPSec</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Wireless Network Security</strong> 
          </td>
          <td>
            <span>WEP 64/128 bit, WPA-PSK (TKIP/AES), WPA2-PSK (AES), WPA2-PSK (AES)</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Security Protocols (Wireless)</strong> 
          </td>
          <td>
            <span>APOP, SMTP-AUTH, SSL/TLS (IPPS, HTTPS, SMTP, POP3, IMAP4), SNMP v3, 802.1x (LEAP, EAP-FAST, PEAP, EAP-TLS, EAP-TTLS), Kerberos, IPSec</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Security Protocols (Wired)</strong> 
          </td>
          <td>
            <span>APOP, SMTP-AUTH, SSL/TLS (IPPS, HTTPS, SMTP, POP3, IMAP4), SNMP v3, 802.1x (EAP-MD5, EAP-FAST, PEAP, EAP-TLS, EAP-TTLS), Kerberos, IPSec</span> 
          </td>
        </tr>
      </table>
      <h3>Power &amp; Operating Requirements</h3>
      <table>
        <tr>
          <td>
            <strong><span>ENERGY STAR<sup>&#xAE;</sup> Qualified</span> </strong> 
          </td>
          <td>
            <span>Yes</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Power Source</strong> 
          </td>
          <td>
            <span>AC 120V 50/60Hz</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Power Consumption - Sleep/Ready/Copying</strong> 
          </td>
          <td>
            <span>8.4W (Deep Sleep: 1.6W)/36W/630W</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Operating Environment: Temperature</strong> 
          </td>
          <td>
            <span>32-104&#xB0; F</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Operating Environment: Humidity</strong> 
          </td>
          <td>
            <span>20-80% (w/out condensation)</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Machine Noise (Ready/Printing)</strong> 
          </td>
          <td>
            <span>35dB / 55dB</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong><span>EPA ENERGY STAR&#xAE; TEC Value</span> </strong> 
          </td>
          <td>
            <span>2.056 kWh / Week</span> 
          </td>
        </tr>
      </table>
      <h3>
        Dimensions &amp; Weights</h3>
      <table>
        <tr>
          <td>
            <strong>Carton Dimensions (W&quot;xD&quot;xH&quot;)</strong> 
          </td>
          <td>
            <span>23.6&quot; x 20.7&quot; x 25.9&quot;</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Carton Weight (lbs)</strong> 
          </td>
          <td>
            <span>48.7 lbs.</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Unit Dimensions (W&quot;xD&quot;xH&quot;)</strong> 
          </td>
          <td>
            <span>19.5&quot; x 16.8&quot; x 20.4&quot;</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Unit Weight (lbs)</strong> 
          </td>
          <td>
            <span>40.5 lbs.</span> 
          </td>
        </tr>
      </table>
      <h3>
        What&#x2019;s Included</h3>
      <table>
        <tr>
          <td>
            <strong>&quot;In-box&quot; Consumables/Yield&#x2021;</strong> 
          </td>
          <td>
            <span>(1) Standard Yield Toner Cartridge (3,000 Pages)<br>(1) DR820 Drum Unit (30,000 Pages)</span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Carton Contents</strong> 
          </td>
          <td>
            <span>(1) Standard Yield Toner Cartridge (yields approx. 3,000 Pages&#x2021;)<br>(1) DR820 Drum Unit (yields approx. 30,000 Pages&#x2021;)<br>Quick Set Up and Basic User&apos;s Guide<br>Documentation/Installation CD<br>AC Power Cord<br>Telephone Line Cord<br></span> 
          </td>
        </tr>
        <tr>
          <td>
            <strong>Warranty</strong> 
          </td>
          <td>
            <span><a href="/virdata/content/en-US/MFC/WarrantyDocuments/WarrantyStatements/DCPFaxMFCPrinter_1YR_ExchangeWarranty_06052012.pdf" title="Click here to view the Warranty statement for the Brother MFC-L6700DW">1 Year Limited</a> </span> 
          </td>
        </tr>
      </table>
    </div>

    <!-- end product_techspecs -->
  </div>
</body>